@import '../../theme/theme';

.mobileLandingPage {
  height: 96vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background: transparent;
  padding-bottom: 75px;
  position: fixed;
}
.mainMapContainer {
  width: inherit;
  height: inherit;
  background: #87ceeb; // will be remove in future
}
.projectListControltabsContainer {
  max-width: max-content;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  border-radius: 5px;
  min-height: 28px;
}

.projectListMainContainer {
  width: 92%;
  height: calc(100% - 85px);
  background: transparent;
  border-radius: 16px;
  margin-top: 85px;
  .projectListSubContainer {
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background: transparent;
    }
    scrollbar-width: none; // for firefox
  }
}

//need to be remove in future
.projectCard {
  background: #e28743;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  min-height: 225px;
}

.inActiveMapTab,
.activeMapTab {
  padding: 4px;
  border-radius: 8px;
  font-size: $fontXXSmall;
  font-weight: 400;
  min-width: 65px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
}

.inActiveMapTab {
  background: #fff;
  border: solid 2px $primaryColor;
  color: #000;
}

.activeMapTab {
  background: $primaryColor;
  color: #fff;
}
