.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow: hidden;
}

.controls,
.controlsMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  height: 47px;
  max-width: 355px;
}

.controlsMobile {
  gap: 10px;
  padding: 0 10px;
}

.iconsMobile {
  display: flex;
  gap: 10px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardListMobile {
  padding: 0 9px;
}
