@import '../../../theme/theme';

.donationReceiptSkeleton {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.donationReceiptLayout {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background: var(--background-base);
  @include xsPhoneView {
    padding: 0 2%;
  }
}

.donationReceiptContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
  min-height: 60px;
  margin-top: 60px;
  @include xsPhoneView {
    align-items: center;
  }
}

.receiptVerificationHeader {
  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  h3 {
    font-size: 14px;
    font-family: 400;
    color: rgba(51, 51, 51, 1);
  }
}

.receiptDataSection {
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  background: #fff;
}

.donationRecord {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 6px 16px 16px 16px;

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}

.paymentDate {
  text-align: right;
}

.amountDonated {
  text-align: center;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  .amount {
    flex: 1;
    text-align: center;
  }

  .reference {
    flex: 1;
    text-align: left;
  }

  .date {
    flex: 1;
    text-align: right;
  }
}

.record:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.recipientDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(242, 242, 242, 0.5);
  width: 100%;
  border-radius: 9px;
  margin-top: 25px;
  padding: 10px 15px;

  .header {
    font-weight: 600;
    font-size: 14px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
  }
}

.address,
.Name,
.companyName,
.tin {
  display: flex;
  flex-direction: column;
  color: rgba(130, 130, 130, 1);
  gap: 7px;
  .header {
    font-size: 12px;
    font-weight: 700;
  }
}

.receiptActions {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  padding: 0px 10px;
  @include xsPhoneView {
    flex-direction: column;
  }
  button {
    flex: 1 1;
  }
  svg {
    width: 13px;
  }
}
