@import '../../../theme/theme';

.layoutBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  background: var(--background-base);
}

.donationReceiptSkeleton {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}

.donationReceiptLayout {
  @extend .layoutBase;
  width: 100vw;
  margin-top: 80px;
  @include xsPhoneView {
    padding: 0 2%;
  }
}

.donationReceiptContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 760px;
  min-height: 60px;
  margin: 60px 0 20px;
  @include xsPhoneView {
    align-items: center;
  }
}

.verifyReceiptHeader {
  h2 {
    font-size: $fontLarge;
    font-weight: 600;
  }

  h3 {
    font-size: $fontSmall;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }
}

.verifyReceiptFooter,
.receiptDataSection {
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
}

.donationsTable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 6px 16px 16px;

  @include xsPhoneView {
    padding: 6px 6px 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
}

.paymentDate {
  text-align: right;
}

.amountDonated {
  text-align: center;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  .amount {
    flex: 1;
    text-align: center;
  }

  .reference {
    flex: 1;
    text-align: left;
  }

  .date {
    flex: 1;
    text-align: right;
  }
}

.record:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.totalAmount {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.donorDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(242, 242, 242, 0.5);
  width: 100%;
  border-radius: 9px;
  padding: 10px 15px;

  .errorMessageContainer {
    display: flex;
    gap: 5px;

    .errorMessage {
      font-size: 12px;
      color: rgba(235, 87, 87, 1);
    }
  }

  .header {
    font-weight: 700;
    font-size: $fontSmall;
  }

  .donorInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
    flex-wrap: wrap;
  }
}

.addressInfo,
.donorName,
.companyName,
.tin {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: rgba(130, 130, 130, 1);

  .header {
    font-size: $fontXSmall;
    font-weight: 700;
  }
}

.receiptActions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  padding: 0px 10px;

  @include xsPhoneView {
    flex-direction: column;
  }

  a,
  button {
    width: 100%;
  }
  svg {
    width: 13px;
  }
}

.downloadButtonContainer {
  min-width: 287px;
}

.donationReceiptSpinner {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.viewTaxReceiptsAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 9px;
  padding: 8px;
  .redirectButton {
    cursor: pointer;
  }

  h3 {
    font-weight: 600;
    font-size: $fontSmall;
  }

  p {
    font-size: $fontXSmall;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    max-width: 500px;
  }
}

.contactInfo {
  display: flex;
  gap: 16px;
  // margin-top: 30px;

  .contactSupportMessage {
    font-weight: 400;
    font-size: $fontSmall;
  }

  .contactDetails {
    display: flex;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 0px;
  }
}

// donor contact management  styles

.donorContactManagementLayout {
  @extend .layoutBase;
  width: calc(100vw - 119px);
  margin: 80px auto 0;
}

.donorContactManagement {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  max-width: 760px;
  margin-top: 55px;

  .headerContainer {
    display: flex;

    button {
      cursor: pointer;

      svg {
        margin-left: 0px !important;
      }
    }
  }
}

.contactManagementHeader {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 16px;
}

.donorContactForm {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 26px 19px 22px;

  .donorNameContainer {
    display: flex;
    gap: 10px;
    margin: 0px 12px;

    @include xsPhoneView {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.donorAddressSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;

  .errorMessage {
    font-size: 12px;
    color: #e74c3c;
    margin-left: 4px;
  }

  .addressInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    border-radius: 9px;
    padding: 24px;
    background: rgba(242, 242, 242, 0.5);
    position: relative;
    flex-wrap: wrap;

    .addressInfoSubContainer {
      display: flex;
      align-items: center;

      address {
        max-width: 415px;
      }
    }

    .addressType {
      padding: 5px 10px;
      max-width: fit-content;
      border-radius: 6px;
      text-align: center;
      font-size: var(--font-x-extra-small);
      font-weight: 600;
      background-color: var(--primary-dark-color);
      color: #fff;
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 13px;
      top: 13px;
    }
  }
}

.donorContactFormAction {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 68px;
  margin: 68px 12px 0px;

  button {
    flex: 1;
  }
  @include xsPhoneView {
    flex-direction: column;
  }
}

.baseErrorMessage {
  background-color: rgba(255, 243, 243, 0.5);
  border-radius: 9px;
  color: rgba(235, 87, 87, 1);
  padding: 16px;
}

.missingInfoError {
  @extend .baseErrorMessage;
  width: 100%;
}

// donation receipt list

.receiptListHeader {
  font-weight: 600;
  font-size: 20px;
}

.donationReceipts {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 21px;
}

.donationReceiptCard {
  display: flex;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;

  .donationInfo {
    display: flex;
    flex-direction: column;
  }

  .amount {
    font-size: 24px;
    font-weight: 400;
  }
}
.receiptListFooter {
  border-radius: 16px;
  padding: 16px;
  margin-top: 34px;
  background-color: #fff;
}
