@import '../../theme/theme';

.reviewReportsContainer {
    padding: 16px;
    width: 100%;
    max-width: 274px;
    border-radius: 14px;
    background-color: $reviewBackgroundColorNew;
}
.titleContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    h6 {
        color: #2F3336; //to be replaced
        font-size: $fontXXSmall;
        font-weight: 700;
    }
   
}
.downloadReportContainer {
    
    display: flex;
    align-items: center;
    gap: 6px;
    p {
        font-size: $fontXXXSmallNew;
        color: $reviewFontColorNew;
        font-weight: 700;

    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.reviewInfoContainer {
    display: flex;
    gap: 7px;
    color: #2F3336; //to be replaced
    font-size: $fontXXSmall;
    margin-top: 4px;
    
    a {
        color: $reviewLinkColorNew;
        text-decoration: underline;
        font-weight: 700;

    }
}
.verifiedIcon {
    display: flex;
    align-items: center;
}