@import './../../../../theme/theme';

.impersonationAlertContainer {
  background-color: $dsSoftSky;
  margin-top: 142px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: $fontXXSmall;
  font-weight: bold;

  .exitImpersonationContainer {
    margin-left: 2rem;
    cursor: pointer;
    display: flex;
  }

  .exit {
    margin-left: 7px;
  }
}

// Loader for Buttons
.spinner {
  border: 2px solid $dsBaseGrey;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
