@import '../../../../theme/theme';

.contributionSummary {
  padding: 6px;
  background-color: #fff;
  color: #4f4f4f;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 22px;
  width: fit-content;

  > * {
    font-size: $fontXXSmall;
  }

  .contributionDetails {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .contributedUnits {
    font-weight: 700;
  }

  .giftIconContainer {
    width: 10px;
    display: grid;
    place-items: center;
  }
}

.tooltip {
  width: fit-content;
}
