
.conatiner{
    position: fixed;
    bottom: 50px;
    right: 70px;
    min-width: 200px;
    border-radius: 8px;
    background: red;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
    max-width: 98%;
    pointer-events: all;
    z-index: 999;
}