@import '../../theme/theme';
.databoxContainer {
    display: flex;
    width: fit-content;
    padding: 12px 8px;
    background-color: #fff;
    align-items: center;
    border-radius: 12px;
    position: relative;
    margin-top: 80vh;
    gap: 24px;
}

.startYearText {
    font-size: 8px;
    margin-top: 4px;
    color: #828282;
}

.menuButton {
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 7px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 700;
    gap: 22px;
    width: 140px;
    cursor: pointer;
    .label {
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }
    svg {
        width: 100%;
        overflow: visible;
    }
  
}
.dropdownIcon{
    display: flex;
    align-items: center;
}
.itemsContainer {
    position: absolute;
    bottom: 90px;
    padding:12px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 10px;
    width: 134px;
}
.menuItem {
    display: flex;
    align-items: center;
    padding: 6px 7px;
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;
    .optionIcon {
        height: 14px;
        width: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .optionLabel {
        display: flex;
        flex-direction: column;
        span {
            font-size: 4px;
            letter-spacing: 1.48px;
            text-transform: uppercase;
        }
    }
}
.selected {
    border-radius: 4px;
    background-color: #F2F2F2;
    font-weight: 700;
    padding: 6px 7px;
}

.divider {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #E0E0E0;
    top: 0;
    left: 177px;

}
.sliderInfoContainer {
    display: flex;
    padding: 12px 10px 12px 0;
}
.infoIcon {
    position: absolute;
    left: calc(100% - 18px);
    top: 1px;
    cursor: pointer;
    overflow: visible;
    width: 100%;
}
.labelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4F4F4F; 
    font-size: 8px;
    font-weight: 600;
}

.databoxPopup {
    border-radius: 8px;
    border: 0.5px solid #FFF;
    background: #FFF;
    position: absolute;
    bottom: 90px;
    right:0px;
    padding:18px;
    min-width: 345px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.5;
    .popupHeading {
        display: flex;
        justify-content: space-between;
        h6 {
            font-size: 14px;
            color: #333;
            font-weight: 700;
        }
    }
    h6 {
        font-size: 8px;
        color: #333;
        font-weight: 700;
    }
    p {
        font-size: 8px;
        color: #4F4F4F;
    }
    button {
        svg {
            cursor: pointer;
        }
    }
}
@include xsPhoneView {
    .databoxContainer {
       max-width: 278px;
    }
    .menuButton {
        width: 118.5px;
        height: 21px;
        font-size: 8px;
        padding: 5px 8px;
    }
    .divider {
        left: 154px;
    }
    .sliderInfoContainer {
        padding: 6px 6px 7px 0px;
    }
    .itemsContainer {
        bottom: 80px;
        width:118.5px;
    }
    .menuItem{
        gap:4px;
    }
    .databoxPopup {
        min-width: 248px;
    }
}