@import '../../../../theme/theme';

.siteMapLayerControls {
  width: 100%;
  max-width: 100%;
  background-color: $backgroundColor;
  border-radius: 12px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  box-sizing: border-box;

  > * {
    &:not(:last-child) {
      border-right: 1px solid $hintTextColor;
    }
  }

  @include smTabletView {
    max-width: 384px;
    right: 10px;
    flex-direction: row;
  }
}

.siteLayerSelector {
  position: relative;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;

  @include xsPhoneView {
    border-radius: 12px 12px 0 0;
  }

  @include smTabletView {
    width: auto;
    padding: 12px 12px 12px 8px;
  }
}

.siteLayerDropdown {
  position: relative;
  width: 100%;
}

.dropdownButton {
  background-color: $fieldBackgroundColor;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px 8px 6px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  .dropdownButtonIcon,
  .dropdownButtonArrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdownButtonArrow {
    transition: transform 0.3s ease;
  }

  .arrowRotated {
    transform: rotate(-180deg);
  }

  .dropdownButtonText {
    font-size: $fontXSmall;
    color: $coreTextColor;
    font-weight: 700;
    flex: 1;

    & .timePeriodTextMobile {
      font-weight: 400;
      margin-left: 3px;

      @include smTabletView {
        display: none;
      }
    }
  }

  @include smTabletView {
    width: 180px;
    padding: 6px 10px 6px 6px;
  }
}

.optionsWrapper {
  position: absolute;
  bottom: calc(100% + 22px);
  left: 0;
  width: 100%;
  border-radius: 4px;
  z-index: 50;
}

.siteLayerOptions {
  background-color: $backgroundColor;
  padding: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.singleLayerOption {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 4px;

  &.selected {
    background-color: $fieldBackgroundColor;
    font-weight: 700;
  }

  .optionLabel {
    font-size: $fontXSmall;
    color: $coreTextColor;
  }
}

.timePeriodText {
  font-size: $fontXXSmall;
  color: $softTextColorTwo;
  padding: 4px 6px;

  @include xsPhoneView {
    display: none;
  }
}

.siteLayerLegend {
  text-align: center;
  width: 100%;

  @include xsPhoneView {
    border-radius: 0 0 12px 12px;
  }
}
