.mapCreditsContainer {
  position: absolute;
  right: 48px;
  bottom: 2px;
  z-index: 1;
  cursor: pointer;
}

.mapCredit {
  padding: 10px;
  width: 330px;
}
.contributionPopup,
.registeredTreePopup {
  > div {
    border-radius: 8px;
  }
}

.contributionPopup {
  > div:nth-child(1) {
    display: none;
  }
}

.contributionPopup {
  > div {
    padding: 0px;
  }
}

.customDonateButton {
  padding: 5px 16px;
  font-size: 12px;
  white-space: wrap;
}

.donation-popup {
  > div {
    display: none;
  }
}

.donationPopupContainer {
  min-width: 235px;
  min-height: 154px;
  border-radius: 8px;
  box-shadow: 2.889px 5.778px 11.556px 0px rgba(0, 0, 0, 0.1);
  .imageContainer {
    height: 94px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 38.29%, #000 100%);
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.popupProjctImage {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #fff;
  width: 100%;
  height: 94px;
  object-fit: cover;
}

.projectInfoMainContainer {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  height: fit-content;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  > .projectInfoContainer {
    width: 100%;
  }
}

.donationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trees {
  font-weight: 700;
  font-size: 12px;
}

.seperator {
  font-weight: 700;
}
.countryAndTpo {
  display: inline;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  .seperator {
    margin: 0px 3px;
  }
}

.singleContributionDate {
  font-size: 7px;
  color: rgba(130, 130, 130, 1);
}

.popupDonateButton {
  padding: 2px 8px !important;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.listOfContributionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: rgba(33, 150, 83, 0.05);
  gap: 4px;
  > .contributionInfoContainer {
    min-width: 110px;
    background: #fff;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    > .trees {
      font-size: 8px;
      font-weight: 700;
      line-height: 7px;
    }
    .contributionDate {
      font-size: 6px;
      line-height: 7px;
      color: rgba(79, 79, 79, 1);
    }
  }
}

.totalContribution {
  min-width: 110px;
  height: 18px;
  background: rgba(0, 122, 73, 0.1);
  color: rgba(0, 122, 73, 1);
  border-radius: 4px;
  padding: 7px 14px;
  display: flex;
  font-size: 6px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.projectImageInfoContainer {
  position: absolute;
  width: max-content;
  left: 10px;
  bottom: 10px;
  color: #fff;
  .projectName {
    font-size: 10px;
    font-weight: 600;
    height: 15px;
  }
}
.classificationContainer {
  display: flex;
  gap: 3.8px;
  height: 15px;
  align-items: center;
}
.classificationIcon {
  width: 10px;
}
.classification {
  font-size: 7px;
  font-weight: 600;
}
// styles for registered tree popup
.registeredTreePopupContainer {
  display: flex;
  padding: 0px 21px;
  flex-direction: column;
  align-items: center;
}

.registeredTrees {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.registeredTreeLabel {
  font-size: 8px;
  font-weight: 600;
  line-height: 120%;
}

.registeredTreeDate {
  font-size: 8px;
  font-weight: 600;
  color: rgba(130, 130, 130, 1);
}

.registeredTreeIconContainer {
  width: 42px;
  height: 49px;
}
