.mapCreditsContainer {
  position: absolute;
  right: 48px;
  bottom: 2px;
  z-index: 1;
  cursor: pointer;
}

.mapCredit {
  padding: 10px;
  width: 330px;
}
.contributionPopup,
.registeredTreePopup {
  > div {
    border-radius: 8px;
  }
}

.contributionPopupContainer {
  min-width: 208px;
  min-height: 95px;
}
