@import './../../../theme/theme';
.link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}
.link_icon {
  width: 24px;
  height: 24px;
}
.top_nav {
  height: 60px;
  justify-content: center !important;
  padding: 0px !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  width: 100%;
  background-color: #ffffff;
}

.first_icon {
  position: absolute;
  left: calc(25% - 100px);
  bottom: 0;
  top: 0;
}

.tenant_logo_container {
  display: flex;
  align-items: center;
}

.tenant_logo_container > img {
  height: 44px;
  width: auto;
}

.tenant_logo_container .logo_divider {
  height: 36px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 14px;
}

.link_container > p {
  font-size: 12px;
  margin-top: 4px;
  font-family: $primaryFontFamily;
  font-weight: bold;
  color: #2f3336;
}
.link_container > p.active_icon {
  color: #89b35a;
}
.nav_container {
  height: 60px;
}
.mobile_nav {
  justify-content: space-around !important;
  width: 100%;
  height: 60px;
}

.bottom_nav {
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.12);
}

.logoContainer {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}
.logoText {
  font-size: 12px;
  margin-top: 4px;
  font-family: $primaryFontFamily;
  margin-bottom: 0px;
}
.logoImage {
  height: 27px;
  width: 27px;
}

@media only screen and (max-width: 768px) {
  .top_nav {
    display: none;
  }
}
