@import './../../../theme/theme';

// $primaryColor: $primaryColor;
.link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
  cursor: pointer;
}
.link_icon {
  width: 24px;
  height: 24px;
}
.top_nav {
  height: 60px;
  justify-content: center;
  padding: 0px !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  width: 100%;
  background-color: #ffffff;
}

.first_icon {
  position: absolute;
  left: calc(25% - 100px);
  padding: 0.3rem 0.5rem;
  top: 2px;
  bottom: 2px;
  margin-left: 16px;
}

.tenant_logo {
  left: calc(25% - 140px);
  padding: 0rem 0.5rem;
}

.first_icon > .link_container > .link_icon {
  height: 30px;
  width: 30px;
}

.tenant_logo_container {
  display: flex;
  align-items: center;
}

.tenant_logo_container img {
  height: 44px;
  width: auto;
}

.tenant_logo_container .logo_divider {
  height: 36px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0rem 0.5rem;
}

.link_container > p {
  font-size: 12px;
  margin-top: 4px;
  font-family: $primaryFontFamily;
  font-weight: bold;
  color: #2f3336;
}
.link_container > p.active_icon {
  color: #89b35a;
}
.nav_container {
  height: 60px;
}

.navlink {
  padding: 0.5rem;
  cursor: pointer;
}

.mobile_nav {
  justify-content: space-around !important;
  width: 100%;
  height: 60px;
  align-items: center;
}

.bottom_nav {
  display: none;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.12);
}

.logoContainer {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}
.logoText {
  font-size: 12px;
  margin-top: 4px;
  font-family: $primaryFontFamily;
  margin-bottom: 0px;
}
.logoImage {
  height: 27px;
  width: 27px;
}

.bottomLogo {
  padding: 0;
  display: flex;
}

.bottomLogo::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 38px;
  margin-top: 8px;
  padding-left: 10px;
  border-right: $primaryFontColor solid 1px;
}

@include smTabletView {
  .top_nav {
    justify-content: flex-end;
  }
}

@include mdTabletView {
  .top_nav {
    justify-content: center;
  }
}

@include xsPhoneView {
  .top_nav {
    display: none;
  }

  .bottom_nav {
    display: block;
    padding: 0;
  }

  .link_container > img {
    height: 40px;
    width: auto;
  }

  .link_container > p {
    margin-bottom: 0px;
  }
}

:export {
  primaryColor: $primaryColor;
  primaryFontColor: $primaryFontColor;
}
