@import '../../../../../../theme/theme';

.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.datePickerContainer{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    column-gap: 20px;
}

.buttonContainer{
    width: 100px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}