@import '../../../../theme/theme';

.mySpeciesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.speciesContainer {
  padding: 10px;
  border-radius: 5px;
  background-color: $dsWhite;
  box-shadow: 0px 3px 6px #00000010;
  cursor: pointer;
  position: relative;
}

.speciesName {
  font-weight: 700;
}

.scientificName {
  font-style: italic;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  svg {
    width: 14px;
  }
}

@include mdTabletView {
  .mySpeciesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@include lgLaptopView {
  .mySpeciesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.spinner {
  border: 2px solid $dsBaseGrey;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
