@import './../../../../theme/theme';
.modal {
  top: 80px;
  margin-bottom: 60px;
  background-color: $dsWhite;
  border: 0px;
  border-radius: 8px;
  position: absolute;
  padding: 20px;
  width: 412px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: auto;
}

.modal__titleContainer {
  display: flex;
  float: left;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__titleText {
  font-size: $fontLarge;
  margin-left: 20px;
}

.modal__subtitle {
  margin-top: 20px;
  text-align: center;
}

.buttonContainer {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 280px;
}

.continueButton,
.cancelButton {
  height: 40px;
  border-radius: 100px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
.continueButton {
  border: 0px;
  background: $dsPrimaryColor;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 160px;
  color: $dsWhite;
}
.cancelButton {
  border: 1px solid $dsPrimaryColor;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 160px;
  color: $dsPrimaryColor;
  cursor: pointer;
}
