AUTH0_CUSTOM_DOMAIN=
AUTH0_CLIENT_ID=
NEXTAUTH_URL=http://localhost:3000
API_ENDPOINT=app-development.plant-for-the-planet.org
CDN_URL=cdn.plant-for-the-planet.org/development
TENANT=planet
TENANTID=
SCHEME=https
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Shows the top projects list if "true".
NEXT_PUBLIC_SHOW_TOP_PROJECTS=true
NEXT_PUBLIC_SENTRY_DSN=
# Only required to upload sourcemaps
SENTRY_ORG=plant-for-the-planet
SENTRY_PROJECT=app-20-next
SENTRY_AUTH_TOKEN=
VERCEL_GITHUB_COMMIT_SHA=
# for vegetation change
SITE_IMAGERY_API_URL=https://raster.plant-for-the-planet.org
WIDGET_URL=https://widgets.plant-for-the-planet.org
NEXT_PUBLIC_DONATION_URL=https://donate.plant-for-the-planet.org
CONFIG_URL=https://app.plant-for-the-planet.org/app/config
VERCEL_URL=localhost

DB_CONN_URL=

#Redis
REDIS_URL=
REDIS_TOKEN=

# Required for Explore Functionality (Ecological Layers)
LAYERS_API_ENDPOINT=
LAYERS_API_KEY=
ENABLE_EXPLORE=