@import './../../../../theme/theme';

:export {
  primaryColor: $primaryColor;
  light: $light;
  dark: $dark;
  primaryFontColor: $primaryFontColor;
  dividerColor: $dividerColor;
}

//profile pic div
.profilePicDiv {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profilePicDivButtons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.uploadProfilePicButton,
.deleteProfilePicButton {
  padding: 8px 12px;
  border-radius: 6.295px;
  border: 1px solid rgba(33, 150, 83, 0.4);
  background: $light;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
  .profilePicButtonText {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    span {
      font-weight: 700;
      font-size: 0.75rem;
    }
  }
}

.uploadProfilePicButton {
  &:hover {
    background-color: rgba(33, 150, 83, 0.2);
    border: none;
  }
}

.deleteProfilePicButton {
  border: 1px solid #e0e0e0;

  &:hover {
    background-color: #e0e0e0;
    border: none;
  }
}

.profilePicImg {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.mainText {
  font-family: $primaryFontFamily;
  color: $highlightBackground;
  font-size: $fontSixteen;
  text-align: left;
}

.fieldExplanation {
  margin-top: 6px;
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $highlightBackground;
}

.horizontalLine {
  border-top: 1px solid $dark;
  width: 100%;
  opacity: 0.2;
}

.formErrors {
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dangerColor;
  margin-left: 6px;
  max-width: 320px;
  margin-bottom: -18px;
}

/// Form Styles

.formField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.formFieldHalf {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mdTabletView {
    width: auto;
  }
  div,
  input {
    width: 100%;
  }
}
.formFieldLarge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.editProfileInputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profileConsentSettings {
  margin: 8px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 1.37em;
    font-weight: 700;
    text-transform: capitalize;
  }

  .profileConsentSettingLabel {
    font-size: 0.875em;
    font-weight: 700;
    display: inline-flex;
  }
}

.infoIcon {
  margin-left: 6px;
  display: inline-block;
  vertical-align: bottom;
  width: 0.95em;
  min-width: 0.95em;
  line-height: 1.7em;
}

.infoIconPopupContainer {
  padding: 12px 16px;
  font-size: $fontXXSmall;
  max-width: 200px !important;
}

.viewPublicProfileButton,
.saveProfileButton {
  font-size: 1em;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  text-wrap: nowrap;
  flex: 1;
}

.viewPublicProfileButton {
  color: $dark;
  border: 1px solid #21965366;

  &:hover {
    background: rgba(33, 150, 83, 0.2);
    border: none;
  }
}

.saveProfileButton {
  background-color: #008f5c;
  color: $light;
  padding: 11px 12px;

  &:hover {
    border: 1px solid rgba(33, 150, 83, 0.4);
    background: #27ae60;
  }
}

@include smTabletView {
  .formFieldHalf {
    div,
    input {
      width: 200px;
    }
  }
  .modal {
    width: 480px;
    padding: 20px 30px;
  }
}

// Loader for Buttons
.spinner {
  border: 2px solid var(--disabled-font-color);
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profilePic {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  .profilePicOverlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  > svg {
    position: absolute;
  }
}

.noProfilePic {
  text-align: center;
  background-color: $backgroundColorDark;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .profilePicDiv {
    flex-direction: column;
  }
  .profilePicDivButtons {
    align-items: center;
  }
  .uploadProfilePicButton,
  .deleteProfilePicButton {
    .profilePicButtonText {
      span {
        font-weight: 600;
      }
    }
  }
  .formFieldHalf {
    div,
    input {
      width: 100%;
    }
  }
}

.spinnerImage {
  border: 2px solid $primaryFontColor;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.spinnerContainer {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
