@import '../../theme/theme';
.tabsContainer {
display: flex;
width: fit-content;
height: 48px;
border-radius: 12px;
background: $backgroundColor;
align-items: center;
justify-content: center;
padding: 0px 5px;
gap: 16px;
position: fixed;
left: 10px;
right: auto;
margin: 0 auto;
top: 100px;;
z-index: 10;
color: $dark;
}
.singleTabOption { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border-radius: 8px;
    gap:6px;
  }
  
  .singleTabOption svg {
    height: 18px;
  }
  .singleTabOption p {
    display: none;
  }

  .selected {
    width: 66px;
    color: $backgroundColor;
    background-color: $primaryColorNew;
  }

  .showSeparator1, .showSeparator2 {
    background: $dark;
    width: 0.5px;
    height: 30px;
    position: absolute;
    top: 20%;
    opacity: 0.3;
  }

  .showSeparator1{
    left: 63px;
  }

  .showSeparator2 {
    left: 144px;
  }

  .hideSeparator {
    display: none;
  }

  @include smTabletView {
    .tabsContainer {
      top: 100px;
    }
   
  }
  
  @include mdTabletView {
    .tabsContainer {
      left: 400px;
      top: 110px;
    }
   
  }
  @include xlDesktopView {
    .tabsContainer{
      left: 400px;
      top: 110px;
    }
   
  }
  
  @include lgLaptopView {
    .tabsContainer {
      right: auto;
    }
    .singleTabOption {
     width: 150px;
      p {
        display: block;
        font-size: $fontXSmall;
        font-weight: 700;
      }
    }
    .selected {
      width: 166px;
    }
    .showSeparator1{
      left: 164px;
    }
  
    .showSeparator2 {
      left: 345px;
    }
  }
