@import './../../../theme/theme';

.contribTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $fontLarge;
  text-align: center;
  color: $dsCoreText;
}

.fileUploadContainer {
  height: 128px;
  border-radius: 10px;
  border: dashed 1px $dsDarkGrey;
  background-color: $dsWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > p {
    color: $dsCoreText;
  }
}

.note {
  padding: 5px;
}

.mapNote {
  margin-top: 5px;
  padding: 5px;
}

.locationMap {
  width: 100%;
  height: 400px;
  padding: 5px;
}

.locationMap > div {
  width: 100%;
  height: 400px;
  border-radius: 13px;
  overflow: hidden;
  cursor: pointer !important;
}

.previewMap {
  width: 100%;
  height: 200px;
}

.previewMap > div {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer !important;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 10%;
  background: $dsPrimaryColor;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 40%;
  margin: -20px 0 0 -20px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.mapNavigation {
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 2;
  > div {
    position: relative !important;
  }
}

.contributionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.infoRow {
  display: flex;
  flex-direction: row;
  overflow: wrap;
  width: 100%;
  padding: 5px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.checkMark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px;
}

.uploadedImageContainer {
  position: relative;
  height: min-content;
  > img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .uploadedImageButtonContainer {
    position: absolute;
    top: 14px;
    right: 14px;
    width: fit-content;
    :nth-child(2) {
      margin-top: 9px;
    }
  }
}

.formErrors {
  font-family: $primaryFontFamily;
  font-size: $fontSmall;
  color: $dsFireRed;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.registerTreeMapContainer {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 5px;

  .polygonDeleteButton {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
    background: $dsWhite;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 9999;
  }
}
