@import '../../../theme/theme';

//The temporary file will be removed in the future
.projectListControlsContainer {
  position: absolute;
  padding: 0px 18px;
  width: 100%;
  top: 80px;
  z-index: 2;
}
