@import '../../../theme/theme';

$navbarHeight: 60px;
$navbarTopOffset: 16px;
$spacing: 24px;

.projectListControlsContainer {
  position: absolute;
  width: 100%;
  top: 101px;
  z-index: 2;

  &.embedModeMobile {
    top: 24px;
  }
}

.siteInterventionDropdowns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  z-index: 99;
  top: 34px;
  right: 29px;
}

.siteInterventionDropdownsMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  gap: 5px;
  top: calc($navbarHeight + $navbarTopOffset + $spacing);
  right: 10px;
  z-index: 99;
  &.embedModeMobile {
    top: 24px;
  }

  > .exitMapModeButton {
    z-index: 2;
    background: $dsWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 6px;
  }
}

.layerToggle {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: $dsWhite;
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.layerToggleAndroid,
.layerToggleIos {
  right: 9px;
}
.layerToggleDesktop {
  bottom: 105px;
  right: 30px;
}

.layerToggleAndroid {
  bottom: 182px;
}

.layerToggleIos {
  bottom: 240px;
}

.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  :global {
    .maplibregl-map {
      width: 100% !important;
      height: 100% !important;
    }

    .maplibregl-canvas-container {
      width: 100% !important;
      height: 100% !important;

      canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .maplibregl-ctrl-bottom-right {
      z-index: 40;
    }
  }
}

.android :global(.maplibregl-control-container .maplibregl-ctrl-bottom-right) {
  bottom: 105px;
}

.ios :global(.maplibregl-control-container .maplibregl-ctrl-bottom-right) {
  bottom: 165px;
}

// Plant Location Styles
.single {
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background-color: $dsPrimaryColor;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  &.singleSelected {
    opacity: 1;
  }
}

.single:hover {
  opacity: 1;
}
