@import '../../../theme/theme';

.projectListControlsContainer {
  position: absolute;
  width: 100%;
  top: 124px;
  z-index: 2;
}

.projectDetailsControlsContainer {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 34px;
  top: 114px;
  right: 14px;
  z-index: 2px;

  > .exitMapModeButton {
    z-index: 2;
  }
}

.layerToggle {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.layerToggleAndroid,
.layerToggleIos {
  right: 9px;
}
.layerToggleDesktop {
  bottom: 105px;
  right: 30px;
}

.layerToggleAndroid {
  bottom: 162px;
}

.layerToggleIos {
  bottom: 225px;
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.android :global(.maplibregl-control-container .maplibregl-ctrl-bottom-right) {
  bottom: 85px;
}

.ios :global(.maplibregl-control-container .maplibregl-ctrl-bottom-right) {
  bottom: 150px;
}
