@import './../../../../theme/theme';

.myTreesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //   height: auto;
}

.myTreesTitle {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 700;
  font-family: $primaryFontFamily;
}

.myTreesContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.treesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  width: 400px;
  max-width: 100%;
}

.tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}

.dateRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: $fontXSmall;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  padding: 3px 15px;
}

.treeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
}

.textCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.title {
  font-size: $fontSmall;
  font-weight: 700;
  font-family: $primaryFontFamily;
  padding: 3px 0;
}

.country {
  padding: 3px 0;
}

.source {
  padding: 3px 0;
}

.numberCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: fit-content;
}

.treeIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  svg {
    padding-left: 5px;
    width: 22px;
  }
}

.number {
  font-size: $fontLarge;
  font-weight: 600;
  color: $primaryColor;
}

.mapContainer {
  height: 400px;
  width: 100%;
  canvas {
    border-radius: 10px;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 10%;
  background: $primaryColor;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 40%;
  margin: -20px 0 0 -20px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  // pointer-events: none;
  cursor: pointer;
}

.bigMarker {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: $primaryColor;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: $primaryFontFamily;
  font-weight: 700;
  border: 4px solid #fff;
  margin: -30px 0 0 -10px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.contributionInfo {
  position: absolute;
  right: 10px;
  top: 10px;
  height: fit-content;
  min-height: 90px;
  max-height: 100%;
  width: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
  font-family: $primaryFontFamily;
}

@include mdTabletView {
  .myTreesSection {
    height: 80vh;
    max-height: 1000px;
  }

  .myTreesContainer {
    flex-direction: row;
  }

  .mapContainer {
    height: 100%;
  }
}

@include lgLaptopView {
  .myTreesSection {
    min-height: 600px;
  }
}
