@import './../../../../theme/theme';

.widgetIFrame {
  min-height: 100vh;
  width: 100%;
  max-width: calc(100vw - 256px);
}
.settingsIcon {
  display: flex;
  position: absolute;
  right: 50px;
  top: 80px;
  padding: 20px;
  z-index: 2;
}

.settingsIcon:hover {
  cursor: pointer;
}

// mobile view
@media only screen and (max-width: 768px) {
  .settingsIcon {
    top: 40px;
    right: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
  }
}

.landingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  z-index: 2;
}

.treeCounterName {
  font-family: $primaryFontFamily;
  font-weight: bold;
  font-size: 40px;
  color: $light;
  margin-top: 16px;
  margin-bottom: 0px;
  text-align: center;
}

// for ME page only
.treeCounterDescription {
  font-family: $primaryFontFamily;
  font-size: $fontMedium;
  color: $light;
  margin-top: 24px;
  margin-bottom: 0px;
  max-width: 500px;
  margin-left: 26px;
  margin-right: 26px;
  text-align: center;
}

.treeCounterDescription > p {
  color: var(--primary-color);
  display: inline;
  padding-left: 5px;
  cursor: pointer;
}

.bottomIconsRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 36px;
}

.iconTextColumn {
  margin: 0px 5px;
  max-width: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconTextColumnSupport {
  margin: 0px 20px;
  max-width: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.bottomIconBg {
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 70px;
}

.bottomIconBgSupport {
  background-color: #303b31;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 60px;
  border-radius: 70px;
  justify-content: space-around;
}

.bottomIconBgSupport svg {
  padding-left: 10px;
}
.bottomIconBg:hover {
  cursor: pointer;
}

.bottomRowText {
  color: $light;
  font-size: $fontSixteen;
  font-family: $primaryFontFamily;
  margin-top: 12px;
  text-align: center;
}

.bottomRowTextSupport {
  color: $light;
  font-size: $fontSmall;
  font-family: $fontSmall;
  text-align: center;
  padding-right: 15px;
  text-transform: capitalize;
}

// mobile view
@media only screen and (max-width: 768px) {
  .landingContent {
    margin-top: 140px;
  }
}

// share button
.shareBtnContainer {
  // display: inline-grid
  position: relative;
  transition-timing-function: ease-in;
}
.shareIconFacebook {
  position: relative;
}

.shareIconFacebookContainer {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 84px;
  bottom: 50px;
  top: -10px;
  text-align: center;
  padding-top: 7px;
  border-radius: 20px;
  background-color: #303b31;
  cursor: pointer;
}

.shareIconInstagram {
  position: relative;
}

.shareIconInstagramContainer {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  left: 84px;
  top: -60px;
  text-align: center;
  padding-top: 7px;
  border-radius: 20px;
  background-color: #303b31;
  cursor: pointer;
}

.shareIconTwitter {
  position: relative;
}

.shareIcon svg {
  width: 30px;
  height: 30px;
}
.shareIconTwitterContainer {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  left: 84px;
  bottom: 50px;
  top: -105px;
  text-align: center;
  padding-top: 7px;
  border-radius: 20px;
  background-color: #303b31;
  cursor: pointer;
}
.shareBtnContainer > button.react-share__ShareButton {
  padding: 0px 10px;
}

.shareIconFacebookContainerPrivate {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 20px;
  background-color: #303b31;
  cursor: pointer;
}
