@import '../../../theme/theme';

.mySpeciesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.speciesContainer {
  padding: 10px;
  border-radius: 5px;
  background-color: $backgroundColor;
  box-shadow: 0px 3px 6px #00000010;
  cursor: pointer;
  position: relative;
}

.speciesName {
  font-weight: 700;
}

.scientificName {
  font-style: italic;
}

.formError {
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dangerColor;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
}

.deleteButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  svg {
    width: 14px;
  }
}

.addSpecies {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@include mdTabletView {
  .mySpeciesContainer {
    grid-template-columns: 1fr 1fr;
  }

  .addSpecies {
    display: flex;
    flex-direction: row;
  }
}

@include lgLaptopView {
  .mySpeciesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
