@import '../../../theme/theme';

.profilePage {
  margin-top: 255px;
  font-family: $primaryFontFamily;
  color: $dsCoreText;
  margin-bottom: 80px;
  background-color: $dsBackgroundBase;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.listContainer {
  overflow: visible;
  max-width: 100%;
  width: 390px;
  z-index: 2;
  margin: 0 20px;
  position: relative;
  padding-top: 40px;
  bottom: 0;
  min-height: 100vh;
  background-color: $dsWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  > :first-child {
    width: 100%;
    text-align: center;
  }
}

.locationList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: 325px;
  z-index: 10;
  height: 85%;
  height: 100%;
  background-color: $dsWhite;
  margin-top: 20px;
  .singleLocation {
    :hover {
      background-color: $dsBaseGrey;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    > .locationHeader {
      padding: 20px;
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }
      > .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > .treeCount {
          font-weight: 700;
        }
        > .date {
          font-weight: 400;
        }
      }
      > .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        > .status {
          display: flex;
          font-weight: 700;
        }
        > .mode {
          font-weight: 400;
        }
      }
    }
    > .detailContainer {
      display: none;
    }
  }
}
.locationDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: 390px;
  min-height: calc(100vh - 80px);
  z-index: 10;
  height: auto;
  overflow-y: auto;
  background-color: $dsWhite;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 20px 30px;
  > .locationNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > .backButton {
      cursor: pointer;
      margin-left: -16px;
    }

    > .locationMenu {
      display: flex;
      gap: 16px;
      > .deleteButton {
        cursor: pointer;
        svg {
          width: 14px;
        }
      }
      > .editButton {
        cursor: pointer;
        svg {
          width: 16px;
        }
      }
    }
  }
}
.mapContainer {
  position: fixed;
  top: 0;
  bottom: 50vh;
  left: 0;
  right: 0;
  > div:first-child {
    height: 100% !important;
    width: 100% !important;
  }
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  > img {
    height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
  }
}
.imageContainer::-webkit-scrollbar {
  display: none;
}
.details {
  display: grid;
  padding-top: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.detailsFull {
  display: grid;
  padding-top: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
}

.measurements {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
}

.rowDetail {
  grid-column-start: 1;
  grid-column-end: 3;
}

.singleDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  a {
    color: $dsPrimaryColor;
    text-decoration: none;
    font-weight: bold;
  }
  .value {
    word-break: break-word;
    padding-right: 20px;
    > span {
      font-style: italic;
    }
    > span.link {
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.projectImageSliderContainer {
  position: relative;
  width: 100%;
  // border-radius: 0.6em;
  overflow: hidden;
  > :first-child {
    > :first-child {
      bottom: 2px;
      > div {
        background-color: $dsCoreText !important;
        height: 4px !important;
        > div {
          background-color: $dsMediumGrey !important;
        }
      }
    }
  }
}

.projectImageSliderContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: bottom;
  background-position: center center !important;
  background-size: cover !important;
}

.projectImageSliderContentText {
  margin-bottom: 22px;
  margin-left: 12px;
  color: $dsWhite;
  font-size: $fontSixteen;
  font-family: $primaryFontFamily;
  line-height: 1.3;
  padding: 0px 1px;
  // background-color: yellow;
  width: fit-content;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-top: 100px;
}

.sampleTrees {
  display: flex;
  flex-direction: row;
}

.tree {
  padding: 5px;
  cursor: pointer;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 10%;
  background: $dsLeafGreen;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 40%;
  margin: -20px 0 0 -20px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.popupContainer {
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
  width: 100px;
  overflow: none;
}

.imagePopup {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  > img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
}

.hideOnMobile {
  display: none !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $dsMediumGrey;
  margin: 0 10px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mapNavigation {
  position: absolute;
  right: 20px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  > div {
    position: relative !important;
  }
}

.layerToggle {
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  background-color: $dsWhite;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 120px;
}

.importButton {
  padding: 5px;
  cursor: pointer;
  svg {
    width: 20px;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .treeMapperTitle {
    font-size: $fontXXLarge;
    font-weight: 700;
    width: 100%;
    margin-bottom: 10px;
    color: $dsCoreText;
  }
}

.threeDotMenuButton {
  padding: 5px;
  cursor: pointer;
  svg {
    width: 5px;
    height: 22px;
  }
}

.menuContainer {
  position: absolute;
  padding: 10px 15px;
  background-color: $dsWhite;
  border-radius: 10px;
  z-index: 11;
  box-shadow: 0px 3px 6px #00000029;
}

.threeDotMenuItem {
  padding: 3px;
}

@include mdTabletView {
  .pageContainer {
    justify-content: flex-start;
  }

  .locationList {
    > .singleLocation {
      > .detailContainer {
        display: none;
      }
      > .detailContainer.selected {
        display: block;
        padding: 20px 0;
      }
    }
    > .singleLocation.selected {
      margin-bottom: 10px;
      background-color: $dsBaseGrey;
      border-radius: 10px;
      box-shadow: 1px 2px 8px -6px $dsSoftText2;
    }
  }

  .pullUpContainer {
    display: none;
  }

  .hideOnMobile {
    display: flex !important;
  }

  .mapContainer {
    top: 80px;
    bottom: 0;
    left: 450px;
    right: 0;
  }

  .listContainer {
    margin: 0;
    background-color: $dsBackgroundBase;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    padding: 20px 40px 40px;
    > :first-child {
      text-align: left;
    }
  }

  .profilePage {
    margin-top: 80px;
    margin-bottom: 0;
    // height: calc(100vh - 80px);
  }
}

@include lgLaptopView {
  .mapContainer {
    left: 646px;
  }
}

// Loader for Buttons
.spinner {
  border: 2px solid $dsBaseGrey;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
