@import "../../../theme/theme";

.pageContainer {
    display: flex;
    flex-direction: column;
}
.landingSection {
    margin: auto;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-self: center;
    .landingImageSection {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        > img {
            max-width: 540px;
            width: 90%;
            margin: 48px;
        }
    }

    .landingTextSection {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 24px;
        color: #232323;
        text-align: center;
        > h2 {
            font-size: 3.2rem;
            font-weight: bold;
            line-height: 1.2;
            > span {
                color: #568802;
            }
        }
        > p {
            margin-top: 24px;
            font-size: 0.94rem;
            line-height: 1.73;
        }
    }

    .landingButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@include lgLaptopView{
    .landingSection {
        flex-direction: row;
        .landingImageSection {
            width: 50%;
            order:2;
        }
        .landingTextSection {
            width: 50%;
            align-items: left;
            text-align: left;
            order: 1;
            padding: 72px;
        }
        .landingButtonContainer {
            justify-content: left;
        }
    }
}
    
@include smTabletView{
    .landingSection{
        margin-top: 60px;
    }
}
.continueButton, .secondaryButton {
    height: 40px;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
    align-items: center;
    font-weight: bold;
    color: white;
    border: 0px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 24px;
    width: 200px;
}
.secondaryButton{
    background-image: none;
    background-color: white;
    color: $primaryFontColor;
}
.continueButton:hover, .secondaryButton:hover {
    transform: scale(1.05);
    cursor: pointer;
}

// Sections 2
.section2MainContainer {
    background-image: url('/tenants/andalusia/images/parallaxCover.jpg') ;
    width: 100vw;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
    > .section2Overlay {
        opacity: 0.7;
        background-color: rgb(86, 136, 2);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    > p {
        font-size: 0.94rem;
        line-height: 1.73;
        margin-bottom: 12px;
        font-weight: bold;
        z-index: 2;
    }
    > h2 {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: bolder;
        margin-bottom: 12px;
        z-index: 2;
    }
    > span {
        font-size: 1.3rem;
        line-height: 1.06;
        font-weight: bold;
        font-style: italic;
        z-index: 2;
    }
}

// featuresMainContainer

.featuresMainContainer {
    display: flex;
    min-height: 100vh;
    padding: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    .featuresContainerText {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        > div {
            max-width: 380px;
            > span {
                color: #9d9d9d;
                margin-bottom: 0.4375rem;
                text-align: left;
                font-size: 0.94rem;
                line-height: 1.73;
                font-weight: 600;
                margin-bottom: 12px;
            }
            > h2 {
                font-size: 1.9rem;
                line-height: 1;
                font-weight: bolder;
                color: rgb(86, 136, 2);
                margin-bottom: 12px;
            }
            > p {
                font-size: 0.94rem;
                line-height: 1.73;
                margin-bottom: 24px;
            }
        }
    }
    .featuresSection {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .singleFeature {
            width: 240px;
            > svg {
                width: 80px;
                height: 80px;
                margin-bottom: 8px;
            }
            text-align: center;
            > h2 {
                font-size: 20.8px;
                font-weight: bold;
                margin-bottom: 8px;
            }
        }
    }
}

@include lgLaptopView{
    .featuresMainContainer {
        min-height: 100vh;
        padding: 64px;
        .featuresContainerText {
            > div {
                max-width: 540px;
            }
        }
        .featuresContainerText {
            width: 50%;
            border-right: 2px solid rgb(86, 136, 2);
        }
        .featuresSection {
            width: 50%;
        }
    }
}

@include xlDesktopView{
    .featuresMainContainer {
        min-height: auto;
        .featuresSection {
            .singleFeature {
                width: 280px;
                > svg {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}
.sustainableSection {
    margin: auto;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;

    .sustainableImageSection {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
            max-width: 540px;
            width: 90%;
            margin: 48px;
        }
    }

    .sustainableTextSection {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 24px;
        color: #232323;
        text-align: center;
        > div {
            > h2 {
                font-size: 3.2rem;
                font-weight: bold;
                line-height: 1.2;
                color: #9e9e9e;
            }
            > h3 {
                margin-top: 24px;
                font-size: 25.6px;
                line-height: 1;
                font-weight: bolder;
            }
        }
        
    }

    .sustainableButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@include lgLaptopView{
    .sustainableSection {
        flex-direction: row;
        .sustainableImageSection {
            width: 50%;
            order:2;
        }
        .sustainableTextSection {
            width: 50%;
            align-items: left;
            text-align: left;
            order: 1;
            padding: 72px;
        }
        .sustainableButtonContainer {
            justify-content: left;
        }
    }
}

@include xlDesktopView{
    .sustainableSection{
        min-height: auto;
        margin-bottom: 80px;
    }
}
    
@include smTabletView{
    .sustainableSection{
        margin-top: 60px;
    }
}

.projectBySection{
    background-color: #568802;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:48px;
    padding-bottom:48px;
    text-align: center;
    > h2 {
        color: #ffe161;
        font-size: 25.6px;
        font-weight: bolder;
    }
    > h1 {
        color: white;
        font-size: 41px;
        font-weight: bolder;
        font-style: italic;
        margin-top: 24px;
    }
}

.projectMapContainer{
    background-color: #C8DEF4;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
     > div {
         background-color: white;
         border-radius: 10px;
         width: 320px;
         padding:10px;
     }
}