@import "../../../theme/theme";

.landingSection {
    margin-top: 60px;
    width: 100vw;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landingImageSection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        max-width: 540px;
    }
}

.landingTextSection {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 72px;
    color: #232323;
    > h2 {
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 1.2;
        > span {
            color: #568802;
        }
    }
    > p {
        margin-top: 24px;
        font-size: 0.94rem;
        line-height: 1.73;
    }
}

.landingButtonContainer{
    width: 100%;
    align-items: left;
}
.continueButton {
  height: 40px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
  align-items: center;
  font-weight: bold;
  color: white;
  border: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-top: 24px;
  width: 200px;
}
.continueButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section2MainContainer{
    background-image: url('/tenants/andalusia/images/parallaxCover.jpg') ;
    width: 100vw;
    height: 240px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    > .section2Overlay{
        opacity: 0.7;
        background-color: rgb(86, 136, 2);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    > p {
        font-size: 0.94rem;
        line-height: 1.73;
        margin-bottom: 12px;
        font-weight: bold;
        z-index: 2;
    }
    > h2 {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: bolder;
        margin-bottom: 12px;
        z-index: 2;
    }
    > span {
        font-size: 1.3rem;
        line-height: 1.06;
        font-weight: bold;
        font-style: italic;
        z-index: 2;
    }
}