@import '../../../../theme/theme';

$dropDownTriggerButtonWidth: 52px;
$spacing: 8px;

.dropdownButton {
  display: flex;
  border-radius: 12px;
  background: $dsWhite;
  align-items: center;
  padding: 12px 0px 12px 12px;
  min-width: 350px;
  justify-content: space-between;
  cursor: pointer;
  gap: 18px;
}

.interventionIconAndTextContainer {
  display: flex;
  gap: 6px;
}
.labelTextContainer {
  display: flex;
  flex-direction: column;
}
.interventionsLabel {
  font-size: $fontXXSmall;
  color: $dsSoftText2;
  font-weight: 600;
  span {
    display: inline;
  }
}

.interventionId {
  text-transform: uppercase;
}
.interventionName {
  text-transform: capitalize;
  font-size: $fontXSmall;
  font-weight: 700;
  color: $dsCoreText;
}
.menuArrow {
  display: flex;
  align-items: center;
  margin-right: 13px;
  svg {
    width: 100%;
    overflow: visible;
  }
}
.interventionListOptions {
  background-color: $dsWhite;
  padding: 6px 17px;
  border-radius: 12px;
  width: 350px;
  font-size: $fontXSmall;
  position: absolute;
  z-index: 4;
  max-height: 42vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  > button {
    width: 100%;
  }
}

.interventionListOptionsAbove {
  top: calc($dropDownTriggerButtonWidth + $spacing);
}

.interventionListOptionsBelow {
  top: calc(2 * $dropDownTriggerButtonWidth + 2 * $spacing);
}

.listItem {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 9px 0px;
  cursor: pointer;
  border-bottom: 1px solid $dsMediumGrey;
  font-weight: 400;
  &:last-of-type {
    border-bottom: none;
  }
}

.selectedItem {
  text-shadow: 0 0 0.01px;
  font-weight: 700;
}

@include xsPhoneView {
  .interventionIconAndTextContainer {
    > svg {
      width: 16px;
    }
  }
  .menuArrow {
    margin-right: 5.13px;
    svg {
      width: 6.37px;
      height: 4.183px;
    }
  }
  .dropdownButton {
    border-radius: 10px;
    min-width: 93px;
    padding: 5px;
    position: unset;
    height: 40px;
  }
  .labelTextContainer {
    justify-content: center;
    .interventionsLabel {
      display: flex;
      flex-direction: column;
      .interventionId {
        text-transform: none;
      }
      .separator {
        display: none;
      }
    }
    .interventionName {
      display: none;
    }
  }
  .interventionListOptions {
    max-width: 140px;
    padding: 8px 12px;
    top: 46px;
    right: 14px;
    min-width: 160px;
    z-index: 50;
    .listItem {
      display: flex;
      flex-direction: column;
      gap: 0;
      font-size: $fontXXSmall;
      padding: 4px 0;
      .interventionArea {
        font-size: $fontXXSmall;
      }
    }
  }
}
