@import './../../../theme/theme';

// entire page
.signUpPage{
  background-repeat: no-repeat;
  // background-size: cover;
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  padding: 120px 0px;
}

// the white form
.signup {
  background-color: $light;
  border: 0px;
  min-width: 360px;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  align-self: center;
  padding:20px 20px;
}

.btnSize {
  width: 152px;
  height:68px;
  border-radius: 10px;
  border: solid 1.6px $dark;
  margin: 5px;
  background-color: $light;
}

.btnColor {
  border: solid 1.6px $primaryColor;
  width: 152px;
  height:68px;
  border-radius: 10px;
  background-color: $light;
  margin: 5px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
}

.accountTypeDiv{
    display: flex;
    padding:4px;
    margin:0px;
}
//profile pic div
.profilePicDiv {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
}

.profilePicDiv:hover{
    cursor: pointer;
}

// first name, last name div
.namesDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: center;
  margin: 6px 0px;
}

.firstNameDiv {
    margin: 0px 6px 0px 0px;
    width: 50%;
}

.lastNameDiv  {
    margin: 0px 0px 0px 6px;
    width: 50%;
}

// address div
.addressDiv {
  display: flex;
  width: 100%;
  margin: 6px 0px;
}

// city, zip code div
.cityZipDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: center;
  margin: 6px 0px;
}

.cityDiv {
    margin: 0px 6px 0px 0px;
    width: 50%;
}

.zipDiv {
    margin: 0px 0px 0px 6px;
    width: 50%;
}

// country div
.countryDiv {
  display: flex;
  width: 50%;
  align-self: flex-start;
  margin: 6px 6px 12px 0px;
}

// private account div
.isPrivateAccountDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 5px 6px 5px;
  padding: 0px 10px;
}

.mainText {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $highlightBackground;
  font-size: 16px;
  text-align: left;
}

.isPrivateAccountText {
    margin-top: 6px;
  font-family: $primaryFontFamily;
  font-size: 12px;
  color: $highlightBackground;
}

.horizontalLine {
    border-top: 1px solid $primaryColor;
    width: 100%;
    // height: 1px;
    opacity: 0.5;
    margin: 20px 0px;
}

// save button
.saveButton {
  background-color: $primaryColor;
  padding: 8px 40px;
  border-radius: 6px;
  color: $light;
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  font-weight: 600;
  margin-top: 10px;
}

.saveButton:hover{
    cursor: pointer;
}

:export {
    primaryColor: $primaryColor;
    light: $light;
    dark: $dark;
  }  