@import './../../../theme/theme';

// entire page
.completeSignup {
  height: 100vh;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.signupFormContainer {
  min-width: 320px;
  max-width: 420px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  align-self: center;
  padding: 20px;
  margin-top: 100px;
  border: 0;

  &.submitting {
    opacity: 0.8;
    pointer-events: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.headerBackIcon {
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  > svg {
    width: 16px;
  }
}
.headerBackIcon:hover {
  cursor: pointer;
}

.headerTitle {
  font-weight: bold;
  font-size: $fontXLarge;
  color: $dsCoreText;
  margin-left: 10px;
}

.inlineToggleGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.mainText {
  color: $dsCoreText;
  font-size: $fontSixteen;
  text-align: left;
}

.isPrivateAccountText {
  margin-top: 6px;
  font-size: $fontXSmall;
  color: $dsSoftText;
}

.horizontalLine {
  border-top: 1px solid $dsMediumGrey;
  width: 100%;
  opacity: 0.5;
  margin: 0px;
}

// Loader for Buttons
.spinner {
  border: 2px solid $dsBaseGrey;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.saveButton {
  height: 40px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  background-color: $dsPrimaryColor;
  align-items: center;
  font-weight: bold;
  color: $light;
  border: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  min-width: 280px;
}

.saveButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.termsError {
  font-size: $fontXSmall;
  color: $dsFireRed;
}

// FOR WIDER SCREENS
@include smTabletView {
  .signupContainer {
    margin-bottom: 60px;
  }
}
