@import '../../../../theme/theme';

.formSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.formHeader {
  font-size: $fontMedium;
  color: $primaryFontColor;
  font-weight: 700;
  flex: 1;
  margin-right: auto;
}
.formButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px 0px 0px;
  gap: 10px;
}
