@import '../../../../theme/theme';

.formSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.formHeader {
  font-size: $fontMedium;
  color: $dsCoreText;
  font-weight: 700;
  flex: 1;
  margin-right: auto;
}

.qrContainer {
  display: block;
  width: 150px;
  height: 150px;
}
