@import '../../../../theme/theme';

.projectsLayout {
  margin-top: 80px;
  height: calc(100vh - 80px);
  background: linear-gradient(
      0deg,
      rgba(172, 172, 172, 0.15) 0%,
      rgba(172, 172, 172, 0.15) 100%
    ),
    #fff;
  padding: 24px 20px 30px;
  position: relative;
}

.mainContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.contentContainer {
  width: 338px;
  max-width: 100%;
  background: white;
}

.mapContainer {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
}

// styles for mobile layout

.mobileProjectsLayout {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  &.compact {
    height: 100vh;
    margin-top: 0px;
  }
}

.viewButton {
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 1;
  &.viewButtonShifted {
    top: 95px;
  }
}

.mobileContentContainer {
  background: grey;
  height: 100%;
  width: calc(100vw - 20px);
}

.mobileMapContainer {
  width: inherit;
  height: 100%;
}
