@import '../../../../theme/theme';

.projectsLayout {
  margin-top: 80px;
  height: calc(100vh - 80px);
  background: linear-gradient(
      0deg,
      rgba(172, 172, 172, 0.15) 0%,
      rgba(172, 172, 172, 0.15) 100%
    ),
    #fff;
  padding: 24px 20px 30px;
  position: relative;
}

.mainContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.contentContainer {
  width: 338px;
  max-width: 100%;
  background: white;
}

.mapContainer {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
}

// styles for mobile layout

.mobileProjectsLayout {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 100px 5px 20px;
  display: flex;
  justify-content: center;

  &.compact {
    padding: 0px;
  }
}

.mapButton {
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 1;
}

.projectlistAndDetail {
  background: grey;
  height: 100%;
  width: 94%;
}

.mobileMapContainer {
  width: inherit;
  height: 100%;
}
