@import '../../../../theme/theme';

.projectsLayout {
  margin-top: 80px;
  height: calc(100vh - 80px);
  background: linear-gradient(
      0deg,
      rgba(172, 172, 172, 0.15) 0%,
      rgba(172, 172, 172, 0.15) 100%
    ),
    #fff;
  padding: 24px 20px 30px;
  position: relative;
}

.mainContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.contentContainer {
  width: 360px;
  max-width: 100%;
  background: transparent;
  overflow-y: auto;
  padding-right: 8px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba(224, 224, 224, 1);
    height: 220px;
  }
  @include xsPhoneView {
    &::-webkit-scrollbar {
      display: none;
    }
    padding-right: 0px;
  }
}

.mapContainer {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
}

// styles for mobile layout

.mobileProjectsLayout {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 24px;
  &.mapMode {
    height: 100vh;
    margin-top: 0px;
  }
}

.viewButton {
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 1;
  &.viewButtonShifted {
    top: 95px;
  }
}

.mobileContentContainer {
  padding: 0px 18px;
  height: 100%;
  width: 100%;
}

.mobileMapContainer {
  width: inherit;
  height: 100%;
}
