@import '../../../../theme/theme';

.mainContainer {
  background-color: $backgroundBase;
  margin-top: 80px;
  min-height: 100vh;
  padding: 20px 40px 40px;
  display: flex;
  justify-content: center;
}
