@import '../../../../theme/theme';

.singleProject {
  border: 2px solid $dsWhite;
  border-radius: 16px;
  position: relative;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
  max-width: 356px;
  background-color: $dsWhite;
  @include xsPhoneView {
    max-width: 100%;
    box-shadow: none;
    margin-left: 0px;
  }
}

.projectDetailsSnippetMobile {
  padding: 0px 9px;
}

//project image
.projectImage {
  height: 160px;
  width: 100%;
  position: relative;
  transition: all 1s ease;
  border-radius: 14px 14px 0px 0px;
  overflow: hidden;
  > .projectImageBlock {
    transition: all 0.3s ease;
    position: absolute;
    bottom: 12px;
    left: 13px;
    width: 100%;
  }
}

.projectImageSecondary {
  @include xsPhoneView {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 180px;
  }
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.projectImageFile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}

// project info
.projectType,
.projectEcosystem {
  font-family: $primaryFontFamily;
  font-size: $fontXXSmall;
  color: $dsWhite;
  font-weight: bold;
  text-transform: uppercase;
}

.projectType {
  line-height: 0.9em;
}

.projectName {
  font-family: $primaryFontFamily;
  font-size: $fontMedium;
  color: $dsWhite;
  padding-right: 16px;
  display: flex;
  line-height: 26px;
}

.verifiedIcon {
  display: inline-block;
  vertical-align: top;
  width: 0.95em;
  min-width: 0.95em;
  line-height: 0.95em;
  margin-left: 4px;
  margin-top: 2px;
}

/* Progress Bar */
.progressBar {
  height: 4px;
  width: 100%;
  background-color: $dsCoreText;
}

.progressBarHighlight {
  height: 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.projectInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.projectInfoSubContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.targetLocation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.target {
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dsCoreText;
  margin-right: 4px;
}

.projectTpoName {
  cursor: pointer;
  position: relative;
  text-align: center;
  color: $dsSoftText;
  font-size: $fontXXSmall;
  font-weight: 400;
  line-height: 1.5em;
  // margin-top: 10px;
  padding: 9px 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: $dsPrimaryColorTransparent10;
  &.noDonation {
    background: $dsMediumGreyTransparent30;
  }
  &.tpoBackground {
    background: $dsSoftYellow;
  }
}

.projectTpoNameSecondary {
  @include xsPhoneView {
    border-radius: 0px;
    margin-top: 0px;
  }
}

.projectCost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.perUnitCost {
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dsCoreText;
  margin-top: 6px;
}

.topProjectReportsContainer {
  margin: 10px;
}

.projectTypeIcon {
  display: inline-block;
  width: 0.95em;
  min-width: 0.95em;
  margin-right: 4px;
  font-size: $fontXXSmall;
  line-height: 0.3em;
}

.topProject {
  background-color: $dsGoldenYellow;
  border: none;
  &:hover {
    background-color: $dsGoldenYellow;
    opacity: 0.7;
    border: none;
  }
}

.projectEcosystemOrTypeContainer {
  display: flex;
  align-items: center;
}

.country {
  font-weight: 400;
}

.backButton {
  position: absolute;
  z-index: 2;
  left: 0px;
  cursor: pointer;
}

.reports_container {
  display: flex;
  gap: 10px;
  width: 100%;
  .reports_description {
    display: flex;
    flex-direction: column;
    gap: 9px;
    a {
      font-weight: bold;
    }
  }

  @include mdTabletView {
    width: 328px;
  }
}

.projectNameTooltip {
  padding: 12px;
  max-width: 368px;
}
