@import './../../../theme/theme';

.treeCount {
  font-size: 18px;
  padding: 16px;
  > span {
    font-weight: 700;
  }
}

.locDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;
}

.singleDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.detailTitle {
  font-weight: 700;
}

.detailValue span {
  font-style: italic;
}

.detailValue a {
  color: $primaryColor;
}

.sliderContainer {
  padding: 16px;
  height: 200px;
  width: 100%;
  background-color: rgb(186, 238, 137);
}

.projectImageSliderContainer {
  position: relative;
  margin-top: 10px;
  width: 100%;
  // border-radius: 0.6em;
  overflow: hidden;
  > :first-child {
    > :first-child {
      bottom: 2px;
      > div {
        background: rgba(0, 0, 0, 0.4) !important;
        height: 4px !important;
        > div {
          background: rgba(255, 255, 255, 0.8) !important;
        }
      }
    }
  }
}

.singlePl {
  > :first-child {
    > :first-child {
      display: none !important;
    }
  }
}

.projectImageSliderContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: bottom;
  background-position: center center !important;
  background-size: cover !important;
}

.projectImageSliderContentText {
  bottom: 10;
  color: $light;
  font-size: $fontSmall;
  font-family: $primaryFontFamily;
  padding: 14px 12px;
}

.single {
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background-color: rgba(0, 122, 73, 0.5);
  cursor: pointer;
  position: absolute;
  z-index: 1;
  &.singleSelected {
    background-color: rgba(0, 122, 73, 1);
  }
}

.single:hover {
  background-color: rgba(0, 122, 73, 1);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
