@import './../../../theme/theme';

.VegetationChangeContainer {
  height: 38px;
  border-radius: 13px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  max-width: 100%;
}

.options {
  height: 100%;
  border: 1px solid #d5d5d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  width: 100px;
}

.options svg {
  height: 14px;
  padding-right: 4px;
}

.options p {
  display: none;
}

.options p sup {
  padding-left: 1px;
  font-size: 8px;
}

.dropdownContainer {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.beforeYear {
  z-index: 10;
  height: 38px;
  border: 1px solid #d5d5d5;
  border-radius: 13px;
  background-color: $backgroundColor;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.afterYear {
  z-index: 10;
  height: 38px;
  border: 1px solid #d5d5d5;
  border-radius: 13px;
  background-color: $backgroundColor;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:export {
  primaryColor: $primaryColor;
}

@include mdTabletView {
  .VegetationChangeContainer {
    top: 40px;
    margin-left: 400px;
  }
  .dropdownContainer {
    padding: 0 20px 0 400px;
    top: 98px;
  }
}

@include lgLaptopView {
  .VegetationChangeContainer {
    margin-left: auto;
  }

  .options {
    width: 200px;
  }

  .options p {
    display: block;
  }
}
