@import './../../../theme/theme';

.zoomButtons {
     position: fixed;
     bottom: 50px;
     right: 20px;
     box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
     border-radius: 4px;
     background: #fff;
     pointer-events: auto;
}

.zoomIn, .zoomOut {
    cursor: pointer;
    width: 29px;
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zoomIn:hover, .zoomOut:hover {
    background-color: rgba(0,0,0,.05);
}