@import '../../../../theme/theme';

.myContributions {
  display: flex;
  flex-direction: column;
}

.myContributionsList {
  margin: 16px 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include smTabletView {
    margin-top: 20px;
    gap: 12px;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }

  @include lgLaptopView {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
  }
}

.contributionSummary {
  padding: 6px;
  background-color: $dsWhite;
  color: $dsSoftText;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;

  > * {
    font-size: $fontXXSmall;
  }

  .contributionDetails {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .contributedUnits {
    font-weight: 700;
  }

  .contributionDate {
    font-weight: 400;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  // align-items: stretch;
}

.contributionCountOverflow {
  background-color: $dsPrimaryColorTransparent10;
  color: $dsPrimaryColor;
  font-weight: 700;
  font-size: $fontXXSmall;
  border-radius: 4px;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projectSummary {
  .additionalProjectInfo {
    margin-top: 4px;
  }
}

.additionalProjectInfo {
  font-size: $fontXSmall;
  color: $dsSoftText;
}

.projectTotalContributions {
  font-size: $fontSixteen;
  font-weight: 700;
}

.donationButton {
  &.conservation {
    background-color: $dsWarmBlue;
    &:hover {
      background-color: $dsSkyBlue;
    }
  }
  &.restoration {
    background-color: $dsDeepPurple;
    &:hover {
      background-color: $dsPurpleSky;
    }
  }
}

.registrationSummary {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .registeredTreeCount {
    font-weight: 700;
    font-size: $fontSixteen;
  }

  .registrationInfo {
    font-size: $fontXSmall;
    color: $dsSoftText;
  }
}

.giftLabel {
  font-size: $fontXXSmall;
  font-weight: 700;
  color: $dsPrimaryColor;
  background: linear-gradient(
      0deg,
      $dsWarmGreenTransparent10,
      $dsWarmGreenTransparent10
    ),
    linear-gradient(0deg, $dsWhite, $dsWhite);

  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  @include smTabletView {
    padding: 4px;
  }

  .giftLabelText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.giftIconContainer {
  flex-shrink: 0;
  width: 10px;
  display: flex;
  align-items: center;
}

.itemImageContainer {
  height: 150px;
  background-image: url('/assets/images/project-contribution-default-landscape.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  @include smTabletView {
    background-image: url('/assets/images/project-contribution-default-portrait.png');
    width: 130px;
    height: 130px;
    border-radius: 8px;
  }
}

.listHeader {
  background: $dsWarmGreenTransparent10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;

  .headerTitle {
    font-size: $fontLarge;
    color: $dsPrimaryColor;
    font-weight: 700;
    text-align: center;
  }

  .iconContainer {
    display: flex;
    align-items: center;
  }

  @include smTabletView {
    min-height: 120px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0;
    padding-left: 36px;

    .iconContainer {
      align-self: flex-end;
    }

    .headerTitle {
      text-align: left;
      align-self: center;
    }
  }

  @include lgLaptopView {
    padding: 0 0 0 36px;

    .headerTitle {
      align-self: flex-end;
      margin-bottom: 50px;
    }
  }
}

.projectHeader {
  .projectType {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 12px;
  }
  .projectTypeIcon {
    width: 12px;
    display: grid;
    align-items: center;
  }
  .projectCategory {
    font-size: $fontXXSmall;
    font-weight: 600;
  }
  .projectName {
    font-weight: 700;
    font-size: $fontSixteen;
  }

  &.dark {
    .projectType {
      color: $dsPrimaryColor;
    }
    .projectTypeIcon {
      svg > path {
        fill: $dsPrimaryColor;
      }
    }
  }

  &.light {
    .projectType,
    .projectName {
      color: $dsWhite;
    }
    .projectTypeIcon {
      svg > path {
        fill: $dsWhite;
      }
    }
  }
}

.itemMobileHeader {
  height: 150px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url('/assets/images/contribution-default-landscape.png');
  background-position: center;
  background-size: cover;

  .headerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .projectHeaderContainer {
    margin: auto 16px 16px;

    .projectName {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .projectType {
      height: 16px;
    }

    .projectTypeIcon {
      width: 16px;
    }
  }
}

.projectItemCard,
.registrationItemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dsWhite;
  border: 3px solid $dsPrimaryColorTransparent10;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  min-width: 0; // Allow shrinking below 450px
  max-width: 100%; // Ensure it doesn't exceed container width

  &.conservation {
    border-color: $dsWarmBlueTransparent10;
  }

  &.restoration {
    border-color: $dsDeepPurpleTransparent10;
  }

  @include smTabletView {
    border: none;
    padding: 6px;
    gap: 12px;
    background: $dsSoftGreen;
    overflow: visible;

    &.conservation {
      background: $dsSoftBlue;
    }

    &.restoration {
      background: $dsSoftPurple;
    }
  }
}

.projectItemCard {
  .sectionOneMobile {
    display: flex;
    flex-direction: column;

    .aggregateInfoAndActions {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .aggregateInfo {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
    }
  }

  .sectionOneLandscape {
    display: flex;
    gap: 16px;

    .itemInfo {
      margin: 6px 6px 6px 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
    }

    .totalContributionsAndCTA {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include xsPhoneView {
      display: none;
    }
  }

  .sectionTwo {
    padding: 8px;
    background-color: $dsSoftGreen;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 6px;
    &.conservation {
      background: $dsSoftBlue;
    }

    &.restoration {
      background: $dsSoftPurple;
    }
  }

  @include smTabletView {
    .sectionOneMobile {
      display: none;
    }

    .sectionTwo {
      background-color: transparent;
      padding: 0 0 6px;

      &.conservation,
      &.restoration {
        background-color: transparent;
      }
    }
  }
}

.registrationItemCard {
  .cardContent {
    display: flex;
    flex-direction: column;
  }

  .itemInfo {
    padding: 16px;
  }

  @include smTabletView {
    .cardContent {
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }

    .itemInfo {
      padding: 0;
    }
  }
}
