@import '../../../theme/theme';

.projectsContainer {
  width: 100%;
  min-height: calc(100vh - 80px);
}

//  the list of projects
.listProjects {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.singleProject {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  .projectImage{
    width: 150px;
    height: 124px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .projectInformation{
    flex-grow: 1;
    padding: 16px;
  }
  .projectName{
    font-weight: bold;
    font-size: 16px;
  }
  .projectClassification{
    text-transform: capitalize;
    margin-top: 10px;
  }
  .projectLinksContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .primaryLink{
    background-color: #48AADD;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: 140px;
  }
  .secondaryLink{
    border:1px solid #48AADD;
    border-radius: 10px;
    color: #48AADD;
    font-weight: bold;
    height: 40px;
    width: 140px;
    margin-right:10px ;
  }
}

.projectNotFound {
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 0px 20px;
  margin-top: 20px;
  h2 {
    margin-top: 8px;
    font-weight: bold;
    font-size: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}

.projectNotFoundImage {
  width: 100%;
}

@include smTabletView {
  .listProjects {
    padding: 0px;
  }
}
@include mdTabletView {
}
@include lgLaptopView {
  
}
@include xlDesktopView {
}
