@import './../../../../theme/theme';

.mainContainer{
    margin:auto;
    margin-top: 60px;
    max-width: 780px;
    display: flex;
    justify-content: center;
}
.stepContainer{
    margin:auto;
    font-family:$primaryFontFamily;
    display: flex;
    justify-content: center;
}
.formFieldRadio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.formField{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 660px;
    justify-content: space-between;
    
}
.formFieldHalf{
    margin-top: 24px;
    div,input{
        flex: 1;
        width: 320px;
    }
}
.formFieldLarge{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 660px;
    min-width: 320px;
    // div,input{
    //     min-width: 320px;
    // }
}


.continueButton, .secondaryButton{
    height: 40px;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
    align-items: center;
    font-weight: bold;
    color: white;
    border: 0px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.continueButton:hover, .secondaryButton:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.secondaryButton{
    background-image: none;
    background-color: $blueishGrey;
    color: #2f3336;
    p{
        margin-left:6px
    }
    svg{
        height: 12px;
    }
}

.backButton{
    margin-top: 12px;
    font-weight: bold;
    color: #2f3336;
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin-left:6px
    }
    svg{
        height: 12px;
    }
}

.fileUploadContainer{
    height: 128px;
    border-radius: 10px;
    border: dashed 1px #2f3336;
    background-color: #f2f2f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inlineLinkButton{
    font-family: $primaryFontFamily;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #68b030;
}
.inlineLinkButton:hover{
    cursor: pointer;
}

.plantingSeasons{
    border-radius: 10px;
    background-color: #F2F2F7;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.multiSelectInput{
    display: flex;
    flex-direction: row;
    padding: 6px;
    padding-right: 12px;
    background-color: $light;
    border-radius: 6px;
    transition-duration: 0.4;
    transition-timing-function:ease-in;
    margin-right: 12px;
    margin-bottom: 12px;
    .multiSelectInputCheck{
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: #D5D5D5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .multiSelectInputCheckTrue{
        background-color: $primaryColor;
    }
    p{
        margin-left: 6px;
    }
}
.multiSelectInput:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.formErrors {
    font-family: $primaryFontFamily;
    font-size: 12px;
    color: #e74c3c;
    margin-left: 6px;
  }