@import './../../../../theme/theme';

.mainContainer {
  margin: auto;
  margin-top: 60px;
  max-width: 768px;
  display: flex;
  justify-content: center;
}

.stepContainer {
  margin: auto;
  font-family: $primaryFontFamily;
  display: flex;
  justify-content: center;
}
.formFieldRadio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.formField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 320px;
  justify-content: space-between;
  align-items: center;
}
.formFieldHalf {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  div,
  input {
    width: 320px;
  }
}
.formFieldLarge {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 320px;
  min-width: 320px;
}

.latitudeInput {
  width: fit-content !important;
  div {
    border-radius: 28px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  div,
  input {
    width: fit-content !important;
    text-align: center !important;
  }
  label {
    width: 100%;
    text-align: center !important;
    transform: translate(0px, 20px);
  }
}
.longitudeInput {
  width: fit-content !important;
  div {
    border-radius: 28px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  div,
  input {
    width: fit-content !important;
    text-align: center !important;
  }
  label {
    width: 100%;
    text-align: center !important;
    transform: translateX(0px, 20px);
  }
}
.latlongField {
  div,
  input {
    width: 120px !important;
  }
}
@include mdTabletView {
  .mainContainer {
    max-width: 780px;
  }
  .formField {
    max-width: 660px;
  }
  .formFieldLarge {
    max-width: 660px;
  }
  .latlongField {
    div,
    input {
      width: 320px !important;
    }
  }
}
.continueButton,
.secondaryButton {
  height: 40px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
  align-items: center;
  font-weight: bold;
  color: white;
  border: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  min-width: 240px;
}
.continueButton:hover,
.secondaryButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.secondaryButton {
  background-image: none;
  background-color: $blueishGrey;
  color: #2f3336;
  p {
    margin-left: 6px;
  }
  svg {
    height: 12px;
  }
}

.backButton {
  margin-top: 12px;
  font-weight: bold;
  color: #2f3336;
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin-left: 6px;
  }
  svg {
    height: 12px;
  }
}

.fileUploadContainer {
  height: 128px;
  border-radius: 10px;
  border: dashed 1px #2f3336;
  background-color: #f2f2f7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inlineLinkButton {
  font-family: $primaryFontFamily;
 width: 100%;
 font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #68b030;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.inlineLinkButton:hover {
  cursor: pointer;
  font-weight: bold;
}
.projSiteSaveandAdd{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.plantingSeasons {
  border-radius: 10px;
  background-color: #f2f2f7;
  padding: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  .plantingSeasonsLabel {
    position: absolute;
    top: -8px;
    font-size: 12px;
  }
}

.multiSelectInput {
  display: flex;
  flex-direction: row;
  padding: 6px;
  padding-right: 12px;
  background-color: $light;
  border-radius: 6px;
  transition-duration: 0.4;
  transition-timing-function: ease-in;
  margin-right: 12px;
  margin-bottom: 12px;
  .multiSelectInputCheck {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .multiSelectInputCheckTrue {
    background-color: $primaryColor;
  }
  p {
    margin-left: 6px;
  }
}
.multiSelectInput:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.formErrors {
  // position: absolute;
  font-family: $primaryFontFamily;
  font-size: 12px;
  color: #e74c3c;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
}

.inputStartAdornment {
  font-family: $primaryFontFamily;
  font-weight: bold;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 10%;
  background: $primaryColor;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 40%;
  margin: -20px 0 0 -20px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.mapboxContainer {
  position: relative;
  > div > div > div {
    border-radius: 10px;
  }
  > p {
    position: absolute;
    background-color: $light;
    padding: 6px 18px;
    border-radius: 15px;
    top: -10px;
    font-size: 12px;
    left: 12px;
    z-index: 9;
  }

  .uploadedMapName {
    background-color: $light;
    padding: 6px 18px;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    width: 90%;
    text-align: center;
    z-index: 999;
    left: 5%;
    font-weight: bold;
  }
  .uploadedMapStatus {
    background-color: $light;
    padding: 6px 18px;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    text-align: center;
    z-index: 999;
    left: 5%;
    width: fit-content;
    font-weight: bold;
    font-size: 10px;
    min-width: 100px;
  }
  .uploadedMapDeleteButton {
    background-color: $light;
    padding: 6px;
    border-radius: 18px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    right: 5%;
    > svg {
      height: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .uploadedMapEditButton {
    background-color: $light;
    padding: 6px;
    border-radius: 18px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    right: 5%;
    > svg {
      height: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.mapboxContainer2 {
  position: relative;
  > div > div > div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  > p {
    position: absolute;
    background-color: $light;
    padding: 6px 18px;
    border-radius: 15px;
    top: -10px;
    font-size: 12px;
    left: 12px;
    z-index: 999;
  }
}
.mapTool {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0 7px 30px -10px rgba(60, 60, 60, 1);
}

.mapTool svg {
  width: 16px;
}

.dropZone {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 247);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: dashed 1px #2f3336;
}

.mapNavigation {
  position: absolute;
  right: 6px;
  bottom: 20px;
  z-index: 2;
}

.uploadedImageContainer {
  position: relative;
  height: min-content;
  > img {
    width: 100%;
    height: 240px;
    max-width: 320px;
    border-radius: 10px;
    object-fit: cover;
  }
  .uploadedImageOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 240px;
    max-width: 320px;
    border-radius: 10px;
    background-image: linear-gradient(
      to bottom,
      rgba(47, 51, 54, 0) 60%,
      rgba(47, 51, 54, 0.22) 76%,
      rgba(47, 51, 54, 0.74)
    );
  }
  > input {
    position: absolute;
    bottom: 16px;
    left: 12px;
    border: 0px;
    color: white;
    background-color: transparent;
    font-size: 16px;
    &::placeholder {
      color: white;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white;
    }
  }
  .uploadedImageButtonContainer {
    position: absolute;
    top: 14px;
    right: 14px;
    width: fit-content;
    :nth-child(2) {
      margin-top: 9px;
    }
    > button {
      background-color: white;
      border-radius: 50%;
      height: 21px;
      width: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 7px 12px -6px rgba(60, 60, 60, 1);
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/*  error */
.errorMessage {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: #e74c3c;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
}

.geoJsonError {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: #e74c3c;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
}

.reportPDFContainer {
  border-radius: 10px;
  background-color: #f2f2f7;
  padding: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  margin-top: 20px;
  > a > svg {
    height: 48px;
  }
  .reportPDFDetails {
    flex-grow: 1;
    margin-left: 14px;
    max-width: 50%;
  }

  .reportEditButton {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      cursor: pointer;
    }
    > svg {
      height: 12px;
    }
  }
}

.shallowOpacity {
  opacity: 0.5;
}

// Loader for Buttons
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Popover

.popover {
  position: relative;
  width: fit-content !important;
  .popoverContent {
    position: absolute;
    z-index: 10;
    background-color: $light;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    border: 2px solid $primaryColor;
    display: none;
  }
  &:hover,
  &:active {
    cursor: pointer;
    .popoverContent {
      display: block;
    }
  }
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

// white modal
.modal {
  background-color: white;
  border: 0px;
  border-radius: 8px;
  max-height: 80vh;
  width: 80vw;
  max-width: 1200px;
  overflow: hidden;
  outline: none;
}