@import './../../../../theme/theme';

// new navbar dropdown styles

.navbarMenu {
  display: flex;
  min-width: max-content;
  padding: 7px;
  border-radius: 24px;
  background: linear-gradient(
    to bottom,
    rgba(201, 239, 217, 1),
    rgba(215, 242, 193, 1)
  );
}

.navbarMenuSubContainer {
  display: flex;
  gap: 7px;
  border-radius: 24px;
  @include xsPhoneView {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  @include smTabletView {
    flex-direction: column;
  }

  @include lgLaptopView {
    flex-direction: row;
  }
}

.about {
  position: absolute;
  top: 56px;
  right: -228px;
  @include xsPhoneView {
    min-width: 367px;
    max-height: 70vh;
    top: 43px;
    right: -126px;
    overflow-y: auto;
  }
}

.tools {
  position: absolute;
  top: 56px;
  right: -129px;
  @include xsPhoneView {
    min-width: 367px;
    top: 43px;
    right: -59px;
  }
}

.campaign {
  position: absolute;
  top: 56px;
  right: -27px;
  @include xsPhoneView {
    min-width: max-content;
    top: 43px;
    right: -37px;
  }
}

.platformMenu {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 19px;
}

.organizationMenu {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 21px;
}

.socialSitesMenu {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;

  @include xsPhoneView {
    flex-direction: row;
    justify-content: space-between;
  }
  @include smTabletView {
    flex-direction: row;
    justify-content: space-between;
  }
  @include lgLaptopView {
    flex-direction: column;
  }
}

.toolsMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 24px;
}

.campaignMenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navbarMenuSection {
  background: $backgroundColor;
  max-width: 405px;
  padding: 22px;
  border-radius: 20px;
  position: relative;
  color: $mediumGrayColor;

  .sectionTitle {
    font-size: $fontSmall;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    .highlightLabel {
      font-weight: 700;
    }
  }

  .sectionDescription {
    font-size: $fontXSmall;
    margin-top: 8px;
  }
}

.navbarMenuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: max-content;
  background: $backgroundColor;

  h3 {
    font-weight: 600;
    font-size: $fontMedium;
    color: $dark;

    &:hover {
      color: $primaryDarkColor;
    }
  }

  .description {
    font-weight: 400;
    font-size: $fontSmall;
    color: $mediumGrayColor;
  }
}

.allTools {
  padding: 2px 18px;
  border-radius: 200px;
  background-color: $primaryDarkColorTransparent;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 21px;

  .label {
    font-weight: 700;
    font-size: $fontXSmall;
    color: $primaryDarkColor;
  }
}

.chevronIcon {
  margin-left: 6px;
}

.toolTipArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #c5f2e4;
  position: absolute;
  top: 17px;
  left: 19px;

  @include xsPhoneView {
    top: 10px;
  }
}

// navbar styling

.navbarItemGroup {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  button,
  a {
    font-size: $fontMedium;
    color: $dark;
    font-weight: 500;
    font-family: $primaryFontFamily;

    &:hover {
      color: $primaryDarkColor;
    }

    @include xsPhoneView {
      font-size: $fontXSmall;
      margin-top: 2px;
    }
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    .chevron {
      width: 24px;
      height: 24px;

      @include xsPhoneView {
        width: 14px;
        height: 14px;
        margin-left: 3px;
      }
    }

    svg {
      margin-top: 2px;
    }
  }

  .arrowIcon {
    width: 15px;
    height: 15px;
  }

  .activeNavItem {
    color: $primaryDarkColor;
  }
}
