@import './../../../../theme/theme';

.mainNavContainer {
  display: flex;
  justify-content: center;
}

.navContainer {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  z-index: 1030;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0px;
  &.impersonationMode {
    top: 49px;
    @include xsPhoneView {
      top: 62px;
    }
  }
  @include xsPhoneView {
    border-radius: 12px;
    width: 95%;
    top: 38px;
    padding: 8.5px;
    border: 1px solid rgba(211, 211, 211, 0.5);
  }
}

.planetLogoContainerForMobile {
  width: 42px;
  height: 42px;
  border-radius: 9.5px;
  padding-left: 5px;
  padding-top: 5px;
  border: 0.725px solid rgba(211, 211, 211, 0.5);
  box-shadow: 0px 4.345px 5.793px 0px rgba(43, 43, 43, 0.1);
}

.tenantLogo {
  margin-top: 0px;
  @include xsPhoneView {
    margin-top: 8px;
  }
}

.brandLogos {
  display: flex;
  align-items: center;
  @include xsPhoneView {
    gap: 5px;
  }

  .planetLogo,
  .tenantLogo {
    height: 60px;
    @include xsPhoneView {
      height: 32px;
      width: 31px;
    }
  }

  .logo_divider {
    height: 36px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0rem 0.5rem;
    &.constrained {
      margin: 0rem 0.2rem;
    }
  }
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 20px;
  .profileButtonContainer {
    margin-left: 10px;
  }
  .linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    > p {
      font-family: $primaryFontFamily;
      font-size: $fontMedium;
      font-weight: 500;
      margin: 5px;
      line-height: 1;
      color: rgba(47, 51, 54, 1);
      cursor: pointer;
    }
    > p.activeIcon {
      color: $primaryColorNew;
      font-weight: 700;
    }
    .link_icon {
      width: 24px;
      height: 24px;
      margin: 5px;
      cursor: pointer;
    }
    &:hover {
      cursor: pointer;
      color: $primaryColorNew;
      > p {
        color: $primaryColorNew;
      }
    }
  }
}

.subMenu {
  display: flex;
  align-items: center;
  position: relative;
  .subMenuItems {
    top: 48px;
    left: -5px;
    position: absolute;
    width: 300px;
    display: none;
    background-color: $backgroundColor;
    padding: 12px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: $primaryColor;
    @include xsPhoneView {
      top: 48px;
      left: -120px;
    }
    &.showSubMenu {
      display: flex;
    }
  }
  .subMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link_icon {
    width: 24px;
    height: 24px;
    margin: 5px;
  }

  .menuText {
    padding-top: 5px;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    font-family: inherit;
    font-size: 16px;
    color: $primaryFontColor;
  }
  & .menuRow {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    &:hover {
      .menuText {
        color: $primaryColorNew;
      }

      .link_icon svg g path {
        fill: $primaryColorNew;
      }
    }
  }
}

@include xsPhoneView {
  .menuItems {
    align-items: center;
    gap: 5px;
    .profileButtonContainer {
      display: flex;
      justify-content: center;
      margin-left: 5px;
    }
    .linkContainer {
      margin: 0px;
      > p {
        font-size: var(--font-x-extra-small);
      }
      .link_icon {
        margin: 5px;
      }
      &.constrained {
        text-align: center;
        max-width: 64px;
      }
    }
    &.constrained {
      right: 2px;
    }
  }
}

.mobileSignInButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;

  svg {
    height: 100%;
  }
}

.profileImageButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  > img {
    border-radius: 50%;
    height: 50px;
    @include xsPhoneView {
      height: 24px;
    }
  }
  .userDefaultIconContainer {
    width: 50px;
    height: 50px;
    @include xsPhoneView {
      width: 24px;
      height: 24px;
    }
    svg {
      height: 100%;
    }
  }
}

.ProfileIconSkeleton {
  width: 100%;
  > span {
    > span {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  @include xsPhoneView {
    > span {
      > span {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
}
