@import './../../../../theme/theme';

.mainNavContainer {
  display: flex;
  justify-content: center;
}

.navContainer {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  z-index: 1030;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 18px 36px 18px 25px;
  border-radius: 0px;
  &.impersonationMode {
    top: 49px;
    @include xsPhoneView {
      top: 62px;
    }
  }
  @include xsPhoneView {
    border-radius: 12px;
    width: 95%;
    top: 38px;
    padding: 8.5px;
    border: 1px solid rgba(211, 211, 211, 0.5);
  }
}

.planetLogoContainerForMobile {
  width: 42px;
  height: 42px;
  border-radius: 9.5px;
  padding-left: 5px;
  padding-top: 5px;
  border: 0.725px solid rgba(211, 211, 211, 0.5);
  box-shadow: 0px 4.345px 5.793px 0px rgba(43, 43, 43, 0.1);
}

.tenantLogoX {
  margin-top: 0px;
  @include xsPhoneView {
    margin-top: 8px;
  }
}

.brandLogos {
  display: flex;
  align-items: center;
  .tenantLogo {
    height: 60px;
    @include xsPhoneView {
      height: 32px;
      width: 31px;
    }
  }

  .primaryTenantLogo,
  .hidePrimaryTenantLogo {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo_divider {
    height: 36px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0rem 0.5rem;
  }
}

.menuItems {
  display: flex;
  gap: 20px;
  .linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    > p {
      font-family: $primaryFontFamily;
      font-size: $fontMedium;
      font-weight: 600;
      margin: 5px;
      line-height: 1;
      color: rgba(47, 51, 54, 1);
      cursor: pointer;
    }
    > p.active_icon {
      color: $primaryColor;
    }
    .link_icon {
      width: 24px;
      height: 24px;
      margin: 5px;
      cursor: pointer;
    }
    &:hover {
      cursor: pointer;
      color: $primaryColor;
      > p {
        color: $primaryColor;
      }
    }
  }
}

.subMenu {
  display: flex;
  align-items: center;
  position: relative;
  .subMenuItems {
    top: 48px;
    left: -5px;
    position: absolute;
    height: 330px;
    width: 300px;
    display: none;
    background-color: $backgroundColor;
    padding: 12px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: $primaryColor;
    @include xsPhoneView {
      top: 68px;
      left: -120px;
    }
    &.showSubMenu {
      display: flex;
    }
  }
  .subMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link_icon {
    width: 24px;
    height: 24px;
    margin: 5px;
  }

  .menuText {
    padding-top: 5px;
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    font-family: inherit;
    font-size: 16px;
    color: $primaryFontColor;
  }
  & .menuRow {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    &:hover {
      .menuText {
        color: $primaryColor;
      }

      .link_icon svg g path {
        fill: $primaryColor;
      }
    }
  }
}

@include xsPhoneView {
  .menuItems {
    align-items: center;
    gap: 12px;
    .linkContainer {
      margin: 0px;
      > p {
        font-size: var(--font-x-extra-small);
      }
      .link_icon {
        margin: 5px;
      }
    }
  }
}

//new version

.signInButton {
  width: 126px;
  height: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(134.6deg, #68b030 -52.19%, #007a49 100%);
  border-radius: 100px;
  font-size: 16px;
  @include xsPhoneView {
    width: 76px;
    height: 32px;
    font-size: 12px;
  }
}

.profileImageButton {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include xsPhoneView {
    height: 40px;
  }
  > img {
    border-radius: 50%;
  }
}
