@import '../../../../theme/theme';

.projectDescription {
  width: 100%;
  background-color: $dsSoftGreen;
  border-radius: 14px;
  font-size: $fontXSmall;
  button {
    display: flex;
    gap: 6px;
    font-weight: 700;
    font-size: $fontXXSmall;
    color: $dsPrimaryColor;
    padding-left: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }
}
.infoTitle {
  font-weight: 700;
  padding: 16px 16px 0;
}

.infoText {
  padding: 4px 16px 7px;
}

.hideText {
  display: none;
}
.showText {
  display: inline;
}
