@import '../../../../theme/theme';

.interventionInfoSection {
  background: $dsWhite;
  max-width: 356px;
  border-radius: 12px;
  margin-top: 23px;
  padding: 12px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.interventionHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.treeCount {
  font-weight: 700;
  font-size: $fontSmall;
  span {
    font-weight: 400;
  }
}

.interventionTitle {
  font-weight: 700;
  font-size: $fontSmall;
  span {
    font-weight: 400;
  }
}

.hid {
  font-size: $fontSmall;
}

.plantingDetailsGroup {
  display: flex;
  justify-content: space-between;
  font-size: $fontXSmall;
  gap: 10px;
}

.otherInterventionGroup {
  display: flex;
  font-size: $fontXSmall;
}

.otherInterventionDetailsItem {
  padding: 20px;
  background: $dsPrimaryColorTransparent7;
  border-radius: 12px;
  flex: 1;
}

.plantingDetailsItem {
  min-width: 160px;
  padding: 20px;
  background: $dsPrimaryColorTransparent7;
  border-radius: 12px;
}
.label {
  color: $dsPrimaryColor;
  font-weight: 700;
  font-size: $fontXSmall;
}
.showWholeArea,
.data {
  font-weight: 400;
  margin-top: 3px;
  font-size: $fontXSmall;
}

.showWholeArea {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
  color: $dsCoreText;
}

.speciesContainer {
  background: $dsPrimaryColorTransparent7;
  border-radius: 12px;
  color: $dsPrimaryColor;
  font-weight: 700;
  font-size: $fontXSmall;
  padding: 20px;
}

.speciesSubContainer {
  margin-top: 7px;
}

.speciesList {
  display: flex;
  color: $dsCoreText;
  line-height: 16.34px;
  .speciesName {
    font-style: italic;
    font-weight: 400;
    min-width: 200px;
  }
  .treeMetrics {
    display: flex;
    min-width: 90px;
    justify-content: space-between;
    p {
      font-size: $fontXSmall;
      font-weight: 600;
    }
  }
}

.sampleTreesContainer {
  background: $dsPrimaryColorTransparent7;
  border-radius: 12px;
  padding: 20px;
  font-size: $fontXSmall;
  font-weight: 700;
  .mainLabel {
    color: $dsPrimaryColor;
  }
}

.sampleTreeListContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sampleTreeContainer {
  background: $dsWhite;
  border-radius: 12px;
  list-style-position: inside;
  padding: 10px 15px;
}

.scientificNameContainer {
  font-weight: 600;
  font-size: $fontXSmall;
  display: flex;
  color: $dsCoreText;
  .scientificName {
    font-style: italic;
    margin-left: 2px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.treeMeasurement {
  font-weight: 400;
}

.treeMapperLabelContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.treeMapperLabelSubContainer {
  font-size: $fontXSmall;
  display: flex;
  gap: 2px;
  .treeMapperLabel {
    color: $dsPrimaryColor;
    font-weight: 700;
    display: flex;
  }
}

//sample tree styles

.singleTreeInfoHeader {
  display: flex;
  justify-content: space-between;
  font-size: $fontSmall;
  h1 {
    font-weight: 700;
  }
  p {
    font-weight: 400;
  }
}

.singleTreeImage {
  border-radius: 13px;
  height: 192px;
  object-fit: cover;
  width: auto;
}

.plantInfoCard {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .scientificName .data {
    font-style: italic;
  }
}

.interventionMetadataGroup {
  display: flex;
  flex-direction: column;
}

.interventionMetaItem {
  padding: 20px;
  background: $dsPrimaryColorTransparent7;
  border-radius: 12px;
  margin-bottom: 10px;
}
