@import '../../../../theme/theme';

.reviewReportsContainer {
  background-color: $dsSoftBlue;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 14px;
  h6 {
    text-align: left;
    width: 100%;
    font-size: $fontXSmall;
    font-weight: 700;
  }
}

.singleReviewContainer {
  width: 100%;
}

.downloadReportContainer {
  display: flex;
  margin-left: 21px;
  margin-top: 2px;

  p {
    font-size: $fontXSmall;
    color: $dsWarmBlue;
    font-weight: 700;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.reviewInfoContainer {
  display: flex;
  gap: 7px;
  font-size: $fontXSmall;
  align-items: center;

  a {
    color: $dsWarmBlue;
    text-decoration: underline;
    font-weight: 700;
  }
}
