@import '../../../../theme/theme';

.projectInfoSection {
  padding: 15px;
  background: $dsWhite;
  border-radius: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  grid-area: 15px;
  gap: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  @include xsPhoneView {
    box-shadow: none;
    margin-left: 0px;
    padding: 15px 24px 0;
  }
}

.keyInfoContainer,
.additionalInfoContainer,
.projectSummary,
.contactDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 14px;
  font-size: $fontXSmall;
}

.keyInfoContainer {
  background: $dsSoftYellow;
}

.additionalInfoContainer {
  background: $dsWarmBlueTransparent10;
}

.projectSummary {
  background-color: $dsSoftPurple;
  gap: 12px;
  height: auto;
}

.contactDetailsContainer {
  background-color: $dsSoftRed;
}

.singleRowInfoContent {
  flex: 1;
  .singleRowInfoTitle {
    font-weight: 700;
    margin-bottom: 4px;
    display: flex;
    gap: 12px;
  }
}

.certificateDataContainer {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;

  @include xsPhoneView {
    flex-direction: column;
  }
  a {
    color: $dsPurpleSky;
    font-weight: 700;
    font-size: $fontXXSmall;
  }

  .certificateItem {
    display: flex;
  }
}

.keyInfoSubContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.infoIconPopupContainer {
  padding: 12px 16px;
  font-size: $fontXXSmall;
  max-width: 200px !important;
}

.abandonmentTitle {
  display: flex;
  gap: 12px;
}

.siteOwnershipContent {
  display: flex;
  gap: 5px;
  max-width: max-content;
  flex-direction: column;

  .ownershipTypeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  span {
    padding: 4px 6px;
    background-color: $dsWarmBlueTransparent20;
    border-radius: 4px;
    font-weight: 400;
    font-size: $fontXXSmall;
    white-space: nowrap;
    line-height: normal;
  }
}

.downloadLabel {
  padding: 2px 9px;
  border-radius: 24px;
  border: 0.4px solid $dsPurpleSkyTransparent20;
  background: $dsPurpleSkyTransparent10;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
  a {
    color: $dsPurpleSky;
  }
}
.expenseContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}
.expenseDetails {
  display: flex;
  gap: 6px;
  align-items: center;
  min-width: 50%;
  .expenseYear {
    font-size: $fontXXSmall;
  }
}
.reportsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.downloadIcon {
  display: none;
}

.contactText {
  margin-top: 12.87px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.singleContact {
  display: flex;
  background-color: $dsSunriseOrangeTransparent10;
  border-radius: 8px;
  padding: 0 10.5px;
  min-height: 41px;
  align-items: center;
  gap: 8.5px;

  .icon {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dsWhite;
    flex-shrink: 0;
  }
  .title {
    font-size: $fontXSmall;
    font-weight: 500;
    color: $dsCoreText;
  }
  .rightArrow {
    margin-left: auto;
  }
}

@include xsPhoneView {
  .downloadLabel {
    background-color: transparent;
    border: 0px;
    font-weight: 400;
    color: inherit;
    padding: 0;
    cursor: none;
  }
  .expenseDetails {
    width: 100%;
    gap: 32px;
  }
  .downloadIcon {
    display: inline;
    margin-left: auto;
    cursor: pointer;
  }
  .expenseContainer {
    gap: 2px;
  }
  .reportsContainer {
    flex-direction: column;
    gap: 2px;
    > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
