@import '../../../../theme/theme';

.projectInfoContainer {
  padding: 15px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  grid-area: 15px;
  gap: 15px;
}
