@import '../../../../theme/theme';

.singleCarouselImage {
  width: 100%;
  height: 100%;
  background-position: center center !important;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  color: $dsWhite;
  font-size: $fontXSmall;
}

.mobileModal {
  justify-content: center;
  padding: 10px;
}

.imageSliderContainer {
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  > button {
    position: absolute;
    z-index: 9999;
    width: 18px;
    top: 13px;
    right: 13px;
    cursor: pointer;
    pointer-events: auto;
  }
}

.expandedImageSliderContainer {
  position: relative;
  width: 800px;
  border-radius: 16px;
  overflow: hidden;
  .closeModalButton {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9999;
    background: $dsWhite;
    cursor: pointer;

    @include xsPhoneView {
      width: 24px;
      height: 24px;
      right: 6px;
      top: 6px;
    }
  }
}

.sliderButton {
  cursor: pointer;
  > svg {
    width: 64px;
    height: 64px;
  }
}

.nextMobileSliderButton,
.prevMobileSliderButton,
.mobileSliderButtonCommon {
  position: absolute;
  z-index: 9999;
  top: 188px;

  > svg {
    width: 24px;
    height: 24px;
  }
}
.prevMobileSliderButton {
  left: 116px;
}
.nextMobileSliderButton {
  right: 116px;
}
