@import '../../../../theme/theme';

.projectsTitleText {
  font-family: $primaryFontFamily;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
}

//  the list of projects
.listProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleProject {
  // ONLYDESKTOP :margin to right of every project
  margin: 0px 50px 40px 0px;
  width: 360px;
}

.projectNotFound {
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 0px 20px;
}

.projectNotFoundImage {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .outerProjectsContainer {
    padding: 0px 0px 0px 10px;
  }
  .singleProject {
    padding: 20px 20px;
    margin: 0px 0px 0px 0px;
  }
}
