@import '../../../../theme/theme';

.profileCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.profileBackground {
    background-image: url('../../../../../public/assets/images/privateProfileBackground.jpg');
    width: 100%;
    min-height: 9rem;
    border-radius: 24px 24px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.profilePicture {
    margin-top: -4em;
    z-index: 10;
    border-radius: 50%;
    background-color: #fff;
    border: 4.677px solid #FFF;
    width: 6rem;
    height: 6rem;

    svg {
        width: 100%;
        height: 100%;
    }

}

.profileDetailsContainer{
    width: 100%;
    padding: 0 14px 24px 14px;

}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
        text-transform: capitalize;
    }

    p {
        font-size: 0.75rem;
        text-align: center;
    }

}

.editProfileIcon {
    background: linear-gradient(0deg, rgba(33, 150, 83, 0.20) 0%, rgba(33, 150, 83, 0.20) 100%), #FFF;
    width: 2.25rem;
    height: 2.25rem;
    padding: 9px;
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
    margin-top: -1rem;
}

.profileCardButtonContainer {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;

    .profileCardButton {
        padding: 6px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid rgba(33, 150, 83, 0.40);
        background: #FFF;
        white-space: nowrap;
        cursor: pointer;
        min-height: 2rem;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        label {
            font-size: 14px;
            font-weight: 700;
            color: #2F3336;
        }
    }
    
}

@include xsPhoneView {
   .profileInfo {
    h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }
   }
}