@import '../../../../theme/theme';

.mapFeatureExplorer {
  @include smTabletView {
    display: flex;
    flex-direction: column;
  }
}

.exploreButtonContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    font-size: $fontSmall;
    @include xsPhoneView {
      font-size: $fontXXSmall;
    }
  }

  p {
    font-weight: 400;
  }
}

.exploreMainContainer {
  max-width: 240px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 10px;
  padding: 12px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  max-height: 485px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include xsPhoneView {
    position: absolute;
    max-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
    min-width: 293px;
    border-radius: 12px 0 0 12px;
    right: 0px;
    margin-top: 0;
  }
}

.exploreItemsContainer {
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @include xsPhoneView {
    max-height: max-content;
  }
}

.exploreItemSection {
  background: rgba(0, 122, 73, 0.05);
  border-radius: 8px;
  padding: 8px 9px;
  font-size: 12px;
  margin-bottom: 10px;

  h2 {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: $fontSmall;
  }
}

.singleLayerOption {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid $horizontalLineColor;

  &:last-child {
    border-bottom: none;
  }

  .layerLabel {
    cursor: default;

    &.additionalInfo {
      cursor: help;
      p {
        text-decoration: $horizontalLineColor dashed underline;
        text-underline-offset: 2px;
      }
    }
  }
}

.layerInfoPopupContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 189px;
  background: #fff;
  padding: 12px;
  font-size: 10px;

  .label {
    font-weight: 600;
    color: rgba(130, 130, 130, 1);
    text-transform: uppercase;
  }
  .source {
    color: $primaryDarkColor;
  }
}

.switchContainer {
  height: 14px;
  width: 24px;
}

.exploreDescription {
  height: fit-content;
  font-size: var(--font-xx-extra-small);
  border-radius: 6px;
}
