@import '../../../../theme/theme';


.articleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .articleSectionHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #00396b;
    font-family: $primaryFontFamily;
    margin-top: 42px;
  }
  
  .articleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    width: 100vw;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .articleContainer > div {
    padding-right: 0px;
    padding-left: 0px;
  }
  .articleContainer > div {
    margin-top: 46px;
  }
  .articleSingleContainer {
    position: relative;
    width: 100%;
    background: #ffffff;
    margin-bottom: 0px;
  }
  
  .articleImage {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .articleImageOverlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 40%,
      #000000 100%
    );
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    z-index: 2;
  }
  .articleInfoSection {
    text-align: center;
    color: #000000;
    border: 1px solid #dddbda;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  
    padding: 20px;
  }
  .articletreeCount {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .articleTitle {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  
  .articleLink {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #0070d2;
    flex: none;
    align-self: center;
    background-color: #0070d2;
    padding: 6px 16px;
    color: white;
    width: fit-content;
    border-radius: 4px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
@include smTabletView {
  

    .articleInfoSection {
        bottom: 70px;
        left: 40px;
        z-index: 3;
      }
    
      .articleContainer > div {
        padding-right: 15px;
        padding-left: 15px;
      }
    
      .articleSingleContainer {
        margin-bottom: 30px;
      }
    
      .articleTitle {
        font-size: 24px;
      }
    
      .articleLink {
        margin-top: 44px;
        margin-bottom: 16px;
      }
    
      .articleImageOverlay {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 36%,
          rgba(0, 0, 0, 0.502) 55.7%,
          #000000 100%
        );
      }
    
      
}

@include lgLaptopView {
  
}