@import '../../../../theme/theme';

.blogSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
  }
  
  .blogSectionHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #00396b;
    font-family: $primaryFontFamily;
    margin-top: 100px;
  }
  
  .blogContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    width: 100%;
    max-width: 1280px;
  }
  
  .blogContainer > div {
    padding: 0px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  
  // .blogContainer > div:not(:first-of-type) {
  //   margin-top: 30px;
  // }
  
  .blogSingleContainer {
    position: relative;
    margin-bottom: 32px;
  }
  
  .blogImage {
    width: 100%;
    height: 200px;
  }
  
  .blogImageOverlay {
    background: none;
  }
  // .blogInfoSection {
  // }
  .blogtreeCount {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $light;
  }
  
  .blogTitle {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-top: 15px;
  }
  
  .blogLink {
    font-family: $primaryFontFamily;
    font-size: 18px;
    line-height: 24px;
    color: #0070d2;
  }
  
@include smTabletView {
    .blogContainer {
        justify-content: center;
      }
    
      .blogImage {
        height: auto;
      }
    
      .blogImageOverlay {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 36%,
          rgba(0, 0, 0, 0.502) 55.7%,
          #000000 100%
        );
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0px;
        z-index: 2;
      }
    
      .blogInfoSection {
        position: absolute;
        bottom: 24px;
        left: 24px;
        z-index: 3;
      }
    
      .blogContainer > div:not(:first-of-type) {
        margin-top: 0px;
      }
    
      .blogContainer > div {
        padding: 0px 15px;
      }
    
      .blogTitle {
        color: $light;
        font-size: 18px;
      }
    
      .blogLink {
        font-family: $primaryFontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #0070d2;
        flex: none;
        align-self: center;
        padding: 6px 16px;
        background-color: $backgroundColor;
        width: fit-content;
        border-radius: 4px;
      }
}

@include lgLaptopView {
  
}