@import '../../../../theme/theme';

.climateActionSection {
  padding-top: 260px;
  padding-bottom: 310px;
  width: 100vw;
  // background-image: url('/tenants/salesforce/images/donate-bkgd.png');
  background-image: url('/tenants/salesforce/images/rectangle-38.png'),
    url('/tenants/salesforce/images/donate-bkgd.png');
  background-position: top center, bottom center;
  background-repeat: no-repeat;
  background-size: 1440px auto;
  height: 1440px;
  margin-top: -120px;

  @include mdTabletView {
    height: 1280px;
  }
  @include xsPhoneView {
    height: auto;
    padding-top: 160px;
    padding-bottom: 240px;
  }
  h3 {
    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: $sfFontLarge;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.004em;
    color: $dsDeepBlue;

    @include lgLaptopView {
      font-size: $fontXXLarge;
      line-height: 100%;
      margin-bottom: 10px;
    }
  }
  p {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontLarge;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.002em;
    color: $dsCoreText;
    margin-bottom: 60px;
    small {
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      color: $dsCoreText;
    }
  }
}

.climateActionContent {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 32px;
  }
  span {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: $sfFontXS;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dsSoftText2;
    margin-bottom: 12px;
    display: block;
  }
  h4 {
    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: $sfFontMedium;
    line-height: 26px;
    letter-spacing: -0.001em;
    color: $dsDeepBlue;
    margin-bottom: 16px;
    @include lgLaptopView {
      margin-bottom: 5px;
    }
  }
}

.climateActionDonate {
  margin-top: 100px;
  text-align: center;

  @include xsPhoneView {
    margin-top: 60px;
  }
  p {
    margin-bottom: 20px;
  }
  button {
    background: $dsOceanBlue;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSmall;
    line-height: 130%;
    text-transform: uppercase;
    color: $dsWhite;
    padding: 13px 24px;
    cursor: pointer;
  }
}
