@import '../../../../theme/theme';

.contentSectionContainer {
  background-image: url('/tenants/salesforce/images/rectangle-35.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 999;
  // height: 1142px;
  margin-top: -292px;
  padding-top: 124px;
  @include xsPhoneView {
    background-size: auto 1845px;
    height: 1845px;
  }
  @include smTabletView {
    background-size: auto 1645px;
    height: 1645px;
  }
  @include mdTabletView {
    background-size: auto 1422px;
    height: 1422px;
  }
  @include lgLaptopView {
    background-size: auto 1272px;
    height: 1272px;
  }
  @include xlDesktopView {
    background-size: auto 1142px;
    height: 1142px;
  }
  .contentSection {
    padding-bottom: 150px;
    h2 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $fontXXLarge;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.004em;
      color: $sfBrandNavy;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $sfFontDisplay1;
        line-height: 100%;
        letter-spacing: -0.006em;
      }
    }
    h3 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $sfFontLarge;
      line-height: 28px;
      letter-spacing: -0.004em;
      color: $sfBrandNavy;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $fontXXLarge;
        line-height: 100%;
        margin-bottom: 15px;
      }
    }
    p {
      font-family: $primaryFontFamily;
      font-style: normal;
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      color: $sfBrandNavy;
      margin-bottom: 30px;
      a {
        text-decoration: underline;
        color: $sfBrandBlueDeep;
      }
    }
    img {
      margin: 0 auto 30px;
      display: block;
      @include lgLaptopView {
        margin: 0;
      }
    }
    .justifyContentCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  p.contentSectionSubhead {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontMedium;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.002em;
    color: $sfBrandNavy;
    @include lgLaptopView {
      font-size: $sfFontMedium;
      line-height: 30px;
    }
  }
}
