@import '../../../../theme/theme';

.fluidContainer{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justifyContentCenter {
  justify-content: center;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

.mb65100 {
  margin-bottom: 65px;
  @include lgLaptopView{
    margin-bottom: 100px;
  }
}

@include mdTabletView{
  .fluidContainer{
  max-width: 720px;
  }
}
@include lgLaptopView{
  .fluidContainer{
  max-width: 960px;
  }
}
@include xlDesktopView{
  .fluidContainer{
  max-width: 1140px;
  }
}

.gridRow{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col12{
  -moz-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;

}
.col12,
.colSm10,
.colMd4,
.colMd5,
.colMd6,
.colMd7,
.colMd10,
.colLg4,
.colLg5,
.colLg6,
.colLg7,
.colLg10 {
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@include smTabletView{
  .colSm10{
    flex: 0 0 83.333333%;
      max-width: 83.333333%;
  }
}
@include mdTabletView{
  .colMd4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .colMd5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .colMd6{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colMd7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .colMd10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@include lgLaptopView{
  .colLg4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .colLg5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .colLg6{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colLg7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .colLg10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

