@import '../../../../theme/theme';

.growingImpactSection {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100vw;
  height: 1328px;
  background-image: url('/tenants/salesforce/images/growing-impact.png');
  background-size: 1440px 1328px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 99;
  margin-top: -200px;
  @include mdTabletView {
    height: 2258px;
    background-size: 1440px 2258px;
  }
  @include lgLaptopView {
    height: 1778px;
    background-size: 1440px 1778px;
  }
  @include xsPhoneView {
    padding-top: 150px;
    margin-top: -180px;
    height: 3224px;
    background-size: 2824px auto;
  }
  h3 {
    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: $sfFontLarge;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.004em;
    color: $dsDeepBlue;

    @include xsPhoneView {
      margin-bottom: 30px;
    }
    @include mdTabletView {
      margin-bottom: 30px;
    }

    @include lgLaptopView {
      font-size: $fontXXLarge;
      line-height: 100%;
      margin-bottom: 30px;
    }
  }
  p {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontLarge;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.002em;
    color: $dsCoreText;
    margin-bottom: 60px;
    small {
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      color: $dsCoreText;
    }
  }
  .imageContainer {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    justify-content: space-between;
    overflow-y: hidden;
    // align-items: center;
    height: 230px;
    padding-left: 15px;
    padding-right: 15px;

    a,
    .references {
      text-align: center;
      color: $dsWhite;
    }

    .referenceItem {
      list-style-type: none;
    }

    a {
      text-decoration: underline;
    }
  }
  .foliageWrapper {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .foliage {
    margin-bottom: 0px;
    vertical-align: bottom;
  }
  .partnerLogo {
    position: absolute;
    width: 90px;
    height: auto;
    top: -30px;
    left: 0px;
  }
}

.climateActionContent {
  display: flex;
  flex-direction: column;
  @include mdTabletView {
    margin-bottom: 40px;
  }
  @include xsPhoneView {
    margin-bottom: 40px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 32px;
  }
  span {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: $sfFontXS;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dsSoftText2;
    margin-bottom: 12px;
    display: block;
  }
  h4 {
    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: $sfFontMedium;
    line-height: 26px;
    letter-spacing: -0.001em;
    color: $dsWhite;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 16px;
    @include lgLaptopView {
      margin-bottom: 5px;
    }
  }
  h5 {
    color: $dsWhite;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 16px;
    @include lgLaptopView {
      margin-bottom: 5px;
    }
    + h5 {
      padding-top: 0;
    }
  }
}

.climateActionDonate {
  margin-top: 100px;
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  button {
    background: $dsOceanBlue;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSmall;
    line-height: 130%;
    text-transform: uppercase;
    color: $dsWhite;
    padding: 13px 24px;
    cursor: pointer;
  }
}
