@import '../../../../theme/theme';

.landingSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/tenants/salesforce/images/mobile/Landscape.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;

  @include smTabletView {
    padding: 35px 0 45px;
  }

  @include lgLaptopView {
    background-image: url('/tenants/salesforce/images/desktop/landscape2x.png');
    margin-top: 80px;
    max-width: 2560px;
  }
}

.landingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-bottom: 10vh;
  @include smTabletView {
    max-width: 60%;
  }
  @include lgLaptopView {
    max-width: 800px;
    margin-bottom: 16vh;
  }

  h1 {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #032D60;
    text-align: center;
    margin-bottom: 20px;
    @include lgLaptopView {
      font-size: 72px;
      line-height: 80px;
      text-align: center;
      font-weight: 500;
    }
  }

  h3 {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.004em;
    color: #FFFFFF;
    @include lgLaptopView {
      font-size: 36px;
      line-height: 100%;
      margin-bottom: 38px;
    }
  }

  p {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    @include lgLaptopView {
      font-size: 15px;
      line-height: 24px;
    }
  }

  button {
    background: #215CA0;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 24px;
    cursor: pointer;
  }
}

.landingContentTop {
  text-align: center;
  margin-bottom: 245px;
}

.landingContentBottom {
  text-align: center;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 163px;
    height: 234px;
    background-image: url('/tenants/salesforce/images/astro-tree.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    left: -143px;
  }
}
