@import '../../../../theme/theme';
.leaderBoardSection {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
  background-position: center -130px, calc(50% + -370px) 28%,
    calc(50% + 470px) 48%, calc(50% + 426px) 32%;
  background-repeat: no-repeat;
  // background-size: cover, 150px 150px, 67px 67px, 16px 16px;
  background-image: url('/tenants/salesforce/images/tracker-bkgd.png');
  padding-top: 90px;
  background-size: 1440px auto;
  @include lgLaptopView {
    margin-top: 80px;
    max-width: 2560px;
  }
  @include mdTabletView {
    margin-top: -20px;
    padding-bottom: 90px;
  }
  @include xsPhoneView {
    padding-bottom: 90px;
    margin-top: -20px;
  }
}

.leaderBoard {
  position: relative;
  align-self: center;
  text-align: center;
  width: 90vw;
  background-color: $dsWhite;
  z-index: 999;
  margin-top: -100px;
  padding: 50px 80px;
  @include xsPhoneView {
    padding: 50px 30px;
  }
  @include mdTabletView {
    width: 80vw;
  }
  @include lgLaptopView {
    width: auto;
  }
  // &:before {
  //   content: '';
  //   display: none;
  //   width: 334px;
  //   height: 235px;
  //   background-image: url('/tenants/salesforce/images/foliage-left.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   bottom: 0;
  //   left: -190px;
  //   @include lgLaptopView {
  //     display: block;
  //   }
  // }
  // &:after {
  //   content: '';
  //   display: none;
  //   width: 203px;
  //   height: 235px;
  //   background-image: url('/tenants/salesforce/images/foliage-right.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   bottom: 0;
  //   right: -160px;
  //   @include lgLaptopView {
  //     display: block;
  //   }
  // }
}

.leaderBoard > h3 {
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSmall;
  line-height: 21px;
  text-align: center;
  color: #080707;
}

.leaderBoard > h2 {
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-size: $fontXXLarge;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.004em;
  color: $dsDeepBlue;
  margin-bottom: 30px;
}

.leaderBoardTableHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-color: $dsBaseGrey;
  border-radius: 90px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  @include lgLaptopView {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.leaderBoardTableHeaderTitle {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: $fontSmall;
  line-height: 42px;
  color: $dsDeepBlue;
  background-color: $dsBaseGrey;
  text-align: center;
  border-radius: 90px;
  width: 50%;
}

.leaderBoardTableHeaderTitleSelected {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSmall;
  line-height: 42px;
  color: $dsWhite;
  background-color: $dsDeepBlue;
  text-align: center;
  border-radius: 90px;
  width: 50%;
}

.leaderBoardTableHeaderTitle:hover {
  cursor: pointer;
}
.leaderBoardBody {
  width: 100%;
  margin-top: 40px;
  @include lgLaptopView {
    margin-top: 60px;
  }
}
.leaderBoardBodyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0px;
  border-bottom: 1px solid $dsMediumGreyTransparent30;
}

.leaderBoardDonorName {
  flex-grow: 1;
  font-style: normal;
  font-family: $primaryFontFamily;
  text-align: left;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: $sfFontBase;
  line-height: 24px;
  color: $dsCoreText;
}

.leaderBoardDonorTrees {
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.4px;
  flex: none;
  align-self: center;
  margin-right: 16px;
  margin-bottom: 0px;
  font-family: $primaryFontFamily;
  font-size: $sfFontBase;
  line-height: 24px;
  color: $dsCoreText;
}

.leaderBoardDonorTime {
  font-style: normal;
  font-weight: normal;
  font-size: $fontSixteen;
  color: $dsSoftText2;
  mix-blend-mode: normal;
  opacity: 0.9;
  flex: none;
  align-self: center;
  margin-right: 16px;
  margin-bottom: 0px;
  font-family: $primaryFontFamily;
}

.leaderBoardBushImage {
  display: none;
}
.leaderBoardBushImageMobile {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
@include smTabletView {
  .leaderBoardBody {
    width: 528px;
    margin: 60px auto 0;
  }

  .leaderBoardSection {
    margin-top: -108px;
  }
  .leaderBoardBushImage {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .leaderBoardBushImageMobile {
    display: none;
  }
}
