@import '../../../../theme/theme';

.seaOfTreesContainer {
  background-image: url('/tenants/salesforce/images/rectangle-35.png');
  background-size: auto 2492px;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 999;
  height: 2492px;
  padding-top: 84px;
  @include smTabletView {
    background-size: auto 2592px;
    height: 2592px;
  }
  @include mdTabletView {
    background-size: auto 1452px;
    height: 1452px;
  }
  @include lgLaptopView {
    background-size: auto 1362px;
    height: 1362px;
  }
  * {
    text-align: center;
  }
  .learnMoreButton {
    display: inline-block;
    background: $sfBrandBlue;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSmall;
    line-height: 130%;
    text-transform: uppercase;
    color: $sfWhite;
    padding: 13px 24px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  hr {
    border: none;
    background-color: $sfAccentTeal;
    height: 1px;
    margin-bottom: 30px;
  }
  .seaOfTrees {
    padding-bottom: 150px;
    h2 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $fontXXLarge;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.004em;
      // color: $sfWhite;
      color: $sfBrandNavy;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $sfFontDisplay1;
        line-height: 100%;
        letter-spacing: -0.006em;
      }
    }
    h3 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $sfFontLarge;
      line-height: 28px;
      letter-spacing: -0.004em;
      // color: $sfWhite;
      color: $sfBrandNavy;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $fontXXLarge;
        line-height: 100%;
        margin-bottom: 15px;
      }
    }
    p {
      font-family: $primaryFontFamily;
      font-style: normal;
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      // color: $sfWhite;
      color: $sfBrandNavy;
      margin-bottom: 30px;
      a {
        text-decoration: underline;
        color: $sfBrandBlueDeep;
      }
    }
    img {
      margin: 0 auto 30px;
      display: block;
      width: 100%;
      @include lgLaptopView {
        margin: 0;
      }
    }
    .justifyContentCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .seaOfTreesImagesContainer {
      margin-bottom: 30px;
    }
  }

  p.contentSectionSubhead {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontMedium;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.002em;
    // color: $sfWhite;
    color: $sfBrandNavy;
    @include lgLaptopView {
      font-size: $sfFontMedium;
      line-height: 30px;
    }
  }
}
