.slickSlider {
  :global(.slick-slider) {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    :global(.slick-track),
    :global(.slick-list) {
      transform: translate3d(0, 0, 0);
    }
  }

  :global(.slick-list) {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &.dragging {
      cursor: pointer;
      cursor: hand;
    }
  }

  :global(.slick-track) {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    :global(.slick-loading) & {
      visibility: hidden;
    }
  }

  :global(.slick-slide) {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
      float: right;
    }

    img {
      display: block;
    }

    &.slick-loading img {
      display: none;
    }

    display: none;

    &.dragging img {
      pointer-events: none;
    }

  }

  :global(.slick-initialized) {
    :global(.slick-slide) {
      display: block;
    }
  }

  :global(.slick-loading) {
    :global(.slick-slide) {
      visibility: hidden;
    }
  }

  :global(.slick-vertical) {
    :global(.slick-slide) {
      display: block;
      height: auto;
      border: 1px solid transparent;
    }
  }

  :global(.slick-arrow.slick-hidden) {
    display: none;
  }

  :global(.slick-next),
  :global(.slick-prev){
    position: absolute;
    bottom: -46px;
    left: 50%;
    height: 21px;
    width: 21px;
    padding: 0;
    border: 0;
    outline: none !important;
    background: transparent;
    z-index: 1;
    transform: translateX(-50%);
    cursor: pointer;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  :global(.slick-next) {
    margin-left: 60px
  }

  :global(.slick-prev) {
    margin-left: -60px
  }

  :global(.slick-dots) {
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    li {
      border: 1px solid #0176D3;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
      button {
        opacity: 0;
        cursor: pointer;
      }
    }
    :global(.slick-active) {
      background-color: #0176D3;
      button {
        cursor: default;
      }
    }
  }
}
