@import '../../../../theme/theme';

.socialSection {
  margin-top: -50px;
  width: 100vw;
  text-align: center;
  h3 {
    font-family: $secondaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: $sfFontLarge;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.004em;
    color: $dsDeepBlue;
    margin-bottom: 15px;

    @include lgLaptopView {
      font-size: $fontXXLarge;
      line-height: 100%;
      margin-bottom: 20px;
    }
  }
  p {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontLarge;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.002em;
    color: $dsCoreText;
    small {
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      color: $dsCoreText;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 214px;
    margin-bottom: 25px;
  }
  button {
    background: $dsOceanBlue;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSmall;
    line-height: 130%;
    text-transform: uppercase;
    color: $dsWhite;
    padding: 13px 24px;
    cursor: pointer;
  }
}

.socialContent {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}

.socialFacebook,
.socialTwitter,
.socialLinkedin {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.socialFacebook {
  top: 20px;
  left: -16px;
}

.socialTwitter {
  top: -25px;
  left: 130px;
}

.socialLinkedin {
  top: 70px;
  left: 200px;
}
