@import '../../../../theme/theme';

.timelineSection {
  width: 100vw;
  background-image: url('/tenants/salesforce/images/timeline.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 460px;

  h3 {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.004em;
    color: #032D60;

    @include lgLaptopView {
      font-size: 36px;
      line-height: 100%;
      margin-bottom: 38px;
    }
  }

  h4 {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.001em;
    color: #032D60;
    margin-bottom: 5px;
  }

  p {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #181818;

    @include lgLaptopView {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.timelineRow {
  background-image: url('/tenants/salesforce/images/dotted-line.png');
  background-position: 50% -40px;
  background-repeat: repeat-x;
  background-size: auto 267px;
  width: 100vw;
}

.timelineContent {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.timelineDate {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #032D60;
  display: block;
  margin-bottom: 17px;
}

.timelineImage {
  width: 112px;
  height: 112px;
  margin: 0 auto 13px;
}

.timelineLearnMore {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0176D3;
  &:after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 6px;
    height: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAHlBMVEUAAAABdtMAddMAcNQBdtMAddQCd9QAc9IAcNcBdtPWKcUgAAAACXRSTlMA0GAQ7zCfUCDQLIk9AAAAP0lEQVQI12Ng4GAAg0wFEMk+cxKIYpacCeYaznSFcKcEYOU6gCiOmRMgvAkInYYQczLBHDY4B9kGBbC1rCACAHUAEWVaEeaPAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
