@import '../../../../theme/theme';

.treeCounterSectionRow {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.treeCounterSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

.treeCounterSectionTextHeader {
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #080707;
  text-align: center;
  font-family: $primaryFontFamily;
}

.treeCounterSectionTextPara {
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.treeCounterSectionTextLink {
  font-family: $primaryFontFamily;
  color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
}

.treeCounterSection {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  // height: 70vh;
  // align-self: center;
  // margin: 30px auto;
}

.treeCounterContainer {
  height: 50vh;
  // max-height: 500px;
}

.treeCounter {
  position: absolute;
  top: 0px;
  right: -50px;
  z-index: 1;
  width: 320px;
  height: 320px;
}

.treeCounterImage {
  height: auto;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}
@include smTabletView {
  

  .treeCounterSection {
    height: 60vh;
    padding-top: 10vh;
    margin: 40px 0;
    max-height: 420px;
  }

  .treeCounterContainer {
    height: 55vh;
  }

  .treeCounterSectionRow {
    flex-direction: row;
  }

  .treeCounter {
    // right: -40px;
    width: 330px;
    height: 330px;
  }

  .treeCounterImage {
    left: 40px;
  }

  .treeCounterSectionTextHeader {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .treeCounterSectionTextPara {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

@include lgLaptopView {
  
  .treeCounterSectionRow {
    padding-bottom: 0px;
  }

  .treeCounterSectionText {
    padding-top: 10vh;
    justify-content: flex-start;
  }
  .treeCounter {
    right: -40px;
    width: 400px;
    height: 400px;
  }
}