@import './../../../theme/theme';

.publicUserDescription {
    font-family: $primaryFontFamily;
    font-size: 16px;
    color: $light;
    margin-top: 30px;
    max-width: 560px;
    text-align: center;
    line-height: 24px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  @include smTabletView {
    .publicUserDescription {
      margin-left: auto;
      margin-right: auto;
    }
  }
  