$primaryColor: var(--primary-color);
$primaryDarkColor: var(--primary-dark-color);
$primaryFontColor: var(--primary-font-color);
$dividerColor: var(--divider-color);
$secondaryColor: var(--secondary-color);
$backgroundColorDark: var(--background-color-dark);
$backgroundColor: var(--background-color);
$backgroundBase: var(--background-base);
$highlightBackground: var(--highlight-background);
$light: var(--light);
$dark: var(--dark);
$dangerColor: var(--danger-color);
$undecadeFill: var(--undecade-fill);
$mapboxIcon: var(--mapbox-icon);
$disabledFontColor: var(--disabled-font-color);
$primaryLightColor: var(--primary-light-color);
$topProjectBackgroundColor: var(--top-project-background-color);
$nonDonatableProjectBackgroundColor: var(
  --non-donatable-project-background-color
);
$mediumBlueColor: var(--medium-blue-color);
$skyBlueColor: var(--sky-blue-color);
$electricPurpleColor: var(--electric-purple-color);
$lavenderPurpleColor: var(--lavender-purple-color);
$greenHazeColor: var(--green-haze-color);
$mintGreenColor: var(--mint-green-color);
$amethystPurpleColor: var(--amethyst-purple-color);
$ceruleanBlueColor: var(--cerulean-blue-color);
