$primaryFontFamily: var(--primary-font-family);
$fontSubTitleSize: var(--sub-title-size);
// $primaryFontFamily: 'Raleway', sans-serif;
// $fontSubTitleSize: 14px;

$openSans: 'Open Sans', sans-serif;
