$primaryFontFamily: var(--primary-font-family);
$fontDoubleExtraSmall: var(--font-double-extra-small);
$fontExtraSmall: var(--font-extra-small);
$fontSmall:var(--font-small);
$fontSixteen: var(--font-sixteen);
$fontMedium: var(--font-medium);
$fontLarge: var(--font-large);
$fontExtraLarge: var(--font-extra-large);
$fontDoubleExtraLarge: var(--font-double-extra-large);
$fontTripleExtraLarge: var(--font-triple-extra-large);
$secondaryFontFamily: var(--secondary-font-family);
