$primaryFontFamily: var(--primary-font-family);
$fontXXSmall: var(--font-xx-extra-small);
$fontXSmall: var(--font-x-extra-small);
$fontSmall: var(--font-small);
$fontSixteen: var(--font-sixteen);
$fontMedium: var(--font-medium);
$fontLarge: var(--font-large);
$fontXLarge: var(--font-x-large);
$fontXXLarge: var(--font-xx-large);
$fontXXXLarge: var(--font-xxx-large);
$secondaryFontFamily: var(--secondary-font-family);
$fontXXXSmallNew: var(--font-xxx-extra-small-new);
$fontXXXXSmallNew: var(--font-xxxx-extra-small-new);
$fontXXSmallNew: var(--font-xx-extra-small-new);
