$primaryFontFamily: var(--primary-font-family);
$fontXXSmall: var(--font-xx-extra-small);
$fontXSmall: var(--font-x-extra-small);
$fontSmall: var(--font-small);
$fontSixteen: var(--font-sixteen);
$fontMedium: var(--font-medium);
$fontLarge: var(--font-large);
$fontXLarge: var(--font-x-large);
$fontXXLarge: var(--font-xx-large);
$fontXXXLarge: var(--font-xxx-large);
$secondaryFontFamily: var(--secondary-font-family);

// SF font sizes
// Base font sizes
$sfFontXS: 11px; // Extra small text
$sfFontSmall: 13px; // Small text
$sfFontBase: 15px; // Base text (most common)
$sfFontMedium: 20px; // Medium text
$sfFontLarge: 24px; // Large text
$sfFontXL: 30px; // Extra large text
$sfFontXXL: 42px; // 2X large text
// Display / Hero font sizes
$sfFontDisplay1: 52px; // Display text level 1
$sfFontDisplay2: 70px; // Display text level 2
$sfFontDisplay3: 72px; // Display text level 3
$sfFontDisplay4: 100px; // Display text level 5
$sfFontDisplay5: 170px; // Display text level 6

// CNX font sizes
$cnxFontXS: 12px; // Extra small text
$cnxFontSmall: 14px; // Small text
$cnxFontBase: 15px; // Base text (most common)
$cnxFontMedium: 18px; // Medium text
$cnxFontLarge: 20px; // Large text
$cnxFontXL: 25px; // Extra large text
$cnxFontHeading2: 45px;
$cnxFontHeading3: 30px;
$cnxFontDisplay1: 48px;
$cnxFontDisplay2: 70px;
$cnxFontDisplay3: 80px;
$cnxFontDisplay4: 100px;
