@import './../../../src/theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeCounterData {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

.treeCounterDataField > h1 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: 49px;
  margin-bottom: 0px;
}
.treeCounterDataField > h2 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  max-width: 200px;
}
.backgroundCircle {
  border: 20px solid white;
  border-radius: 50%;
  height: 324px;
  width: 324px;
  position: absolute;
  top: 10px;
  background-color: #027e46;
  box-shadow: 0px 0px 18px -12px #bbb;
}
