@import './../../../../theme/theme';
.leaderBoardSection {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
  margin-top: 60px;
}

.leaderBoard {
  align-self: center;
  text-align: center;
}

.leaderBoard > h3 {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: $fontSmall;
  line-height: 21px;
  text-align: center;
  color: $primaryFontColor;
}

.leaderBoard > h2 {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: 600;
  font-size: $fontXXLarge;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  color: $primaryFontColor;
}

.leaderBoardTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.leaderBoardTableHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leaderBoardTableHeaderTitle {
  padding: 8px;
  border-bottom: 1px solid #dddbda;
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: $fontSmall;
  color: $primaryFontColor;
  > svg {
    height: 13px;
  }
}

.leaderBoardTableHeaderTitleSelected {
  border-bottom: 2px solid $primaryColor;
  font-weight: bold;
  > svg > path {
    fill: $primaryColor;
  }
}

.leaderBoardTableHeaderTitle:hover {
  cursor: pointer;
}
.leaderBoardBody {
  width: 90%;
  margin-top: 24px;
  margin-bottom: 46px;
}
.leaderBoardBodyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0px;
  border-bottom: 1px solid #dddbda;
}

.leaderBoardDonorName {
  flex-grow: 1;
  font-style: normal;
  font-weight: 600;
  font-size: $fontSixteen;
  color: $primaryFontColor;
  font-family: $primaryFontFamily;
  text-align: left;
  margin-bottom: 0px;
}

.leaderBoardDonorTrees {
  font-style: normal;
  font-weight: normal;
  font-size: $fontSixteen;
  letter-spacing: -0.4px;
  color: $primaryFontColor;
  flex: none;
  align-self: center;
  margin-right: 16px;
  margin-bottom: 0px;
  font-family: $primaryFontFamily;
}

.leaderBoardDonorTime {
  font-style: normal;
  font-weight: normal;
  font-size: $fontSixteen;
  color: #706e6b;
  mix-blend-mode: normal;
  opacity: 0.9;
  flex: none;
  align-self: center;
  margin-right: 16px;
  margin-bottom: 0px;
  font-family: $primaryFontFamily;
}

.leaderBoardBushImage,
.leaderBoardGroupTreeImage {
  display: none;
}
.leaderBoardBushImageMobile {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@include smTabletView {
  .leaderBoardBody {
    width: 528px;
  }

  .leaderBoardBushImageMobile {
    display: none;
  }
  .leaderBoardSection {
    margin-top: 60px;
  }
}

@include lgLaptopView {
  .leaderBoardGroupTreeImage {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .leaderBoardBushImage {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.searchedUserCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  > img {
    margin-right: 12px;
  }
  > span {
    font-size: $fontSmall;
  }
}

.autocomplete-option {
  color: $primaryFontColor;
}
