@import './../../../../theme/theme';
.reportsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 0px;
  align-items: center;
}

.reportsTitle > h2 {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #080707;
}

.reportDescription{
  font-size: 18px;
  max-width: 520px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 30px;
}

.continueButton {
  background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
  border-radius: 18px;
  padding: 8px 40px;
  min-height: 36px;
  color: $light;
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  font-weight: 600;
  margin-bottom: 30px;
  &:hover {
      cursor: pointer;
  }
}

.allReports{
  margin-top: 70px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
}

.singleQuarter{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: $primaryFontColor;
  margin-top: 20px;
  align-self: center;
  width: 100%;
  justify-content: center;
  .quarterTitle{
    text-align: right;
    width: 85px;
    font-weight: bold;
  }
  .totalTrees{
    margin-left: 20px;
    width: 150px;
    text-align: left;
  }
  .reportContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    max-width: 760px;
    .projectSegmentContainer{
      height: 36px;
      margin-right: 2px;
      position: relative;
      .projectSegment{
        background-color: $primaryColor;
        width: 100%;
        height: 100%;
      }
      .projectName{
        font-size: 14px;
        font-weight: bold;
        display: none;
        background-color: $light;
        border-radius: 10px;
        position: absolute;
        bottom: 38px;
        left: 50%;
        transform: translateX(-50%);
        padding: 6px;
        text-align: center;
        min-width: 180px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      &:hover{
        cursor: pointer;
        .projectName{
          display: block;
        }
      }
    }    
  }
}
