@import './../../../../theme/theme';

.wrapper {
  background-color: $primaryDarkColor;
  background-image: linear-gradient(
    to bottom,
    $primaryDarkColor,
    $primaryColor
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 64px 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  width: 100%;
}

.statCard {
  background-color: $light;
  border-radius: 13px;
  height: 192px;
  width: 192px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  position: relative;
}

.statNumber {
  font-family: $primaryFontFamily;
  font-size: $fontXXLarge;
  font-weight: bold;
  color: $primaryColor;
}

.statText {
  font-family: $primaryFontFamily;
  font-size: $fontSmall;
  font-weight: bold;
}

.statInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.infoExpanded {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 375px;
  max-width: 100%;
  background: $backgroundColor;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 9px;
  animation: fade_in_show 0.5s;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.infoTitle {
  font-weight: 600;
  color: $primaryFontColor;
}

.infoContent {
  width: 100%;
  font-size: $fontXSmall;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $primaryFontColor;
}

.infoContent > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $primaryFontColor;
}

.infoContent > a > svg {
  width: 20px;
  margin-right: 6px;
}

.infoClose {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.infoClose svg {
  width: 20px;
}
