@import './../../../../theme/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 1280px;
}
.storyCard {
  position: relative;
  margin: 10px 10px 24px;
  width: 90%;
  height: 90%;
  > img {
    width: 100%;
    height: 100%;
  }
}

.storyContent {
  position: absolute;
  bottom: 20px;
  left: 20px;
  h2 {
    max-width: 300px;
    font-family: $primaryFontFamily;
    font-size: 28px;
    font-weight: bold;
    color: $light;
  }
  div {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    p {
      margin: 0px;
      // margin-left: 15px;
      margin-right: 10px;
      color: $light;
      font-family: $primaryFontFamily;
      font-size: 12.8px;
      font-weight: bold;
    }
    img {
      width: 16px;
    }
  }
}
@include mdTabletView {
  .storyCard {
    width: auto;
    height: auto;
  }

  .storyContent {
    position: absolute;
    bottom: 40px;
    left: 40px;
    h2 {
      max-width: 370px;
      font-size: 40px;
    }
    div {
      margin-top: 26px;
      p {
        font-size: $fontSixteen;
      }
    }
  }
}
