@import '../../theme/theme';

.projectBadge {
    display: flex;
    gap: 3.87px;
    border-radius: 0px 16px;
    border: 3px solid $backgroundColor;
    height: 27px;
    align-items: center;
    padding: 0 17px;
    white-space: nowrap;
    font-weight: 700;
    background: $dark;
    //to be removed
    width:fit-content;
}
.badgeIcon {
    display: flex;
    align-items: center;
}
.badgeTitle {
    font-size: $fontXXSmall;
    color: $backgroundColor;
}