.topProjectBadge {
    display: flex;
    gap: 3.87px;
    border-radius: 0px 16px;
    border: 3px solid #FFF;
    height: 27px;
    align-items: center;
    padding: 0 17px;
    white-space: nowrap;
    font-weight: 700;
    background: #000;
    //to be removed
    width:fit-content;
 

}
.badgeIcon {
    display: flex;
    align-items: center;
}
.badgeTitle {
    font-size: 10px;
    color: #FFF;
}