@import '../../../../theme/theme';

.mainContainer {
  margin-top: 80px;
  padding: 20px 40px 40px;

  @include xsPhoneView {
    // To accommodate the burger menu button
    margin-top: 142px;
    padding: 20px 0;
  }
}
