@import '../../../../../../theme/theme';

.mapContainer {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body {
  background-color: $dsWhite;
  border-radius: 0 0 10px 10px;
}

.navigationControlContainer {
  position: absolute;
  bottom: 70px;
  right: 45px;
  z-index: 1;
}

.spinner {
  border: 2px solid $dsPrimaryColor;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.plantLocationDetailsContainer {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 2;
  width: 300px;
  box-shadow: 4px 8px 16px 0px #0000001a;
  border-radius: 16px;
  background-color: $dsWhite;
  font-size: $fontXXSmall;
  height: 450px;

  &:hover {
    cursor: auto;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    padding: 10px 0px;
    z-index: 2;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 450px;

    .contentTop {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 16px;

      .topContainer {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        column-gap: 6px;

        .leftContainer {
          background-color: $dsSoftBlue;
          padding: 15px;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          border-radius: 16px;
          width: 130px;

          .title {
            font-weight: 500;
          }
        }
        .rightContainer {
          background-color: $dsSoftYellow;
          padding: 15px;
          z-index: 2;
          display: flex;
          // flex: 1;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          border-radius: 16px;

          .title {
            font-weight: 500;
            display: flex;
            align-items: center;
          }
        }
      }

      .midContainer {
        background-color: $dsSoftGreen;
        z-index: 2;
        padding: 24px;
        border-radius: 16px;
        flex-grow: 1;

        .speciesContainer {
          .individualSpeciesContainer {
            display: flex;

            .speciesName {
              border-right: 1px solid $dsForestGreenTransparent40;
              width: 120px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-right: 5px;

              &:hover {
                white-space: normal;
                overflow: visible;
                text-overflow: unset;
              }
            }

            .count {
              border-right: 1px solid $dsForestGreenTransparent40;
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 50px;
            }

            .totalPercentage {
              padding-left: 10px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
          }
        }

        .title {
          font-weight: 500;
        }
      }

      .bottomContainer {
        background-color: $dsSoftRed;
        z-index: 2;
        padding: 24px;
        border-radius: 16px;

        .sampleTreeContainer {
          border-radius: 8px;
          background: $dsSunriseOrangeTransparent10;
          padding: 10px 18px;
          margin-bottom: 8px;

          .title {
            font-weight: 500;
            margin-bottom: 0px;
          }
        }

        .title {
          font-weight: 500;
          margin-bottom: 12px;
        }
      }
    }

    .footer {
      display: flex;
      gap: 3px;
      align-items: center;

      .treemapper {
        font-weight: 700;
        color: $dsPrimaryColor;
      }
    }
  }
}

.mapCreditContainer {
  position: absolute;
  bottom: 5px;
  right: -37px;
}
