@import '../../../../../../theme/theme';

.mapContainer {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body {
  background-color: $dsWhite;
  border-radius: 0 0 10px 10px;
}

.navigationControlContainer {
  position: absolute;
  bottom: 70px;
  right: 45px;
  z-index: 1;
}

.spinner {
  border: 2px solid $dsPrimaryColor;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mapCreditContainer {
  position: absolute;
  bottom: 5px;
  right: -37px;
}
