.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  & + & {
    margin-top: 24px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.plainContent {
  margin-top: 80px;
  padding: 20px 40px 40px;
}
