@import "../../../theme/theme";
// for landing video

.landingVideoSection {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    .landingVideoWrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
        > iframe {
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 100vh;
            min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .landingVideoSkipButton {
        position: fixed;
        bottom: 30px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100px;
        padding-left: 24px;
        padding-right: 24px;
        min-width: 200px;
        max-width: 320px;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
        align-items: center;
        border: 0px;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        font-weight: bold;
        color: white;
        font-size: 16px;
    }
    .landingVideoSkipButton:hover {
        transform: translateX(-50%) scale(1.05);
        cursor: pointer;
    }
}

// Loader for Buttons
.spinner {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid transparent;
    width: 16px !important;
    height: 16px !important;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
