@import '../../theme/theme';
.mapPreviewContainer {
  max-width: 480px;
  width: 100%;
  height: 341px;
  background: grey; //need to be removed
  border-radius: 13.401px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.showMapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 40px;
  background: $primaryColorNew;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 274px;
  width: 100%;
  cursor: pointer;
  .label {
    font-size: $fontXSmall;
    font-weight: 700;
    color: $light;
  }
}

.buttonIconContainer {
  margin-top: 1px;
}
