@import '../../../theme/theme';

.networkContainer {
    position: fixed;
    bottom: 50px;
    left: 70px;
    min-width: 200px;
    border-radius: 8px;
    background: $backgroundColor;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    max-width: 98%;
    pointer-events: all;
    z-index: 999;
    padding: 0px 10px;
}

.refresh{
    color: rgb(13, 158, 241);
    padding: 10px 4px;
    cursor: pointer;
}

.closeButton {
  padding: 14px 5px 10px 5px;
  cursor: pointer
}