@import '../../../../theme/theme';

.blueCarbonContainer {
  background-image: url('/tenants/salesforce/images/rectangle-35.png');
  background-size: 1440px 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 999;
  padding-top: 84px;
  text-align: center;

  button {
    background: #0176d3;
    border-radius: 4px;
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSmall;
    line-height: 130%;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 24px;
    cursor: pointer;
  }
  hr {
    border: none;
    background-color: #0b827c;
    height: 1px;
    margin-bottom: 30px;
  }

  .blueCarbon {
    padding-bottom: 150px;
    h2 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $fontXXLarge;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.004em;
      // color: #ffffff;
      color: #032d60;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: 52px;
        line-height: 100%;
        letter-spacing: -0.006em;
      }
    }
    h3 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.004em;
      // color: #ffffff;
      color: #032d60;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $fontXXLarge;
        line-height: 100%;
        margin-bottom: 15px;
      }
    }
    p,
    ul {
      font-family: $primaryFontFamily;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      // color: #ffffff;
      color: #032d60;
      margin-bottom: 24px;
      a {
        text-decoration: underline;
        color: #0b5cab;
      }
      li {
        margin-left: 20px;
      }
    }
    img {
      margin: 0 auto 30px;
      display: block;
      width: 100%;
      @include lgLaptopView {
        margin: 0;
      }
    }
    .blueCarbonImagesContainer {
      margin-bottom: 30px;
    }
    .callOut {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: $fontMedium;
      a {
        width: 100%;
      }
      button {
        width: 100%;
      }
      @include lgLaptopView {
        margin: 10px 10px 30px;
      }
    }
    .moreInfo {
      text-align: left;
    }
  }

  p.contentSectionSubhead {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontMedium;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.002em;
    // color: #ffffff;
    color: #032d60;
    @include lgLaptopView {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
