@import './../../../../theme/theme';
.progressBackdrop {
  z-index: 99 !important;
  color: $light;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progressBackdropHeader {
  font-family: $primaryFontFamily;
  font-weight: 800;
  margin-top: 36px;
  font-size: $fontExtraLarge;
}

.progressBackdropText {
  font-family: $primaryFontFamily;
  font-weight: 400;
  margin-top: 8px;
  font-size: $fontMedium;
}

@include mdTabletView {
  .progressBackdrop {
    padding-left: 350px;
  }
}
