@import './../../../theme/theme';

.publicUserProfileDiv {
  display: flex;
  margin-top: 100px;
}

.projectsContainer:after {
  min-height: fit-content;
}

.landingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 952px;
  margin-top: 150px;
}

.publicUserName {
  font-family: $primaryFontFamily;
  font-weight: bold;
  font-size: 40px;
  color: $light;
  margin-top: 48px;
  margin-bottom: 0px;
  max-width: 560px;
  margin-left: 5%;
  margin-right: 5%;
}

.publicUserDescription {
  font-family: $primaryFontFamily;
  font-size: 16px;
  color: $light;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 560px;
  text-align: center;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 5%;
}

@include tabletView {
  .publicUserName {
    margin-left: auto;
    margin-right: auto;
  }
  .publicUserDescription {
    margin-left: auto;
    margin-right: auto;
  }
}
