@import './../../../theme/theme';

.publicUserProfileDiv {
  display: flex;
  margin-top: 100px;
}

// the outer white background
.projectsContainer {
  background-color: $light;
  display: flex;
  position: relative;
  width: 100vw;
  // min-height: 50vh;
  z-index: 40;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.projectsContainer:after {
  min-height: fit-content;
}

/* Footer */
.footerDiv {
  z-index: 24; //more than myForestContainer
  position: relative;
  padding: 1px;
  width: 100vw;
  background-color: $light;
  // margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .publicUserProfileDiv {
    margin-top: 100px;
  }
  .projectsContainer {
    width: 100vw;
    padding: 30px 0px;
  }
}
