@import './../../../theme/theme';

.topbarContainer {
  background-color: #f2f2f7;
  height: 60px;
  width: 100vw;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink,
.navlinkHighlight {
  background-color: white;
  height: 34px;
  margin-right: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink:hover,
.navlinkHighlight:hover {
  cursor: pointer;
  text-decoration: none;
}
.navlink > p,
.navlinkHighlight > p {
  margin: 0px;
  font-size: 12px;
  font-family: $primaryFontFamily;
  font-weight: bold;
  color: $primaryFontColor;
}

.navlinkHighlight {
  background-color: $primaryColor;
}

.navlinkHighlight > p {
  color: $light;
}

.landingSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
}

.landingContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 57.34vw;
}

.landingContent > p {
  font-family: $primaryFontFamily;
  color: $light;
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
}

// About Section

.aboutSection {
  padding-top: 40px;
  padding-bottom: 40px;
}

.aboutSectionImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aboutSectionImages > img {
  width: 100%;
}

.aboutSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutSectionTextHeader {
  font-size: 50px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: bold;
}

.aboutSectionTextPara {
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-size: 24px;
}

.aboutSectionTextLink {
  font-family: $primaryFontFamily;
  color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
}

// Yucantan Section
.YucantanSection {
  position: relative;
}

.YucantanSectionText {
  position: absolute;
  bottom: 80px;
  left: 150px;
  width: 50vw;
}

.YucantanSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.YucantanSectionTextHeader {
  font-size: 50px;
  font-family: $primaryFontFamily;
  color: $light;
  font-weight: bold;
}

.YucantanSectionTextPara {
  font-family: $primaryFontFamily;
  color: $light;
  font-size: 24px;
  width: 70%;
}
.YucantanSectionTextLinkContainer {
  display: flex;
  flex-direction: row;
  width: 225px;
  justify-content: space-between;
}
.YucantanSectionTextLink {
  font-family: $primaryFontFamily;
  color: $light;
  font-size: 18px;
  font-weight: bold;
}

// Change Chocolate Section

.changeChocolateSection {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: white;
}

.changeChocolateSectionText > img {
  margin-top: 40px;
}

.changeChocolateSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.changeChocolateSectionTextHeader {
  font-size: 50px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: bold;
}

.changeChocolateSectionTextPara {
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-size: 24px;
}

.changeChocolateSectionTextLinkContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 24px;
}

.changeChocolateSectionTextLink {
  font-family: $primaryFontFamily;
  color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
}

// testimonialSection

.testimonialSection {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialSectionHeader {
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-size: 24px;
  font-weight: bold;
}

.testimonialSectionImagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 70vw;
}

.testimonialSectionImagesContainer > img {
  margin-bottom: 50px;
}

// blogSection

.blogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogSectionHeader {
  font-size: 50px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: bold;
}
.blogLocation {
  font-size: 10px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: bold;
  margin-top: 10px;
}

.blogTitle {
  font-size: 20px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  font-weight: bold;
  margin-top: 10px;
}

.blogLink {
  font-size: 20px;
  font-family: $primaryFontFamily;
  color: $primaryColor;
  font-weight: bold;
  margin-top: 16px;
}

.blogContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  align-self: center;
  margin-top: 54px;
}

.blogImage {
  max-height: 210px;
  width: 100%;
}

.subscribeForm {
  margin-top: 68px;
}
.subscribePara {
  font-size: 16px;
  font-family: $primaryFontFamily;
  color: $primaryFontColor;
  margin-top: 24px;
  text-align: center;
}
