@import '../../../theme/theme';

.webappButtonLink {
  max-width: 100%;
}

.webappButton {
  max-width: 100%;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: $dsWhite;
  white-space: nowrap;
  cursor: pointer;
  min-height: 2rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &:hover {
    background: $dsForestGreenTransparent20;
    border: none;
  }
}

.webappButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

.webappButtonLabel {
  font-size: $fontSmall;
  font-weight: 700;
  color: $dsCoreText;
  cursor: pointer;
  line-height: 16px;
  text-wrap: wrap;
}

.primaryWebappButton {
  background-color: $dsPrimaryColor;
  border: 1px solid $dsPrimaryColor;
  box-sizing: border-box;
  .webappButtonLabel {
    color: $dsWhite;
  }
  &:hover {
    border: 1px solid $dsForestGreenTransparent40;
    background: $dsLeafGreen;
  }
}

.secondaryWebappButton {
  background-color: $dsWhite;
  border: 1px solid $dsForestGreenTransparent40;
  .webappButtonLabel {
    color: $dsCoreText;
  }
  &:hover {
    background: $dsForestGreenTransparent20;
    border: 1px solid transparent;
  }
}

.tertiaryWebappButton {
  background-color: $dsPrimaryColor;
  .webappButtonLabel {
    color: $dsWhite;
    font-size: $fontXSmall;
  }
  &:hover {
    background: $dsLeafGreen;
  }
}
