@import '../../../theme/theme';

.webappButtonLink {
  max-width: 100%;
}

.webappButton {
  max-width: 100%;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: $dsWhite;
  white-space: nowrap;
  cursor: pointer;
  min-height: 2rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &:hover {
    background: $dsForestGreenTransparent20;
    border: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.webappButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

.webappButtonLabelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}

.webappButtonLabel {
  font-size: $fontSmall;
  font-weight: 700;
  color: $dsCoreText;
  line-height: 16px;
  text-wrap: wrap;
}

.spinner {
  border: 2px solid $dsBaseGrey;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.spinner--secondary-button {
  border: 2px solid $dsWarmGreen;
  border-top: 2px solid transparent;
}

.visuallyHidden {
  opacity: 0;
  position: absolute;
}

.primaryWebappButton {
  background-color: $dsPrimaryColor;
  border: 1px solid $dsPrimaryColor;
  box-sizing: border-box;
  .webappButtonLabel {
    color: $dsWhite;
  }
  &:hover {
    border: 1px solid $dsForestGreenTransparent40;
    background: $dsLeafGreen;
  }
}

.secondaryWebappButton {
  background-color: $dsWhite;
  border: 1px solid $dsForestGreenTransparent40;
  .webappButtonLabel {
    color: $dsCoreText;
  }
  &:hover {
    background: $dsForestGreenTransparent20;
    border: 1px solid transparent;
  }
}

.tertiaryWebappButton {
  background-color: $dsPrimaryColor;
  .webappButtonLabel {
    color: $dsWhite;
    font-size: $fontXSmall;
  }
  &:hover {
    background: $dsLeafGreen;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
