@import '../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  opacity: 0;
}

.treeCounterReady {
  opacity: 1;
}

.treeCounterValue {
  display: block;
  position: relative;
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  color: $sfBrandNavy;
  font-size: $sfFontDisplay2;
  @include mdTabletView {
    line-height: 100px;
    font-size: $sfFontDisplay4;
  }
  @include lgLaptopView {
    height: 170px;
    font-size: $sfFontDisplay5;
    line-height: 170px;
  }
}

.treeCounterDataField {
  display: flex;
  color: $sfGray60;
}

.treeCounterLight {
  .treeCounterValue {
    color: $sfWhite;
  }
}
