@import '../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.treeCounterComma {
  font-family: $primaryFontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.treeCounterNumber {
  display: inline-block;
  position: relative;
  width: 73px;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-right: 4px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    mix-blend-mode: soft-light;
    border-radius: 8px;
  }
}

.treeCounterDataField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 37px;
}

.treeCounterDataField > .countNumber {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: calc(36px + (42 - 36) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 10px;
}
.treeCounterDataField > .countLabel {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  max-width: 180px;
  margin-top: 2px;
}
.backgroundCircle {
  border: 20px solid $light;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #027e46;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

@include smTabletView {
  .treeCounterData {
    height: 60%;
  }
  .treeCounterDataField > .countLabel {
    font-size: 14px;
    font-weight: bold;
    max-width: 200px;
    margin-top: 0px;
  }
}
