@import '../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  opacity: 0;

  .footnote {
    font-size: 13px;
  }
}

.treeCounterReady {
  opacity: 1;
}

.treeCounterComma {
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #032d60;
  @include lgLaptopView {
    font-size: 80px;
    line-height: 100px;
  }
}

.treeCounterNumber {
  display: inline-block;
  position: relative;
  height: 40px;
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #032d60;
  font-size: 70px;
  @include mdTabletView {
    font-size: 100px;
  }
  @include lgLaptopView {
    height: 170px;
    font-size: 170px;
    line-height: 170px;
  }
}
.treeCounterValue {
  display: block;
  position: relative;
  font-family: $secondaryFontFamily;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  color: #032d60;
  font-size: 70px;
  @include mdTabletView {
    line-height: 100px;
    font-size: 100px;
  }
  @include lgLaptopView {
    height: 170px;
    font-size: 170px;
    line-height: 170px;
  }
}

.treeCounterDataField {
  display: flex;
  color: #4f4f4f;
}

.treeCounterDataField > .countNumber {
  color: #4f4f4f;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: calc(36px + (42 - 36) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 10px;
}
.treeCounterDataField > .countLabel {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: 400;
  text-align: center;
  font-size: $fontSmall;
  max-width: 180px;
  margin-top: 2px;
}
.backgroundCircle {
  border: 20px solid $light;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #027e46;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.treeCounterLight {
  .treeCounterValue {
    color: #fff;
  }
}

@include smTabletView {
  .treeCounterData {
    height: 60%;
  }
  .treeCounterDataField > .countLabel {
    font-size: $fontSmall;
    font-weight: bold;
    max-width: 200px;
    margin-top: 0px;
  }
}
