@import '../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.treeCounterDataField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.treeCounterDataField > h1 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: calc(36px + (42 - 36) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 10px;
}
.treeCounterDataField > h2 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  max-width: 180px;
  margin-top: 2px;
}
.backgroundCircle {
  border: 20px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #027e46;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

@include tabletView {
  .treeCounterData {
    height: 60%;
  }
  // .treeCounterDataField > h1 {
  //   font-size: 49px;
  // }
  .treeCounterDataField > h2 {
    font-size: 14px;
    font-weight: bold;
    max-width: 200px;
    margin-top: 0px;
  }
  // .backgroundCircle {
  //   top: 10px;
  //   border: 20px solid white;
  //   height: 324px;
  //   width: 324px;
  // }
}
