@import '../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeCounterDataField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.treeCounterDataField > h1 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 0px;
}
.treeCounterDataField > h2 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  max-width: 180px;
  margin-top: 2px;
}
.backgroundCircle {
  border: 12px solid white;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  position: absolute;
  top: 3px;
  background-color: #027e46;
  box-shadow: 0px 0px 18px -12px #bbb;
}

@include tabletView {
  .treeCounterData {
    height: 60%;
  }
  .treeCounterDataField > h1 {
    font-size: 49px;
  }
  .treeCounterDataField > h2 {
    font-size: 14px;
    font-weight: bold;
    max-width: 200px;
    margin-top: 0px;
  }
  .backgroundCircle {
    top: 10px;
    border: 20px solid white;
    height: 324px;
    width: 324px;
  }
}
