@import '../../theme/theme';

.dropdownButton {
    display: flex;
    border-radius: 12px;
    background: $backgroundColor;
    align-items: center;
    padding: 12px 0px 9px 12px;
    max-width: 290px;
    justify-content: space-between;
}
.siteIconAndTextContainer {
    display: flex;
    gap: 6px;
}
.labelTextContainer {
    display: flex;
    flex-direction: column;
}
.siteAndAreaContainer {
    font-size: $fontXXXSmallNew;
    color: $nonDonatableProjectBackgroundColor;
    font-weight: 600;
    p,span {
        display: inline;
    }
}

.siteId {
    text-transform: uppercase;
}
.siteName {
    text-transform: capitalize;
    font-size: $fontXSmall;
    font-weight: 700;
    color: #333 //to be replaced
}
.downArrow {
    display: flex;
    align-items: center;
    margin-right: 13px;
}
.optionsContainer{
    background-color: $backgroundColor;
    padding: 6px 16px;
    border-radius: 12px;
    margin-top: 12px;
    max-width: 270px;
    font-size: $fontXSmall;
}
.listItem {
    display: flex;
    justify-content: space-between;
    gap:30px;
    padding: 8px 0px; 
}
.hideDivider {
    display: none;
}
.showDivider {
    background-color: $dividerColorNew;
    height: 0.4px;
}
.selectedItem {
    font-weight: 700;
    color: #333; //to be replaced
}

@include xsPhoneView {
    .siteIconAndTextContainer {
        >svg {
            width: 16px;
        }
    }
    .dropdownButton {
        max-width: 93px;
        padding: 7px;
    }
    .labelTextContainer {
        justify-content: center;
        .siteAndAreaContainer {
            display: flex;
            flex-direction: column;
            .siteId {
                text-transform: none;
            }
            span {
                display: none;
            }
        }
        .siteName {
            display: none;
        }
    }
    .optionsContainer{
        max-width: 140px;
        padding: 8px 12px;
        .listItem {
            display: flex;
            flex-direction: column;
            gap: 0;
            font-size: $fontXXXSmallNew;
            padding: 4px 0;
            .siteArea {
                font-size: $fontXXSmall;
            }
        }
    }
}