.customButton {
  width: 182px !important;
  height: 47px !important;
  border-radius: 12px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
  justify-content: start !important;
  padding-left: 18px !important;
  margin-left: 4px !important;
  font-size: 12px !important;
}
