.exploreMainContainer {
  width: 182px;
  height: 232px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 3px;
  padding-top: 14px;
}

.exploreContainer {
  width: 150px;
  height: 218px;
  margin-left: 16px;
}

.ecosystemMainContainer {
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ecosystemContainer {
  display: flex;
  font-size: 10px;
  font-weight: 400;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
}

.switchContainer {
  height: 14px;
  width: 24px;
}

.infoIconConatiner {
  margin-top: 2px;
}

.rangeMainContainer {
  width: 150px;
  height: 30px;
  background-color: rgba(235, 87, 87, 0.1);
  margin-top: 6px;
  border-radius: 6px;
  position: relative;
}
.rangeContainer {
  width: 131px;
  padding-top: 8px;
  position: absolute;
  left: 8px;
  top: 6px;
}

.playIconContainer {
  position: absolute;
  bottom: -5px;
}

.sliderContainer {
  width: 107px;
  position: absolute;
  left: 20px;
  bottom: -7px;
}
.endYear,
.startYear {
  position: absolute;
  font-size: 6px;
  font-weight: 400;
  top: 17px;
}

.startYear {
  left: 21px;
}
.endYear {
  left: 130px;
}
.exploreDescription {
  padding: 8px;
  height: fit-content;
  margin-top: 14px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
  font-size: 8px;
}

.hrLine {
  width: 150px;
  height: 0.4px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #bdbdbd;
}
