@import './../../../../theme/theme';

// modal container for black opacity
.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

// white modal
.modal {
  background-color: #ffffff;
  border: 0px;
  border-radius: 8px;
  padding: 18px 32px;
  min-width: 360px;
  max-width: 30vw;   // for desktops
  max-height: 90vh;
  overflow: scroll;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// for mobile - modal
@media only screen and (max-width: 768px) {
    .modal {
        min-width: 80vw;
        max-width: 80vw; 
    }
  }
  

// header div
.headerDiv {
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
}

.backDiv:hover {
    cursor: pointer;
}

.editProfileText {
    font-size: 22px;
    margin-left: 10px;
}

//profile pic div
.profilePicDiv {
    height: 100px;
    width: 100px;
    margin: 10px 0px;
}

.profilePicDiv:hover{
    cursor: pointer;
}

// first name, last name div
.namesDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: center;
  margin: 6px 0px;
}

.firstNameDiv {
    margin: 0px 6px 0px 0px;
    width: 50%;
}
.lastNameDiv  {
    margin: 0px 0px 0px 6px;
    width: 50%;
}

// address div
.addressDiv {
  display: flex;
  width: 100%;
  margin: 6px 0px;
}

// city, zip code div
.cityZipDiv {
  display: flex;
  float: left;
  width: 100%;
  justify-content: center;
  margin: 6px 0px;
}

.cityDiv {
    margin: 0px 6px 0px 0px;
    width: 50%;
}
.zipDiv {
    margin: 0px 0px 0px 6px;
    width: 50%;
}

// country div
.countryDiv {
  display: flex;
  width: 50%;
  align-self: flex-start;
  margin: 6px 6px 12px 0px;
}

// private account div
.isPrivateAccountDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 6px 0px;
}

.mainText {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $highlightBackground;
  font-size: larger;
  text-align: left;
}

.isPrivateAccountText {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $highlightBackground;
}

// save button
.saveButton {
  background-color: $primaryColor;
  padding: 8px 40px;
  border-radius: 6px;
  color: $light;
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  font-weight: 600;
  margin-top: 30px;
}

.saveButton:hover{
    cursor: pointer;
}
