@import './../../../../theme/theme';

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.6);
  //   min-height: calc(100vh - 100px);
}

.modal {
  //   top: 80px;
  margin-bottom: 60px;
  background-color: #fff;
  border: 0px;
  border-radius: 8px;
  position: absolute;
  padding: 20px 20px;
  width: 412px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: auto;
}

.isPrivateAccountDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.headerDiv {
  display: flex;
  float: left;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editProfileText {
  font-size: 22px;
  margin-left: 20px;
}

.accountPrivacyChangeText {
  margin-top: 20px;
  text-align: center;
}

.formFieldLarge {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  // max-width: 280px;
  min-width: 280px;
}

.saveButton {
  height: 40px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(103deg, $primaryColor 5%, $primaryDarkColor 116%);
  align-items: center;
  font-weight: bold;
  color: white;
  border: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 160px;
  margin: 5px;
}
.saveButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cancelButton {
  height: 40px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 160px;
  margin: 5px;
}

// Loader for Buttons
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
