@import './../../../../theme/theme';

.forestItem {
  font-family: $primaryFontFamily;
  padding: 10px 10px;
  border-color: rgba(29, 15, 15, 0.2);
  border-width: 1px 0px 0px 0px;
  width: 40vw;
  border-style: solid;
  background-color: $light;
}

// mobile view (list below map)
@media only screen and (max-width: 768px) {
  .forestItem {
    width: 100vw;
  }
}
