@import '../../../../theme/theme';

.projectsTitleText {
  font-family: $primaryFontFamily;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 60px;
}

//  the list of projects
.listProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px;
}

.singleProject {
  width: 280px;
  margin-top: 24px;
  position: relative;
}

.projectNotFound {
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 0px 20px;
  margin-top: 20px;
   h2{
     margin-top: 8px;
     font-weight: bold;
    font-size: 24px;
  }
  &:hover{
    cursor: pointer;
  }
}

.projectNotFoundImage {
  width: 100%;
}

@include smTabletView {
  .listProjects {
    padding: 0px;
    
  }
  .singleProject {
    margin-right: 24px;
  }
  .singleProject:last-of-type{
    // margin-right:0px;
  }
}
@include mdTabletView{
  
}
@include lgLaptopView{
  .projectsTitleText {
    text-align: left;
  }
  .listProjects{
    justify-content: left;
  }
}
@include xlDesktopView{
  
}
