@import './../../../../theme/theme';

// modal container for black opacity
.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

// white modal
.modal {
  background-color: #ffffff;
  border: 0px;
  border-radius: 8px;
  padding: 6px 50px;
  max-width: 80vw;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 110px;
}

.settingsItem {
  font-family: $primaryFontFamily;
  padding: 10px 0px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.settingsItem:hover {
  cursor: pointer;
}

.cancelText {
  color: $highlightBackground; //grey
}

@media only screen and (max-width: 768px) {
  .modal {
    top: 40px;
    right: 90px;
  }
  .settingsItem {
    padding: 7px 0px;
  }
}

.deleteModal {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  @include smTabletView {
    padding: 36px;
    max-width: 420px;
  }
  .deleteModalTitle {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
  }
  .deleteModalContent {
    margin-top: 20px;
  }
  .deleteConsent{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }
  .deleteModalWarning {
    margin-top: 20px;
    color: #eb4e3b;
    font-size: 12px;
    text-align: center;
  }
  .deleteButtonContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    .goBackContainer {
      flex: 1;
      display: flex;
      flex-direction: row;
      height: 40px;
      border-radius: 100px;
      padding-left: 24px;
      padding-right: 24px;
      background-image: linear-gradient(103deg, #68b030 5%, #007a49 116%);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border: 0px;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      p {
        margin-left: 6px;
      }
    }
    .deleteButton {
      flex: 1;
      background-color: #eb4e3b;
      height: 40px;
      border-radius: 100px;
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      border: 0px;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .deleteButton:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

// Loader for Buttons
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}