@import './../../../../theme/theme';

// modal container for black opacity
.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  // white modal
  .modal {
    background-color: #ffffff;
    border: 0px;
    border-radius: 8px;
    padding: 6px 72px;
    max-width: 80vw;
    overflow: hidden;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settingsItem {
      padding: 10px 0px;
  }

  .settingsItem:hover {
      cursor: pointer;
      background-color:'red';
  }

  .cancelText {
      color: $highlightBackground;  //grey
  } 

  