@import './../../../../theme/theme';

.allProjectsContainer {
  padding-bottom: 12px;
}

.projectNotFound {
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 0px 20px;
}

.projectNotFoundImage {
  width: 100%;
}
