@import './../../../../theme/theme';

.allProjectsContainer {
  padding-bottom: 12px;
}

.projectNotFound {
  font-family: $primaryFontFamily;
  text-align: center;
  padding: 0px 20px;
}

.projectNotFoundImage {
  width: 100%;
}

@include tabletView {
  .allProjectsContainer > div > div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
  }
}

@include laptopView {
  .allProjectsContainer > div > div {
    display: block;
  }
}
