@import './../../../../theme/theme';

.giftContainer {
  position: absolute;
  display: flex;
  top: 100px;
  left: 0;
  right: 0;
  width: 240px;
  margin: auto;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px 20px;
  //   border: 2px solid #d1d1d1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giftTo {
}

.selectProject {
  font-size: 20px;
}

.closeButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeButton svg {
  width: 12px;
}

:export {
  primaryFontColor: $primaryFontColor;
}
