@import '../../../../theme/theme';

.mapContainer {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
}

.marker {
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 10%;
  background: $primaryColor;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 40%;
  margin: -20px 0 0 -20px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.markerType {
  transform: rotate(45deg);
  width: 60px;
  height: 40px;
  margin-left: -6px;
  margin-top: -4px;
}

.mapNavigation {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.popupProject {
  cursor: pointer;
  z-index: 5;
}

.projectControls {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 30px;
  width: max-content;
  height: 30px;
  padding: 5px 20px;
  background-color: #f5f5f5;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $primaryFontFamily;
}

.projectControlText {
  font-size: 14px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  min-width: 100px;
}

.mapContainer .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  padding-left: 20px;
}

.exploreButton {
  position: fixed;
  right: 20px;
  top: 100px;
  padding: 9px;
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 9px;
}

@media only screen and (max-width: 768px) {
  .mapContainer {
    top: 0px;
    height: calc(100vh - 76px);
  }
}
