.container{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    min-width: 412px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerBackIcon{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerTitle{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 27px;
    color: #2F3336;
    margin-left: 20px;
}

.formRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}


 /* Tree Count and Cost  */

.finalTreeCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.totalCost{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
    color: #87B738;
}

.totalCostText{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
    color: #2F3336;
    margin-left: 6px;
}

.actionButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.actionButtonsText{
    font-family: 'Raleway';
    font-size: 14px;
    color: #2F3336;
    margin-left: 24px;
    margin-right: 24px;
}
.continueButton{
    background-color: #87B738;
    border-radius: 6px;
    padding: 8px 40px;
    color: white;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
}

.horizontalLine{
    height: 1px;
    background-color: #D5D5D5;
    margin-top: 20px;
}

/* Payment error */
.paymentError{
    font-family: 'Raleway';
    font-size: 14px;
    color: #e74c3c;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

/* Payment Mode */

.paymentModeContainer{
    border-radius: 9px;
    border:1px solid #D5D5D5;
    padding: 14px 12px;
    margin-top: 20px;
    width: 100%;
    
}
.paymentModeContainer:hover{
    cursor: pointer;
}


.paymentModeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paymentModeFee{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paymentModeTitle{
    font-family: 'Raleway';
    font-size: 14px;
    color: #2F3336;
    font-weight: 600;
    flex-grow: 1;
    margin-left: 20px;
}

.paymentModeFeeAmount{
    font-family: 'Raleway';
    font-size: 14px;
    color: #2F3336;
    margin-right: 4px;
}

/* Save Company */
.saveCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.saveCardText{
    font-family: 'Raleway';
    font-size: 14px;
    color: #2F3336;
}