@import './../../../../theme/theme';

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    border-radius: 13px 13px 0px 0px;
    width: 320px;
    height: 50px;
}

.tabButtonContainer{
    flex-grow: 1;
    display: flex;
}

.tabButton{
    background-color: transparent;
    border:none;
    margin-left: 16px;
    margin-top: 18px;
}
.tabButton:hover{
    cursor: pointer;
}
.tabButtonText{
    font-family: $primaryFontFamily;
    font-size: 13px;
    font-weight: bold;
    color: $primaryFontColor;
    margin-bottom: 10px;
}

.tabButtonSelected{
    color:$secondaryColor;
    font-family: $primaryFontFamily;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tabButtonSelectedIndicator{
    height: 3px ;
    background-color:  $secondaryColor;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-self: flex-end;
}

.searchIcon{
    margin-right: 20px;
}


/* Projects */
.projectsContainer{
    display: flex;
    flex-direction: column;
    background-color: $white;
    margin-top: 5px;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    max-height: 100vh;
    overflow: scroll;
}

.singleProject{
    margin-top: 16px;
}

.targetLocation{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.projectInfo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

.target{
    font-family: $primaryFontFamily;
    font-size: 12px;
    color: $primaryFontColor;
    font-weight: bold;
    margin-right: 4px;
}
.projectTPOName, .location {
    font-family: $primaryFontFamily;
    font-size: 12px;
    color: $primaryFontColor;
    margin-top: 10px;
}

.costButton{
    background-color: $blueishGrey;
    width: 72px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    color: $primaryColor;
    font-weight: bold;
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
}

.perTree{
    font-family: $primaryFontFamily;
    font-size: 9px;
    color: $primaryFontColor;
    margin-top: 5px;
}

.projectCost{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Progress Bar */
.progressBar{
    height: 4px;
    width: 100%;
    background-color: $dividerColor;
}

.progressBarHighlight{
    height: 4px;
    background-color: $primaryColor;
    width: 30%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.projectImage{
    height: 160px;
    width: 100%;
    background-color: $secondaryColor;
    position: relative;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,0), rgba(0,0,0,0));
}

.projectType{
    font-family: $primaryFontFamily;
    font-size: 7px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 36px;
    left: 7px;
    text-transform: uppercase;
}

.projectName{
    font-family: $primaryFontFamily;
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 12px;
    left: 7px;
}