@import './../../../../theme/theme';

.container {
  position: relative;
  z-index: 6;
  transition: all 0.3s ease-in-out;
  width: 100vw;
  margin-top: 50vh;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  width: 0px;
}

/* Projects */
.projectContainer {
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  width: 100%;
  padding-bottom: 76px;
  height: auto;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.projectContainer::-webkit-scrollbar {
  width: 6px;
}

.projectContainer::-webkit-scrollbar-track {
  background-color: $dividerColor;
  border-top-right-radius: 13px;
}

.projectContainer::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
}

.targetLocation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.projectCompleteInfo {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}
.projectInfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.target {
  font-family: $primaryFontFamily;
  font-size: 12px;
  color: $primaryFontColor;
  font-weight: bold;
  margin-right: 4px;
}
.projectTPOName,
.location {
  font-family: $primaryFontFamily;
  font-size: 12px;
  color: $primaryFontColor;
  margin-top: 10px;
}

.donateButton {
  background-color: $primaryColor;
  min-width: 75px;
  max-width: 150px;
  padding: 0 4px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  color: $light;
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.donateButton:hover {
  cursor: pointer;
  text-decoration: none;
}

.perTree {
  font-family: $secondaryFontFamily;
  font-size: 9px;
  color: $primaryFontColor;
  margin-top: 5px;
}

.projectCost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Progress Bar */
.progressBar {
  height: 4px;
  width: 100%;
  background-color: $dividerColor;
}

.progressBarHighlight {
  height: 4px;
  background-color: $primaryColor;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.projectImage {
  height: 160px;
  width: 100%;
  background-color: $primaryColor;
  position: relative;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.projectImageFile {
  height: 160px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectImageBlock {
  position: absolute;
  bottom: 12px;
  left: 16px;
}

.projectType {
  font-family: $primaryFontFamily;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.projectName {
  font-family: $primaryFontFamily;
  font-size: 18px;
  color: $light;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.calculatedRating {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  font-weight: bold;
  color: $primaryFontColor;
}

.ratingButton {
  margin-left: 5px;
}

.projectDescription {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $primaryFontColor;
  line-height: 21px;
  margin-top: 24px;
}

/* Additional Information */

.projectMoreInfoHalf {
  width: 50%;
  margin-top: 35px;
}

.projectMoreInfo {
  width: 100%;
  margin-top: 35px;
}
.infoTitle {
  font-family: $primaryFontFamily;
  font-size: 10px;
  color: $primaryFontColor;
  font-weight: bold;
  text-transform: uppercase;
}
.infoText {
  margin-top: 9px;
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $primaryFontColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.infoTextButton {
  color: $primaryColor;
}
.infoTextButton:hover {
  cursor: pointer;
}

.speciesProgress {
  background-color: $primaryColor;
  height: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: -6px;
  margin-top: $fontSubTitleSize;
}

.contactDetailsRow {
  display: flex;
  align-items: center;
}

.projectVideoContainer {
  padding: 20px 0px 10px 0px;
}

.projectImageSliderContainer {
  margin-top: 10px;
  width: 100%;
  // border-radius: 0.6em;
  overflow: hidden;
  :first-child {
    :first-child {
      bottom: 2px;
      > div {
        background: rgba(0, 0, 0, 0.4) !important;
        height: 4px !important;
        > div {
          background: rgba(255, 255, 255, 0.8) !important;
        }
      }
    }
  }
}

.projectImageSliderContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: bottom;
  background-position: center center !important;
  background-size: cover !important;
}

.projectImageSliderContentText {
  bottom: 10;
  color: white;
  font-size: 14;
  font-family: $primaryFontFamily;
  padding: 14px 12px;
}

.projectDescription > div > span > div {
  color: $primaryColor;
  display: inline;
  padding-left: 5px;
  cursor: pointer;
}

:export {
  highlightBackground: $highlightBackground;
}

@include smTabletView {
  .container {
    padding-bottom: 0px;
  }
}

@include mdTabletView {
  .container {
    padding-top: 0px;
    width: fit-content;
    left: 24px;
    margin-top: 0px;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .projectContainer {
    margin-top: 90px;
    width: 360px;
    padding-bottom: 16px;
  }
}
