@import './../../../../theme/theme';

.container {
  background-color: $light;
  border-radius: 7px;
  padding: 20px;
  width: 320px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerCloseIcon {
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.headerCloseIcon:hover {
  cursor: pointer;
}
.headerTitle {
  font-family: $primaryFontFamily;
  font-weight: bold;
  font-size: 27px;
  color: $primaryFontColor;
  margin-left: 20px;
}

.contributionAmount {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $primaryFontColor;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.contributionMessage {
  font-family: $primaryFontFamily;
  font-size: $fontSubTitleSize;
  color: $primaryFontColor;
  margin-top: 20px;
  text-align: center;
}

.horizontalLine {
  height: 1px;
  background-color: #d5d5d5;
  margin-top: 20px;
}

.thankyouImageContainer {
  display: flex;
  justify-content: center;
}
.thankyouImage {
  background-image: url('/tenants/planet/images/donations/donationComplete.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  height: 280px;
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.donationCount {
  font-size: 22px;
  font-family: $primaryFontFamily;
  font-weight: 600;
  text-align: center;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: $light;
}

.donationTenant {
  font-size: 13px;
  font-family: $primaryFontFamily;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 16px;
  text-align: center;
  color: $light;
}

.pfpLogo {
  position: absolute;
  right: 12px;
  top: 12px;
  height: 36px;
  width: 36px;
  background-color: $light;
  border-radius: 36px;
  padding: 4px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30px;
  z-index: 10;
}
.downloadButton {
  border-radius: 40px;
  height: 48px;
  padding: 12px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: $primaryColor;
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: 600;
  :hover {
    cursor: pointer;
  }
}

@include smTabletView {
  .container {
    width: 412px;
  }
  .thankyouImage {
    width: 372px;
    height: 372px;
  }
}
