@import './../../../../theme/theme';

.container{
    background-color:$white;
    border-radius: 7px;
    padding: 20px;
    max-width: 412px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerCloseIcon{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.headerCloseIcon:hover{
    cursor: pointer;
}
.headerTitle{
    font-family: $primaryFontFamily;
    font-weight: bold;
    font-size: 27px;
    color: $primaryFontColor;
    margin-left: 20px;
}

.plantProjectName{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
    margin-top: 20px;
}

.currencyRate{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.currency{
    font-family: $primaryFontFamily;
    font-weight: bold;
    font-size: $fontSubTitleSize;
    color: $primaryColor;
}

.downArrow{
    margin-left: 5px;
}

.rate{
    margin-left: 9px;
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
}

.isGiftDonation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.isGiftDonationText{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $highlightBackground;
}

.selectTreeCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.treeCountOption, .treeCountOptionSelected {
    height: 54px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    margin-top: 20px;
}
.treeCountOption{
    border: 1px solid #D5D5D5;
}

.treeCountOptionSelected{
    border: 1px solid $primaryColor;
}
.treeCountOption:hover, .treeCountOptionSelected:hover {
    cursor: pointer;
}
.treeCountOption > .treeCountOptionTrees{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
}

.treeCountOptionSelected > .treeCountOptionTrees{
    font-family: $primaryFontFamily;
    font-weight: bold;
    font-size: $fontSubTitleSize;
    color: $primaryColor;
}

.customTreeInput{
    border:0px;
    border-bottom: 1px solid $primaryColor;
}

/* Tax Deductible */
.isTaxDeductible{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.isTaxDeductibleText{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
}


.taxDeductible{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taxDeductibleCountry{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
}

.downArrow{
    margin-left: 5px;
}

.finalTreeCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.totalCost{
    font-family: $primaryFontFamily;
    font-weight: bold;
    font-size: 16px;
    color: $primaryColor;
}

.totalCostText{
    font-family: $primaryFontFamily;
    font-weight: bold;
    font-size: 16px;
    color: $primaryFontColor;
    margin-left: 6px;
}

.actionButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.actionButtonsText{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
    margin-left: 24px;
    margin-right: 24px;
}
.continueButton{
    background-color: $primaryColor;
    border-radius: 6px;
    padding: 8px 40px;
    color: $white;
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    font-weight: 600;
}

.horizontalLine{
    height: 1px;
    background-color: #D5D5D5;
    margin-top: 20px;
}

/* Gift Trees Styles */

.singleGiftTitle{
    font-family: $primaryFontFamily;
    font-size: $fontSubTitleSize;
    color: $primaryFontColor;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
}
.formRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}