@import '../../../../theme/theme';
.tabsContainer {
  display: flex;
  width: fit-content;
  height: 48px;
  border-radius: 12px;
  background: $backgroundColor;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  gap: 8px;
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0 auto;
  z-index: 40;
  color: $dark;
}

.singleTabOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  padding: 0px 10px;
  height: 40px;
  border-radius: 8px;
  gap: 6px;
}

.singleTabOption svg {
  width: 18px;
}

.singleTabOption p {
  display: none;
}

.selected {
  padding: 0px 15px;
  color: $backgroundColor;
  background-color: $primaryColorNew;
}

.separator {
  width: 0; // Zero width so it doesn't affect layout
  height: 30px;
  position: relative;
  margin: 0 -4px; // Counteract half the gap of the tabsContainer (8px) on each side

  // Pseudo-element to create the separator line without affecting full tab width and causing layout shift
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5px;
    height: 100%;
    background: $dark;
    opacity: 0.3;
  }
}

@include xlDesktopView {
  .singleTabOption {
    p {
      display: block;
      font-size: $fontXSmall;
      font-weight: 700;
    }
  }
}
