@import './../../../theme/theme';

.treeCounter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeCounterData {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.treeCounterDataField > h1 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: $fontXXXLarge;
  margin-bottom: 0px;
}
.treeCounterDataField > h2 {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: $fontSmall;
}

.targetTextForPrivate {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: $fontSmall;
  padding-left: 25px;
}

.targetText {
  color: $light;
  font-family: $primaryFontFamily;
  font-weight: bold;
  text-align: center;
  font-size: $fontSmall;
}

.target {
  display: flex;
  justify-content: space-evenly;
}

.backgroundCircle {
  border: 5px solid $light;
}

.backgroundCircle,
.backgroundCircleForTenant {
  border: 20px solid #6fcf97;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: absolute;
  opacity: 0.7;
  @include xsPhoneView {
    width: 288px;
    height: 288px;
  }
}

.addTargetButton {
  margin: 20px 0px;
  background-color: $highlightBackground;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 10px;
}

.addTargetButton:hover {
  cursor: pointer;
}
.addTargetButton > p {
  opacity: 1;
  font-size: $fontMedium;
}

.circularProgressContainer {
  position: relative;
  z-index: 2;
  span {
    width: 400px !important;
    height: 400px !important;
    @include xsPhoneView {
      width: 288px !important;
      height: 288px !important;
    }
  }
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  color: #4f4f4f;
  font-weight: bold;
  font-size: $fontXXLarge;
  @include xsPhoneView {
    font-size: $fontLarge;
  }
}

.tenantTreePlanted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: $fontXXXLarge;
  font-family: $primaryFontFamily;
  color: #fff;
  .label {
    font-size: $fontSmall;
  }
}

.treesPlanted {
  font-size: $fontXLarge;
  @include xsPhoneView {
    font-size: $fontXSmall;
  }
}
