@import '../../theme/theme';

.projectListMainContainer {
  max-width: 182px;
  background: $backgroundColor;
  padding: 16px;
  margin-top: 10px;
  border-radius: 12px;
}

.projectName {
  font-size: $fontXXSmall;
  text-transform: capitalize;
  line-height: normal;
}

.filterSelected {
  font-weight: 700;
  font-size: $fontXXSmall;
}

.filterButton {
  display: flex;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
}

.hrLine {
  width: 100%;
}
