.projectListMainContainer {
  width: 182px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 16px;
  margin-top: 10px;
  border-radius: 12px;
  > .container {
    height: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 10px;
  }
  hr {
    background: #bdbdbd;
  }
}

.projectName {
  font-size: 10px;
  text-transform: capitalize;
  line-height: normal;
  cursor: pointer;
}
