@import '../../theme/theme';
.searchBarMainConatiner {
  background-color: $light;
  width: 100%;
  height: 47px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  max-width: 350px;
  justify-content: space-between;
}

.searchBarContainer {
  width: 100%;
  background-color: $light;
  display: flex;
  border-radius: 12px;
  font-weight: 700;
  color: $primaryColorNew;
  p {
    font-size: $fontSmall;
    font-weight: 400;
  }
}

.activeSearchIcon {
  margin-left: 24px;
  margin-top: 4px;
  cursor: pointer;
}

.textField {
  margin-left: 17px;
}

.crossIcon {
  margin-left: 9px;
  margin-top: 5px;
  cursor: pointer;
  padding-right: 15px;
}

.filterContainer {
  margin-top: 5px;
  margin-left: 205px;
}

.searchTabForMobile {
  height: 26px;
  display: flex;
  justify-content: space-evenly;
  max-width: 328px;
}

.projectListTabs {
  display: flex;
  border: none;
}

.activeTopProjectButton,
.topProjectButton {
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid $primaryColorNew;
  > .starIconContainer {
    margin-top: 4px;
  }
}

.activeTopProjectButton {
  background: $primaryColorNew;
  color: $light;
}

.topProjectButton {
  background: $light;
}

.activeTopProjectLabelConatiner,
.topProjectLabelConatiner {
  display: flex;
  > .topProjectLable {
    font-size: $fontXXXSmallNew;
    font-weight: 700;
    display: flex;
    .projectCount {
      font-weight: 400;
      margin-left: 2px;
    }
  }
  .noOfProject {
    font-size: $fontXXXSmallNew;
    font-weight: 400;
    margin-left: 2px;
  }
}
.activeAllProjectButton,
.allProjectButton {
  width: 51px;
  height: inherit;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primaryColorNew;
  > .allProjectLabel {
    font-weight: 700;
    font-size: $fontXXXSmallNew;
    display: flex;
    .projectCount {
      font-weight: 400;
      margin-left: 2px;
    }
  }
  .noOfProject {
    font-weight: 400;
    font-size: $fontXXXSmallNew;
    margin-left: 1px;
  }
}

.activeAllProjectButton {
  background: $primaryColorNew;
  color: $light;
}

.allProjectButton {
  background: $light;
}

.projectFeaturesMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.listAndLocationContainer {
  border-radius: 5px;
  border: 2px solid $primaryColorNew;
  display: flex;
}
.activeListButton,
.listButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.25px;
  width: 51px;
  > .listLable {
    font-weight: 800;
    font-size: $fontXXXSmallNew;
  }
}
.activeListButton {
  background: $primaryColorNew;
  color: $light;
}

.activeLocationButton,
.locationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  gap: 7px;
  width: 51px;

  > .mapLable {
    font-size: $fontXXXSmallNew;
    font-weight: 700;
  }
}

.activeLocationButton {
  background: $primaryColorNew;
  color: $light;
}

.iconsContainer {
  width: max-content;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
  padding-right: 19px;
  .icon {
    cursor: pointer;
  }
}
.projectLabel {
  display: flex;
  margin-left: 7px;
  .projectCount {
    margin-left: 4px;
  }
}

.filterDropDownContainer {
  display: flex;
  max-width: 346px;
  justify-content: flex-end;
}
