@import '../../theme/theme';
.searchBarMainConatiner {
  background-color: $light;
  height: 47px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  max-width: max-content;
  justify-content: space-between;
}

.searchBarContainer {
  width: 100%;
  background-color: $light;
  display: flex;
  border-radius: 12px;
  font-weight: 700;
  color: $primaryColorNew;
  p {
    font-size: $fontSmall;
    font-weight: 400;
  }
}

.activeSearchIcon {
  margin-left: 24px;
  margin-top: 4px;
  cursor: pointer;
}

.textField {
  margin-left: 17px;
}

.crossIcon {
  margin-left: 9px;
  margin-top: 5px;
  cursor: pointer;
  padding-right: 15px;
}

.filterContainer {
  margin-top: 5px;
  margin-left: 205px;
}

.searchTabForMobile {
  height: 26px;
  display: flex;
  justify-content: space-evenly;
  max-width: 328px;
}

.projectListTabs {
  display: flex;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid $primaryColorNew;
}

.projectActiveButton,
.projectInActiveButton {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  > .starIconContainer {
    margin-top: 3px;
  }
  > .label {
    font-weight: 700;
    font-size: $fontXXXSmallNew;
    display: flex;
    .projectCount {
      font-weight: 400;
      margin-left: 1px;
    }
  }
  .noOfProject {
    font-weight: 400;
    font-size: $fontXXXSmallNew;
    margin-left: 1px;
  }
}

.projectActiveButton {
  background: $primaryColorNew;
  color: $light;
}

.projectInActiveButton {
  background: $light;
}

.projectFeaturesMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.listAndLocationContainer {
  border-radius: 5px;
  border: 2px solid $primaryColorNew;
  display: flex;
}
.activeButton,
.inActiveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 8px;
}

.label {
  font-weight: 700;
  font-size: $fontXXXSmallNew;
}

.activeButton {
  background: $primaryColorNew;
  color: $light;
}

.iconsContainer {
  width: max-content;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
  padding-right: 19px;
  .icon {
    cursor: pointer;
  }
}
.projectLabel {
  display: flex;
  margin-left: 7px;
  .projectCount {
    margin-left: 4px;
  }
}

.filterDropDownContainer {
  display: flex;
  max-width: 346px;
  justify-content: flex-end;
}
