@import '../../theme/theme';

.projectInfoContainer, .moreInfoContainer, .certificationContainer, .contactDetailsContainer {
    display: flex;
    width: 258px;
    flex-wrap: wrap;
    padding: 24px;
    background: rgba(242, 201, 76, 0.10);
    border-radius: 14px;
    flex-direction: column;
    color: #2F3336;
    font-size: 10px;
}
.moreInfoContainer {
    background-color: rgba(81, 198, 205, 0.10);
    gap: 16px;
}

.certificationContainer {
    background-color: rgba(108, 99, 255, 0.10);
    gap: 12px;
    height: auto;
}

.contactDetailsContainer {
    background-color: rgba(232, 111, 86, 0.10);;
}

.halfInfo {
    flex: 1;
    .infoTitle, .siteOwnershipTitle {
        font-weight: 700;
        margin-bottom: 4px;
        text-transform: capitalize;
        display: flex;
        gap: 12px;
    }   
}

.infoDetail {
    display: flex;
    justify-content: space-between;
    a {
        color: #3AB6BD;
        font-weight: 700;   
    }
}

.ownershipLabel {
    background-color: rgba(81, 198, 205, 0.20);
}

.singleInfo {
   display: flex;
   width: 100%;
   flex-direction: row;
}

.seperator {
    height: 0.5px;
    background: rgba(242, 153, 74, 0.20);
    margin: 12px 0;
}

.infoIconPopupContainer {
    padding: 12px;
    font-size: 8px;
    max-width: 200px !important;
}

.siteOwnershipTitle {
   justify-content: space-between;
   align-items: center;
   span {
    padding: 4px 6px;
    background-color: rgba(81, 198, 205, 0.20);
    border-radius: 4px;
    font-weight: 400;
    font-size: 8px;
   }
}
.certificationLabel {
    padding: 2px 9px;
    border-radius: 24px;
    border: 0.4px solid rgba(108, 99, 255, 0.20);
    background: rgba(108, 99, 255, 0.15);
    color: #6C63FF;
    font-weight: 700;
    width: fit-content;
}
.spendingsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px
}
.spendingDetail {
    display: flex;
    gap: 6px;
    align-items: center;
    min-width: 50%;
}
.reportsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.downloadIcon {
    display: none;
}

.contactText {
    margin-top: 12.87px;
}

.singleContact {
    display: flex;
    background-color: rgba(242, 153, 74, 0.12);
    border-radius: 8px;
    padding: 0 10.5px;
    min-height: 41px;
    margin-bottom: 8px;
    align-items: center;
    gap: 8.5px;

    .icon {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        flex-shrink: 0;
    }
    .title {
        font-size: 10px;
        font-weight: 600;
        color: #2F3336;
    }
    .rightArrow {
        margin-left: auto;
    }
}

@include xsPhoneView {
    .certificationLabel {
        background-color: transparent;
        border: 0px;
        font-weight: 400;
        color: inherit;
        padding: 0;
    }
    .spendingDetail {
        width: 100%;
        gap:32px;
    }
    .downloadIcon {
        display: inline;
        margin-left: auto;
        cursor: pointer;
    }
    .spendingsContainer {
        gap: 2px;
    }
    .reportsContainer {
        flex-direction: column;
        gap:2px;
        >div {
            display: flex;
            justify-content: space-between;
        }
    }
}