.projectInfoContainer {
    display: flex;
    width: 258px;
    flex-wrap: wrap;
    padding: 24px;
    background: rgba(242, 201, 76, 0.10);
    border-radius: 14px;
    flex-direction: column;
    color: #2F3336;
    font-size: 10px;
}
.halfInfo {
    flex: 1;
    .infoTitle {
        font-weight: 700;
        margin-bottom: 4px;
        text-transform: capitalize;
        display: flex;
        gap: 12px;
    }
    
}
.singleInfo {
   display: flex;
   width: 100%;
   flex-direction: row;
}
.seperator {
    height: 0.5px;
    background: rgba(242, 153, 74, 0.20);
    margin: 12px;
}
.infoIconPopupContainer {
    padding: 12px;
    font-size: 8px;
    max-width: 200px !important;
}
