@import '../../../../theme/theme';

.contentSectionContainer {
  background-image: url('/tenants/salesforce/images/rectangle-35.png');
  background-size: 1440px 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 999;
  margin-top: -292px;
  padding-top: 124px;
  .contentSection {
    padding-bottom: 150px;
    h2 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $fontXXLarge;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.004em;
      color: $sfDsNavy900;
      margin-bottom: 10px;
      @include lgLaptopView {
        font-size: $fontXXLarge;
        line-height: 100%;
        letter-spacing: -0.006em;
      }
    }
    h3 {
      font-family: $secondaryFontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: $sfFontLarge;
      line-height: 28px;
      letter-spacing: -0.004em;
      color: $sfDsNavy900;
      margin-bottom: 10px;
      &.contentSectionHeader {
        text-align: center;
      }
      @include lgLaptopView {
        font-size: $fontXXLarge;
        line-height: 100%;
        margin-bottom: 15px;
        &.contentSectionHeader {
          font-size: $fontXLarge;
        }
      }
    }
    ul {
      padding: 0 15px;
    }
    p,
    ul li {
      font-family: $primaryFontFamily;
      font-style: normal;
      font-weight: normal;
      font-size: $sfFontBase;
      line-height: 24px;
      color: $sfDsNavy900;
      margin-bottom: 30px;
      a {
        text-decoration: underline;
        color: $sfDsBlue800;
      }
    }
    img {
      margin: 0 auto 30px;
      display: block;
      @include lgLaptopView {
        margin: 0;
      }
    }
    .justifyContentCenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  p.contentSectionSubhead {
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: $fontMedium;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.002em;
    color: $sfDsNavy900;
    @include lgLaptopView {
      font-size: $sfFontMedium;
      line-height: 30px;
    }
  }
}
