@import '../../../../theme/theme';

.fluidContainer {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

.illustration1 {
  width: 256px;
  max-width: 100%;
  height: auto;
}

.illustration2 {
  width: 256px;
  max-width: 100%;
  height: auto;
}

.mb65100 {
  margin-bottom: 0px;
  @include lgLaptopView {
    margin-bottom: 0px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

@include mdTabletView {
  .fluidContainer {
    max-width: 720px;
  }
}
@include lgLaptopView {
  .fluidContainer {
    max-width: 960px;
  }
}
@include xlDesktopView {
  .fluidContainer {
    max-width: 1140px;
  }
}

.gridRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col8 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col12 {
  -moz-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.col8,
.col12,
.colSm8,
.colSm10,
.colMd4,
.colMd5,
.colMd6,
.colMd7,
.colMd8,
.colMd10,
.colMd12,
.colLg4,
.colLg5,
.colLg6,
.colLg7,
.colLg10,
.colLg12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@include smTabletView {
  .orderSm0 {
    order: 0;
  }
  .orderSm1 {
    order: 1;
  }
  .colSm8 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colSm10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
@include mdTabletView {
  .colMd3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colMd4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .colMd5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .colMd6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colMd7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .colMd8 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .colMd10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .colMd12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .orderMd0 {
    order: 0;
  }
  .orderMd1 {
    order: 1;
  }
}

@include lgLaptopView {
  .colLg3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .colLg4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .colLg5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .colLg6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .colLg7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .colLg10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .colLg12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
