.responsibilityStatement {
  background: linear-gradient(
      259.87deg,
      rgba(0, 0, 0, 0) 4.8%,
      rgba(0, 0, 0, 0.5) 90.94%
    ),
    url('/tenants/concentrix/images/exploring-rainforest-layers-background.jpeg'),
    #003d5c;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 160px 20px;
}

.heading {
  max-width: 800px;
}

.content {
  font-size: 18px;
  max-width: 800px;
}
