@import './../../../../theme/theme';

.topLoader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5px;

  z-index: 1031;
}

.topLoaderProgress {
  width: 0%;
  background-color: $primaryColor;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 20px;
  max-width: 1200px;
}

.historyList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  .notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    > p {
      margin-top: 10px;
    }
  }
  > .record {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $backgroundColor;
    > .detailContainer {
      display: none;
    }
  }
}

.recordHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dddbda;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  > .title {
    font-weight: 700;
  }
}

.filterContainer {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 1px 2px 8px -6px #707070;
  background-color: $light;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  width: 100%;
  > .header {
    font-weight: 700;
    font-size: 18px;
  }
  > .filterGrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filterRow::-webkit-scrollbar {
  display: none;
}

.filterButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $light;
  transition-duration: 0.4;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition-timing-function: ease-in;
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid $primaryColor;
  white-space: nowrap;
  font-family: $primaryFontFamily;
  cursor: pointer;
}

.filterButton.selected {
  border: none;
  padding: 9px 13px;
  background-color: rgba(104, 176, 48, 0.12);
}

.detailGrid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  > .singleDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    > .title {
      font-weight: 700;
    }
    > a {
      color: $primaryColor;
      font-weight: 700;
    }
  }
}

.modalContainer {
  display: block;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@include smTabletView {
  .detailGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include lgLaptopView {
  .historyList {
    width: 70%;
    > .record.selected {
      background-color: #fafafa;
      border-radius: 10px;
      box-shadow: 1px 2px 8px -6px #707070;
      margin: 20px 0;
      > .detailContainer {
        display: flex;
      }
    }
  }
  .filterContainer {
    width: 30%;
    display: flex;
  }

  .filterRow {
    display: none;
  }

  .modal {
    display: none;
  }

  .detailGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
