@import './../../../../theme/theme';
.accountNavbar {
  width: 100%;
  min-height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include smTabletView{
    height: 305px;
  }
}

.filterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filterRow{
  display: flex;
  width: 600px;
  flex-direction: column;
}
.captionDate{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
.caption{
  margin-bottom: 10px;
  font-weight: bold;

}
.filterText{
  font-weight: bold;
  margin-top: 20px;
}
.singleRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #dddbda;
  margin-bottom: 10px;
}
.navbarContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: $light;
  padding: 20px;
  padding-bottom: 0px;
  text-align: left;
  max-width: 980px;
  position: absolute;
  bottom: 16px;
  .nameText{
    font-size: 41px;
    line-height: 0.66;
  }
  .firstName {
    font-weight: bold;
  }
  .secondaryText{
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
  }
  .navbarLink{
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    color: $light;
    width: fit-content;
  }
}
