@import './../../../theme/theme';



// the outer white background
.projectsContainer {
  padding: 30px;
  background-color: $light;
  display: flex;
  position: relative;
  min-width: 100vw;
  min-height: fit-content;
  z-index: 5;
  top: 180px;
  align-items: left;
  justify-content: left; 
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Footer */
.footerDiv {
  z-index: 24; //more than myForestContainer
  position: relative;
  padding: 1px;
  width: 100vw;
  background-color: $light;
  top: 180px;
}

@media only screen and (max-width: 768px) {
  .footerDiv {
    display: none;
  }
}