@import '../../theme/theme';

.imageSliderContainer {
    max-width: 306px;
}

.sliderContent {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background-position: center center !important;
    background-size: cover !important;
}
.sliderContentText {
    position: absolute;
    bottom: 38px;
    left: 18px;
    color: $backgroundColor;
    font-size: $fontXSmall;
    text-transform: capitalize; 
    max-width: 90%;
   
}

@include xsPhoneView {
    .imageSliderContainer {
        max-width: 431px;
    }
}
