@import './../../../../theme/theme';

.landingSection {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingSectionFixedBG {
  height: 100vh;
}
