@import './../../../../theme/theme';

.landingSection {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  max-width: 100vw;
}

.landingContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
