@import './../../../../theme/theme';

.landingSection {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  max-width: 100vw;
}

// when background image is fixed wrt viewport
.backgroundImageFixed {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  max-width: 100vw;
}

.landingSectionNoFixedHeight {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundImage > img {
  height: 100%;
}
