.infoAndCtaContainer {
    display: flex;
    padding: 40px;
    gap: 40px;
    flex-direction: column;
}

.donorCircleInvitationContainer, .SDGCardListContainer {
    width: 100%;
}

.singleSDGCardContainer {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    color: #FFF;   
    gap: 2.37px; 
    padding: 8.2px 15.1px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;    
    text-align: center;

    @media screen and (max-width: 700px) {
        height: 150px;
        width: 150px;
    }

    @media screen and (max-width: 620px) {
        height: 200px;
        width: 200px;
    }

    @media screen and (max-width: 430px) {
        height: 290px;
        width: 100%
    }
}

.singleCardIndex {
    font-weight: 700;
    font-size: 16.72px;

    @media screen and (max-width: 620px) {
        font-size: 22px;
    }

    @media screen and (max-width: 430px) {
       font-size: 32px;
    }
}

.singleCardTitle {
    font-size: 10px;
    margin-bottom: 4px;
    text-transform: uppercase;

    @media screen and (max-width: 620px) {
        font-size: 16px;
    }
    @media screen and (max-width: 430px) {
        font-size: 22px;
     }
}

.singleCardIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-bottom: 10px;
    max-height: 48px;
    max-width: 48px;
    svg {
       width: 100%;
       height: 100%;
    }

    @media screen and (max-width: 430px) {
        max-height: 80px;
        max-width: 80px;
     }
}