.infoAndCtaContainer {
    display: flex;
    padding: 40px;
    gap: 40px;
    flex-direction: column;
}

.donorCircleInvitationContainer, .SDGCardListContainer {
    width: 100%;
}

.singleSDGCardContainer {
    display: flex;
    flex-direction: column;
    color: #FFF;   
    gap: 2.37px; 
    padding: 8.2px 15.1px;
    align-items: center;
    justify-content: space-between;    
    text-align: center;

    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}