@import '../../../theme/theme';
// @import './themeCopy';

/* .contentContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
} */

/* .formContainer {
  // background-color: $backgroundColor;
  flex: 1;
  padding: 24px;
  border-radius: 9px;
  box-shadow: rgb(170 170 170 / 20%) 0px 1px 4px;
  max-width: 640px;
} */

/* .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
} */

/* .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

/* .selectorOption {
  border: 1px solid $primaryFontColor;
  border-radius: 9px;
  padding: 20px; */

/* &.selected {
    border: 1px solid $primaryColor;
    // border: 1px solid #81ae3f;
  } */

/* .optionTitle {
    font-size: $fontLarge;
    // color: rgba(0, 0, 0, 0.6);
  } */

/* .optionDetails {
    margin: 0 20px;
  } */

/* .optionLabel {
    // color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    gap: 13px;
  } */

/* input[type='radio'] {
    display: none;
  } */

.formErrors {
  // position: absolute;
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dangerColor;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
}

.dropzone {
  background: #f2f2f7;
  border: 1px solid #689f38;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  gap: 0.5rem;
  color: #2f3336;

  svg {
    height: 24px;
  }

  & p {
    text-align: center;
  }

  &--error {
    border: 1px solid #e53935;
  }
}
