@import '../../../theme/theme';

.successMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uploadWidget {
  background: $dsBaseGrey;
  border: 1px solid $dsWarmGreen;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  gap: 0.5rem;
  color: $dsCoreText;
  text-align: center;

  svg {
    height: 24px;
  }

  &__statusText {
    &--error {
      color: $dsFireRed;
    }
    &--success {
      color: $dsWarmGreen;
    }
  }

  &--error {
    border: 1px solid $dsFireRed;
  }
}

.uploadInstructions a {
  color: $dsCoreText;
  font-weight: 700;
  text-decoration: underline;
}

.issueCodeTermsAndWarnings {
  font-size: $fontSmall;
  font-style: italic;
  color: $dsSoftText;
}

.spinner {
  border: 2px solid $dsWarmGreen;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headerInfoIcon {
  display: inline-block;
  width: 1em;
  min-width: 1em;
  vertical-align: middle;
}
