@import './../../../theme/theme';

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.historyTitle {
  font-size: 2.25rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 24px;
}

.historySubtitle {
  font-size: 1rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 20px;
  max-width: 1250px;
}
.recurrencySection {
  justify-content: flex-start;
}
.accountHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > .historyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: $primaryFontColor;
    overflow: hidden;
    padding: 5px; //allow item box shadow to show
    margin: -5px; //correct alignment due to padding
    // box-shadow: rgba(170, 170, 170, $alpha: 0.2) 0px 1px 4px;
    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 160px;
      > p {
        margin-top: 10px;
      }
    }
    > .record {
      cursor: pointer;
      margin-bottom: 16px;
    }
  }
}

.recordStatus {
  &.pending {
    color: #ffc107;
  }
  &.success,
  &.paid {
    color: #28a745;
  }
  &.failed {
    color: #dc3545;
  }
}

.recurrency {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > .recurrencyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: $primaryFontColor;
    overflow: hidden;
    padding: 5px;
    margin: -5px;
    // box-shadow: rgba(170, 170, 170, $alpha: 0.2) 0px 1px 4px;
    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 160px;
      > p {
        margin-top: 10px;
      }
    }
    > .record {
      margin-bottom: 16px;
      cursor: auto;
    }
  }
}
.recordHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & .incoming {
    color: $primaryColor;
  }
  & .outgoing {
    color: #e74c3c;
  }
  > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
}
.recurrencyRecordHeader {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .status {
    // color: $primaryColor;
    font-family: $primaryFontFamily;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 14px;
    padding: 3px 10px;
    text-transform: capitalize;
    // background-color: #deffc4;
  }
  .active {
    color: $primaryColor;
    background-color: #deffc4;
  }
  .paused {
    color: $secondaryColor;
    background-color: #ffe8b8;
  }
  .cancelled {
    color: $dangerColor;
    background-color: #ffccc7;
  }
}

.recordTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.noCursor {
  cursor: default;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #dddbda;
  margin-top: 20px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
  gap: 20px;
  > .title {
    font-weight: 700;
  }
}

.filterContainer {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // box-shadow: 1px 2px 8px -6px #707070;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  width: 100%;
  background-color: $backgroundColor;
  color: $primaryFontColor;
  > .header {
    font-weight: 700;
    font-size: 18px;
  }
  > .filterGrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filterRow::-webkit-scrollbar {
  display: none;
}

.filterButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  transition-duration: 0.4;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition-timing-function: ease-in;
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid $primaryColor;
  white-space: nowrap;
  font-family: $primaryFontFamily;
  cursor: pointer;
  color: $primaryFontColor;
}

// Tax receipt code - commented out. Add back while enabling feature.
/* .issueButtonMobileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 0px 0px 15px;
}

.issueButtonContainer {
  margin: 25px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: inline-block;
  color: $primaryFontColor;
  margin: 0;
  padding: 0;
  &:hover {
    color: $primaryColor;
  }
} */

.filterButton.selected {
  border: none;
  padding: 9px 13px;
  background-color: rgba(104, 176, 48, 0.12);
}

.detailGrid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  > .singleDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    &.fullWidth {
      grid-column: span 2;
    }
    > .title {
      font-weight: 700;
    }
    > a {
      color: $primaryColor;
      font-weight: 700;
    }
    > .downloadCodesButton {
      color: $primaryColor;
      appearance: none;
      font: inherit;
      font-weight: 700;
      text-align: left;
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;

      &:focus-visible {
        border: 2px solid $primaryColor;
        border-radius: 3px;
      }
    }
  }
}
.manageDonations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 20px;
  > .options {
    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
  }
}

@include mdTabletView {
  .manageDonations {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 415px;
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  // margin-top: 20px;
}
.formRowInput {
  margin-top: 20px;
  flex: 1;
}
.recordModal,
.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  background-color: $backgroundColor;
  padding: 20px;
  z-index: 1040;
  flex-direction: column;
  color: $primaryFontColor;
}

.closeRecord {
  margin-left: -16px;
  cursor: pointer;
}
.pauseNote {
  max-width: 332px;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.manageDonationModal {
  background-color: $backgroundColor;
  border: 0px;
  border-radius: 8px;
  padding: 30px 35px;
  max-width: 60vw;
  min-width: 320px;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  color: $primaryFontColor;
  .modalTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4 {
      font-size: $fontLarge;
      font-weight: bold;
      color: $primaryColor;
    }
  }
}
.note {
  padding-top: 10px;
  color: $primaryFontColor;
}
.modalButtons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  border-width: 2px;
}
.radioButtonGrid {
  align-items: 'flex-start';
  grid-gap: 10px;
  padding: 20px 0px;
  color: $primaryFontColor;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.donationOptions {
  margin-bottom: 10px;
  color: $primaryFontColor;
  padding: 4px;
  background-color: #e1efd6;
  border-radius: 8px;
  display: inline-flex;
  .option {
    font-size: 14px;
    font-family: $primaryFontFamily;
    color: $primaryFontColor;
    font-weight: 600;
    padding: 8px 12px;
    // padding: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .active {
    background-color: #ffffff;
    height: 40px;
    color: '#68B030';
    border-radius: 6px;
  }
}
.submitButton {
  background-image: linear-gradient(
    103deg,
    $primaryColor 5%,
    $primaryDarkColor 116%
  );
  border-radius: 20px;
  align-self: center;
  color: #fff;
  font-weight: bold;
  height: 34px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
.cancelButton {
  border: 1px solid $primaryColor;
  border-radius: 20px;
  color: $primaryColor;
  font-weight: bold;
  height: 34px;
  width: 130px;
  &:hover {
    cursor: pointer;
  }
}
// .submitButton:hover,
// .cancelButton:hover {
//   transform: translateY(-7px);
//   cursor: pointer;
// }
.formErrors {
  // position: absolute;
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dangerColor;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
}

.donationNote {
  font-style: italic;
}

.supportLink {
  color: $primaryColor;
}

.filterContent {
  width: 30%;
  display: none;
  flex-direction: column;
  min-width: 250px;
  margin-left: 20px;
}

.membershipCta {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url('/assets/images/membership-bg-image.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 20px;
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .logo {
    z-index: 2;
  }
  .membershipCtaContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    z-index: 2;
  }
  &.membershipCtaRight {
    display: none;
  }
}

.membershipCtaCopy {
  color: $light;
  font-weight: 400;
  font-size: $fontMedium;
  > .highlighted {
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-size: $fontLarge;
  }
}

@include smTabletView {
  .detailGrid {
    grid-template-columns: repeat(2, 1fr);
    & .singleDetail.fullWidth {
      grid-column: span 2;
    }
  }
}
@include mdTabletView {
  .recordModal,
  .modalContainer {
    display: none;
  }

  .accountHistory {
    > .historyList {
      width: 100%;
      > .record.selected {
        background-color: $backgroundColorDark;
        border-radius: 10px;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedPause {
        background-color: rgba(255, 255, 204, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedCancel {
        background-color: rgba(241, 130, 141, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
    }
  }

  .recurrency {
    > .recurrencyList {
      width: 100%;
      > .record.selected {
        background-color: $backgroundColorDark;
        border-radius: 10px;
        // box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedPause {
        background-color: rgba(255, 255, 204, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedCancel {
        background-color: rgba(241, 130, 141, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
    }
  }
}

.record {
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  background-color: $backgroundColor;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  &:hover {
    background-color: $backgroundColorDark;
  }
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  // "height: 0" not work with css transitions
  max-height: 121px;
  > .detailContainer {
    display: none;
  }
  &.selected {
    background-color: $backgroundColorDark;
    border-radius: 10px;
    max-height: 1000px;
    color: $primaryFontColor;
    > .detailContainer {
      display: flex;
    }
  }
}

@include lgLaptopView {
  .filterContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .accountHistory {
    width: 70%;
  }

  .filterContainer {
    width: 30%;
    display: flex;
  }

  .filterRow {
    display: none;
  }

  // Tax receipt code - commented out. Add back while enabling feature.
  /* .issueButtonMobileContainer {
    display: none;
  } */

  .modal {
    display: none;
  }

  .detailGrid {
    grid-template-columns: repeat(3, 1fr);
    & .singleDetail.fullWidth {
      grid-column: span 3;
    }
  }
}
@include lgLaptopView {
  .recurrency {
    width: 70%;
  }

  .filterContainer {
    width: 100%;
    display: flex;
  }

  .filterRow {
    display: none;
  }

  .modal {
    display: none;
  }

  .detailGrid {
    grid-template-columns: repeat(3, 1fr);
    & .singleDetail.fullWidth {
      grid-column: span 3;
    }
  }

  .membershipCta {
    height: 250px;
    .logo {
      align-self: flex-end;
    }
    &.membershipCtaTop {
      display: none;
    }
    &.membershipCtaRight {
      display: flex;
    }
  }
}
// Loader for Buttons
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.spinner--primary {
  border: 2px solid #689f38;
  border-top: 2px solid transparent;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.headerCloseIcon {
  // height: 32px;
  // width: 32px;
  min-width: 32px;
  display: flex;
  color: $primaryFontColor;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.headerCloseIcon:hover {
  cursor: pointer;
}

.editDonationModal {
  min-width: 420px;
  height: auto;
  max-width: min-content;
  overflow: auto;
}

@include xsPhoneView {
  .editDonationModal {
    min-width: 80vw;
    height: auto;
    max-width: min-content;
    overflow: auto;
  }
  .formRow {
    flex-direction: column;
  }
}
