@import './../../../theme/theme';

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 20px;
  max-width: 1250px;
}
.recurrencySection {
  justify-content: flex-start;
}
.accountHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > .historyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: $primaryFontColor;
    overflow: hidden;
    // box-shadow: rgba(170, 170, 170, $alpha: 0.2) 0px 1px 4px;
    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 160px;
      > p {
        margin-top: 10px;
      }
    }
    > .record {
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 20px 10px 20px;
      background-color: $backgroundColor;
      margin-bottom: 16px;
      &:hover {
        background-color: $backgroundColorDark;
      }
      > .detailContainer {
        display: none;
      }
    }
  }
}

.recordStatus {
  &.pending {
    color: #ffc107;
  }
  &.success,
  &.paid {
    color: #28a745;
  }
  &.failed {
    color: #dc3545;
  }
}

.recurrency {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  > .recurrencyList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: $primaryFontColor;
    overflow: hidden;
    // box-shadow: rgba(170, 170, 170, $alpha: 0.2) 0px 1px 4px;
    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 160px;
      > p {
        margin-top: 10px;
      }
    }
    > .record {
      // cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 20px 10px 20px;
      margin-bottom: 16px;
      background-color: $backgroundColor;
      &:hover {
        background-color: $backgroundColorDark;
      }
      > .detailContainer {
        display: none;
      }
    }
  }
}
.recordHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
}
.recurrencyRecordHeader {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  > .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    > .top {
      font-weight: 700;
    }
  }
  .status {
    // color: $primaryColor;
    font-family: $primaryFontFamily;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 14px;
    padding: 3px 10px;
    text-transform: capitalize;
    // background-color: #deffc4;
  }
  .active {
    color: $primaryColor;
    background-color: #deffc4;
  }
  .paused {
    color: $secondaryColor;
    background-color: #ffe8b8;
  }
  .cancelled {
    color: $dangerColor;
    background-color: #ffccc7;
  }
}
.noCursor {
  cursor: default;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #dddbda;
  margin-top: 20px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
  gap: 20px;
  > .title {
    font-weight: 700;
  }
}

.filterContainer {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // box-shadow: 1px 2px 8px -6px #707070;
  background-color: $light;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  width: 100%;
  background-color: $backgroundColor;
  color: $primaryFontColor;
  > .header {
    font-weight: 700;
    font-size: 18px;
  }
  > .filterGrid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filterRow::-webkit-scrollbar {
  display: none;
}

.filterButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  transition-duration: 0.4;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition-timing-function: ease-in;
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid $primaryColor;
  white-space: nowrap;
  font-family: $primaryFontFamily;
  cursor: pointer;
  color: $primaryFontColor;
}

.filterButton.selected {
  border: none;
  padding: 9px 13px;
  background-color: rgba(104, 176, 48, 0.12);
}

.detailGrid {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  > .singleDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    > .title {
      font-weight: 700;
    }
    > a {
      color: $primaryColor;
      font-weight: 700;
    }
  }
}
.manageDonations {
  width: 70%;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 20px;
  padding: 12px;
  margin-left: -10px;
  > .options {
    font-weight: bold;
    cursor: pointer;
  }
}

@include mdTabletView {
  .manageDonations {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 415px;
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  // margin-top: 20px;
}
.formRowInput {
  margin-top: 20px;
  flex: 1;
}
.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  background-color: $backgroundColor;
  padding: 20px;
  z-index: 1040;
  flex-direction: column;
  color: $primaryFontColor;
}

.closeRecord {
  margin-left: -16px;
  cursor: pointer;
}
.pauseNote {
  max-width: 332px;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.manageDonationModal {
  background-color: $backgroundColor;
  border: 0px;
  border-radius: 8px;
  padding: 30px 35px;
  max-width: 60vw;
  min-width: 320px;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  color: $primaryFontColor;
  .modalTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4 {
      font-size: $fontLarge;
      font-weight: bold;
      color: $primaryColor;
    }
  }
}
.note {
  padding-top: 10px;
  color: $primaryFontColor;
}
.modalButtons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  border-width: 2px;
}
.radioButtonGrid {
  align-items: 'flex-start';
  grid-gap: 10px;
  padding: 20px 0px;
  color: $primaryFontColor;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.donationOptions {
  margin-bottom: 10px;
  color: $primaryFontColor;
  padding: 4px;
  background-color: #e1efd6;
  border-radius: 8px;
  display: inline-flex;
  .option {
    font-size: 14px;
    font-family: $primaryFontFamily;
    color: $primaryFontColor;
    font-weight: 600;
    padding: 8px 12px;
    // padding: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .active {
    background-color: #ffffff;
    height: 40px;
    color: '#68B030';
    border-radius: 6px;
  }
}
.submitButton {
  background-image: linear-gradient(
    103deg,
    $primaryColor 5%,
    $primaryDarkColor 116%
  );
  border-radius: 20px;
  align-self: center;
  color: #fff;
  font-weight: bold;
  height: 34px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
.cancelButton {
  border: 1px solid $primaryColor;
  border-radius: 20px;
  color: $primaryColor;
  font-weight: bold;
  height: 34px;
  width: 130px;
  &:hover {
    cursor: pointer;
  }
}
// .submitButton:hover,
// .cancelButton:hover {
//   transform: translateY(-7px);
//   cursor: pointer;
// }
.formErrors {
  // position: absolute;
  font-family: $primaryFontFamily;
  font-size: $fontXSmall;
  color: $dangerColor;
  margin-left: 6px;
  margin-top: 6px;
  max-width: 320px;
}

.donationNote {
  font-style: italic;
}

.filterContent {
  width: 30%;
  display: none;
  flex-direction: column;
}
.topAdSpace {
  margin-top: 20px;
  width: auto;
  height: 250px;
}

.rightAdSpace {
  margin-top: 20px;
  margin-left: 20px;
  display: none;
  width: auto;
  height: 250px;
}

@include smTabletView {
  .detailGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mdTabletView {
  .rightAdSpace {
    display: block;
  }
}

.record {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  // "height: 0" not work with css transitions
  max-height: 121px;
}

@include lgLaptopView {
  .filterContent {
    display: flex;
  }

  .topAdSpace {
    display: none;
  }

  .accountHistory {
    width: 70%;
    > .historyList {
      width: 100%;
      > .record.selected {
        background-color: $backgroundColorDark;
        border-radius: 10px;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedPause {
        background-color: rgba(255, 255, 204, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedCancel {
        background-color: rgba(241, 130, 141, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
    }
  }

  .filterContainer {
    width: 30%;
    display: flex;
    margin-left: 20px;
  }

  .filterRow {
    display: none;
  }

  .modal {
    display: none;
  }

  .modalContainer {
    display: none;
  }

  .detailGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include lgLaptopView {
  .recurrency {
    width: 70%;
    > .recurrencyList {
      width: 100%;
      > .record.selected {
        background-color: $backgroundColorDark;
        border-radius: 10px;
        // box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedPause {
        background-color: rgba(255, 255, 204, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
      .record.selectedCancel {
        background-color: rgba(241, 130, 141, 0.3);
        // border-radius: 10px;
        box-shadow: 1px 2px 8px -6px #707070;
        max-height: 1000px;
        color: $primaryFontColor;
        > .detailContainer {
          display: flex;
        }
      }
    }
  }

  .filterContainer {
    width: 100%;
    display: flex;
    margin-left: 20px;
  }

  .filterRow {
    display: none;
  }

  .modal {
    display: none;
  }

  .modalContainer {
    display: none;
  }

  .detailGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
// Loader for Buttons
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 16px !important;
  height: 16px !important;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.headerCloseIcon {
  // height: 32px;
  // width: 32px;
  min-width: 32px;
  display: flex;
  color: $primaryFontColor;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.headerCloseIcon:hover {
  cursor: pointer;
}
