@import '../../../../../theme/theme';

.addressManagementTitle {
  font-size: $fontLarge;
  font-weight: 600;
  margin: 40px 0 20px;
}

.addressContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 8px;
  font-size: $fontSmall;
  font-weight: 400;
  padding: 24px 10px 24px 24px;
  .address {
    max-width: 346px;
  }
  .kebabMenuButton {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    svg {
      height: 20px;
      width: 12px;
    }
    &:hover {
      background-color: rgba(120, 120, 120, 0.1);
    }
  }
}

.addressSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  .addressTag {
    padding: 5px 10px;
    max-width: 112px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: $fontXSmall;
    line-height: 16px;
    font-weight: 600;
  }
}

.addAddressButton {
  width: 342px;
  height: 40px;
  margin-top: 40px;
}

.primary {
  background: rgba(0, 122, 73, 1);
}

.mailing {
  background: rgba(45, 156, 219, 1);
}

.addressActions {
  min-width: 184px;
  cursor: pointer;
  padding: 2px 12px;
  list-style: none;
  .action {
    font-size: 12px;
    font-weight: 400;
  }
}

.addressActions li {
  padding: 8px 0px;
}

.addressActions li:not(:last-child) {
  border-bottom: 1px solid rgba(189, 189, 189, 1);
}
