@import '../../../../../theme/theme';

.addressManagement {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.addressManagementTitle {
  font-size: $fontLarge;
  font-weight: 600;
}

.addressListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.singleAddressContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 8px;
  font-size: $fontSmall;
  font-weight: 400;
  padding: 24px 10px 24px 24px;
  .kebabMenuButton {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    svg {
      height: 20px;
      width: 12px;
    }
    &:hover {
      background-color: rgba(120, 120, 120, 0.1);
    }
  }
}

.addressDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  span {
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: $fontXSmall;
    line-height: 16px;
    font-weight: 600;
  }
  p {
    margin-top: 2px;
  }
}

.primary {
  background: rgba(0, 122, 73, 1);
}

.mailing {
  background: rgba(45, 156, 219, 1);
}

.addressActions {
  min-width: 184px;
  cursor: pointer;
  padding: 2px 12px;
  list-style: none;
  .action {
    font-size: 12px;
    font-weight: 400;
  }
}

.addressActions li {
  padding: 8px 0px;
}

.addressActions li:not(:last-child) {
  border-bottom: 1px solid rgba(189, 189, 189, 1);
}
// address action form
.header {
  font-weight: 700;
  font-size: $fontSixteen;
}
.addressFormLayout {
  min-width: 565px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .addressForm {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 25px;
    button {
      flex: 1 1;
    }
  }
}
.addrConfirmContainer {
  width: 468px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .address {
    width: 100%;
    background: rgba(242, 242, 242, 0.5);
    border-radius: 8px;
    font-size: $fontSmall;
    font-weight: 400;
    padding: 24px;
  }
  .buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 34px;
    button {
      flex: 1 1;
    }
  }
}

@include xsPhoneView {
  .addressFormLayout {
    min-width: fit-content;
    width: 95%;
    .buttonContainer {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  .addrConfirmContainer {
    width: 95%;
    .buttonContainer {
      flex-direction: column;
      gap: 8px;
    }
  }
}
// Form spinner

.addressMgmtSpinner {
  display: flex;
  justify-content: center;
}
