@import '../../../../../theme/theme';

$border-radius-sm: 8px;
$border-radius-lg: 16px;
$padding-standard: 24px;

@mixin flex-container($direction: row, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin centered-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin modal-container {
  @include centered-absolute;
  padding: 20px;
  border-radius: $border-radius-lg;
  background: rgba(255, 255, 255, 1);
}

// Base Components
.addressContainer {
  @include flex-container;
  width: 100%;
  background: rgba(242, 242, 242, 0.5);
  border-radius: $border-radius-sm;
  font-size: $fontSmall;
  font-weight: 400;
  padding: $padding-standard 10px $padding-standard $padding-standard;
  .address {
    max-width: 346px;
  }
}

.kebabMenuButton {
  @include flex-container(row, center);
  align-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  svg {
    height: 20px;
    width: 12px;
  }
  &:hover {
    background-color: rgba(120, 120, 120, 0.1);
  }
}

.addressSubContainer {
  @include flex-container(column, center);
  gap: 16px;
  .addressTag {
    padding: 5px 10px;
    max-width: 112px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: $fontXSmall;
    line-height: 16px;
    font-weight: 600;
  }
}

.addNewAddressButton {
  width: 342px;
  height: 40px;
  margin-top: 40px;
}

// Address Types
.primary {
  background: rgba(0, 122, 73, 1);
}

.mailing {
  background: rgba(45, 156, 219, 1);
}

// Address Actions
.addressActions {
  min-width: 184px;
  cursor: pointer;
  padding: 2px 12px;
  list-style: none;
  .action {
    font-size: $fontXSmall;
    font-weight: 400;
  }
  li {
    padding: 8px 0px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(189, 189, 189, 1);
    }
  }
}

// Modal Forms

.addressActionHeader {
  font-weight: 700;
  font-size: $fontSixteen;
}
.addressFormContainer {
  @include flex-container(column);
  @include modal-container;
  min-width: 565px;
  gap: 40px;
  .addressForm {
    @include flex-container(column);
    gap: 23px;
  }
  .buttonContainer {
    @include flex-container;
    gap: 8px;
    button {
      min-width: 252px;
      min-height: 40px;
    }
  }
}
.addrConfirmContainer {
  @include flex-container(column);
  @include modal-container;
  min-width: 468px;
  gap: 10px;
  .address {
    width: 100%;
    background: rgba(242, 242, 242, 0.5);
    border-radius: $border-radius-sm;
    font-size: $fontSmall;
    font-weight: 400;
    padding: $padding-standard;
  }

  .buttonContainer {
    @include flex-container;
    margin-top: 40px;
    button {
      min-width: 206px;
      min-height: 40px;
    }
  }
}

// Mobile style
@include xsPhoneView {
  .addressFormContainer {
    min-width: fit-content;
    width: 95%;
    .buttonContainer {
      @include flex-container(column);
      button {
        width: 100%;
      }
    }
  }
  .addrConfirmContainer {
    width: 95%;
    min-width: fit-content;
    .buttonContainer {
      flex-direction: column;
      gap: 8px;
    }
  }
}

// Form spinner

.addressMgmtSpinner {
  @include flex-container(row, center);
}
