@import '../../../../../src//theme/theme';


.mapMainContainer {
    position: relative;
    width: 100%;
    padding-bottom: 120px;
}

.areaRestoredContainerActive,
.areaRestoredContainer,
.plantedTreesContainer,
.plantedTreesContainerActive {
    border:  1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 183px;
    cursor: pointer;
    height: 104px;
}

.areaRestored,
.countTrees {
    font-weight: 700;
    font-size: 36px;
    padding-left: 20px;   
}
.countTrees {
    padding-right: 20px;
}

.areaRestoredLabelContainer,
.plantedTreesLabelContainer {
    display: flex;
    gap: 7px;
    padding-left: 22px;
    padding-top: 20px;
    padding-right: 22px;
    font-weight: bold;
    width: max-content;
    > .plantedTreesLabel {
        font-size: 16px;
    }
}


.plantedTreesContainer,
.plantedTreesContainerActive {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.areaRestoredContainerActive,
.areaRestoredContainer{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.areaRestoredContainerActive,
.plantedTreesContainerActive {
    background-color: #219653;
    color: #FFFFFF;  
}

.areaRestoredContainer,
.plantedTreesContainer {
    background-color: #FFFFFF99;
    .plantedTreesLabelContainer {
        color: #333333;
   }   
   .restoredUnit,
   .areaRestored,
   .countTrees {
       color: #219653;
   }
}

.valueContainer {
    display: flex;
    align-items: center;
}

.restoredUnit {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 30px;
    margin-left: 8px;
    margin-top: 5px;
}



.conservedAreaButtonContainerActive,
.conservedAreaButtonContainer {
    border:  2px solid #FFFFFF;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    max-width: fit-content;
    min-width: 183px;
    height: 104px;
     .labelContainer {
        display: flex;
        padding-left: 24px;
        padding-top: 20px;
        padding-right: 37px;
         .conservedLabel {
            margin-left: 9px;
            font-weight: bold;
            font-size: 16px;
        }
    }
   .conservedAreaValue {
    display: flex;
    padding-left: 20px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    .value {
        font-size: 36px;
        font-weight: 700;
    }
    .unit {
        font-size: 1.5rem;
        font-weight: 400;
        margin-right: 60px;
        margin-top: 5px;
        margin-left: 8px;
    }
  }
}

.conservedAreaButtonContainer {
    background-color: #FFFFFF99;
    color: #48AADD
}

.conservedAreaButtonContainerActive {
    background-color: #48AADD;
    color: #FFFFFF; 
}

.InfoContainer {
    border:  2px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #2196531A;
    border-radius: 12px;
    width: max-content;
    padding-left: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 104px;
     > .labelContainer {
     display: flex;
     padding-right: 24px;
     font-weight: 700;
     font-size: 16px;
     gap: 7px;
     }
     > .value {
         font-size: 36px;
         font-weight: 700;
         padding-right: 20px;
     }
 }
 

.restoredAreaContainer {
    width: 183px;
    height: 104px;
    background-color: #219653;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF ;
    > .restoredAreaLabel {
        position: absolute;
        left: 232px;
        top: 20px
    }
}


.donationDetailContainer {
    display: flex;
    gap: 12px;
    @include lgLaptopView {
        margin-left: 0px; 
    }
}




.mainContainer {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    border-radius: 12px;
    max-width: 1172px;
    @include xsPhoneView {
        padding-left: 14px;
        padding-right: 14px;
    }
    
    > .treeCounterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #27AE601A;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 370px;
        width: 100%;
        > .treeCounter {
            margin-top: 188px;
        }
    }
}


.donationListMainContainer {
    background-color: #27AE601A;
    background-image: url('../../../../../public/assets/images/treeCounterBackround.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    > .text {
        position: absolute;
        font-weight: bold;
        font-size: 24px;
        top: 255px;
        left: 355px;
        @include xsPhoneView {
            font-size: 19px;
            left: 25px
        }

        @include mdTabletView {
            left: 120px;
        }
        @include lgLaptopView {
            left: 355px;
        }
        > .hrLine {
            width: 176px;
            border: 1px  solid #6FCF97;
            margin-left: 93px;
            margin-top: 16px;
            @include xsPhoneView {
                margin-left: 50px;
            }
        }
    }
  }

  .areaConservedContainer {
    background-image: url('../../../../../public/assets/images/conservedAreaSvg.svg');
    background-repeat: no-repeat;
    background-color:#48AADD1A;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 15px;
  }

  .mapButtonMainContainer {
    width: 100vw;
    padding-left: 42px;
    padding-right: 12px;
    overflow: hidden;
  }

  .mapButtonContainer {
    width: 100%;
    max-width: 82%;
    position: absolute;
    top: 510px;
    display : flex;
    gap: 12px;
    overflow: auto;
    left:auto;
  
    @include xsPhoneView {
        overflow: scroll;
        left: 45px
    };
    @include smTabletView  {
        overflow-y: hidden;
    }
    @include mdTabletView {
        left: 70px;
        overflow-y: hidden;
    }
    @include lgLaptopView{
        overflow-y: hidden;
    }
    @include  xlDesktopView{
        overflow-y: hidden;
    }
    @media screen and (min-width: 1400px) {
        overflow: hidden;
    }
   
  }

  .editButtonContainer {
    position: absolute;
    top: 180px;
    left: 465px;
    font-size: 14px;
    font-weight: bold;
    @include xsPhoneView {
        left: 115px;
    }
    @include smTabletView  {
        left: 225px;
    }
    @include mdTabletView {
        left: 220px;
    }
    @include lgLaptopView {
        left: 470px;
    }
  }

  .donationlistContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 35px;
    @include xsPhoneView {
        padding-left: 25px;
        padding-right: 25px;
    }
    @include mdTabletView {
        padding-left: 30px;
        padding-right: 30px;

    }
    @include lgLaptopView {
        padding-left: 100px ;
        padding-right: 100px;
    }
    > .donationDetail {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        background: #FFFFFF;
        align-items: center;
        gap: 30px;
        @include xsPhoneView {
            height: max-content;
            flex-direction: column;
            gap: 15px
        }
      
        > .image {
            width: 285px;
            margin-left: 20px;
            border-radius: 12px;
            padding-top: 25px;
            padding-bottom: 25px;
           
            img {
                border-radius: 12px;
            };
            @include mdTabletView {
                margin-top: 0px;
            }
            @include xsPhoneView {
                width: 274px;
                margin-left: 0px;
                padding-bottom: 0px;
            }
        }
        
    }
  }

  .donateContainer {
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap:100px;
    padding-right: 25px;
    margin-left: 0px;
    @include xsPhoneView {
        flex-direction: row;
        gap: 70px;
        margin-left: 17px;
        justify-content: flex-start;
    }
}

  .donate {
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: underline;
    color: #68B030;
    cursor: pointer;
    @include mdTabletView {
        font-size: 14px;
    }
}

.projectDetailContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
    flex-direction: row;
    @include xsPhoneView {
        gap : 10px;
        padding-top: 0px;
        flex-direction: column;
    }
}
  .projectDetail {
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include xsPhoneView {
        width: 275px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 18px;
        margin-top: 0px;
    }
  }

  .projectName {
    font-size: 24px;
    font-weight: bold;
    @include xsPhoneView {
        font-size: 16px;
    }
    @include mdTabletView {
        font-size: 16px;
        margin-top: 6px;
    }
    @include lgLaptopView {
        font-size: 24px;
    }
  }

  .areaConservedMainContainer {
    width: 100%;
    max-width: 1165px;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-top: 100px;
    position: relative;
    > .textContainer {
        background-color: #48AADD1A ;
        width: 100%;
        height: 200px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        }
  }

  @include xsPhoneView {
    .areaConservedMainContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
}
  
  .conservedAreaText {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 65px;
    left: 500px;
    > .hrLine {
        width: 176px;
        border: 1px solid #48AADD;
        margin-top: 16px;
        margin-left: 8px;
    }
  }
  @include xsPhoneView {
    .conservedAreaText {
        left: 100px
    }
}

@include smTabletView {
    .conservedAreaText {
        left: 485px
    }
}

@include mdTabletView {
    .conservedAreaText {
        left: 245px
    }
}
@include lgLaptopView {
    .conservedAreaText {
        left: 430px
    }
}

.plantingDate {
    font-size: 14px ;
    font-weight: 700;
}

.treeCount {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.loadProjectButtonContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.loadconservation,
.loadTreePlantaion {
    max-width: fit-content;
}
.loadconservation {
    background-color: #48AADD !important;
}

.swipeConatiner {
    position: absolute;
    top: 625px;
    left: 320px;
    @include xsPhoneView {
     left: 200px;
    }
    @include smTabletView {
        visibility: visible;
    }
    @include mdTabletView {
        left: 315px;
        visibility: visible;
    }
    @include lgLaptopView {
        left: 400px;
        visibility: visible;
    }
    @include xlDesktopView  {
        left: 595px;
        visibility: visible;
    }
    @media screen and (min-width: 1400px) {
        visibility: hidden
    }
}

.circularProgressContainer {
    padding-left: 70px;
    padding-top: 30px;
}

.registerTreeIcon {
    padding-left: 30px;
    @include xsPhoneView {
        padding-left: 90px;
    }
}

.treePlantationButtonConatiner {
    display: flex;
}