@import '../../../../../src//theme/theme';


.mapMainContainer {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}



.plantedTreesContainer {
    display: flex;
    flex-direction: column;
    background-color: #219653;
    border-radius: 12px;
    cursor: pointer;
    height: 104px;
    > .plantedTreesLabelContainer {
        display: flex;
        gap: 7px;
        padding-left: 22px;
        padding-top: 20px;
        padding-right: 22px;
        font-weight: bold;
        width: max-content;
        > .plantedTreesLabel {
            font-size: 16px;
            color: #FFFFFF;
        }
    }
    > .countTrees {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.plantedTreesContainerX {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF99;
    border-radius: 12px;
    height: 104px;
    cursor: pointer;
    > .plantedTreesLabelContainer {
        display: flex;
        gap: 7px;
        padding-left: 22px;
        padding-top: 20px;
        padding-right: 22px;
        font-weight: bold;
        width: max-content;
        > .plantedTreesLabel {
            font-size: 16px;
            color: #333333;
        }
    }
    > .countTrees {
        font-weight: 700;
        font-size: 36px;
        color: #219653;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.conservedAreaContainer {
    position: relative;
    background-color: #FFFFFF99 ;
    border-radius: 12px;
    cursor: pointer;
    height: 104px;
    > .labelContainer {
        display: flex;
        padding-left: 24px;
        padding-top: 20px;
        padding-right: 37px;
        > .conservedLabel {
            margin-left: 9px;
            font-weight: bold;
            font-size: 16px;
        }
    }
  > .conservedAreaValue {
    display: flex;
    padding-left: 20px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    >.value {
        font-size: 36px;
        font-weight: 700;
        color: #48AADD;
    }
    >.unit {
        color:#48AADD;
        font-size: 30px;
        font-weight: 400;
        margin-right: 60px;
    }
  }
}

.conservedAreaContainerX {
    position: relative;
    background-color: #48AADD;
    border-radius: 12px;
    cursor: pointer;
    height: 104px;
    > .labelContainer {
        display: flex;
        padding-left: 24px;
        padding-top: 20px;
        padding-right: 37px;
        > .conservedLabel {
            margin-left: 9px;
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;
        }
    }
  > .conservedAreaValue {
    display: flex;
    padding-left: 20px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    >.value {
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
    }
    >.unit {
        color:#FFFFFF;
        font-size: 30px;
        font-weight: 400;
        margin-right: 60px;
    }
  }
}

.InfoContainer {
    display: flex;
    flex-direction: column;
    background-color: #2196531A;
    border-radius: 12px;
    width: max-content;
    padding-left: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 104px;
     > .labelContainer {
     display: flex;
     padding-right: 24px;
     font-weight: 700;
     font-size: 16px;
     gap: 7px;
     }
     > .value {
         font-size: 36px;
         font-weight: 700;
         padding-right: 20px;
     }
 }
 

.restoredAreaContainer {
    width: 183px;
    height: 104px;
    background-color: #219653;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF ;
    > .restoredAreaLabel {
        position: absolute;
        left: 232px;
        top: 20px
    }
}


.donationDetailContainer {
    display: flex;
    gap: 12px;
    @include lgLaptopView {
        margin-left: 0px; 
    }
}




.mainContainer {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    border-radius: 12px;
    max-width: 1172px;
    @include xsPhoneView {
        padding-left: 14px;
        padding-right: 14px;
    }
    
    > .treeCounterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #27AE601A;
        border-radius: 12px;
        height: 370px;
        width: 100%;
        > .treeCounter {
            margin-top: 188px;
        }
    }
}


.donationListMainContainer {
    background-color: #27AE601A;
    background-image: url('../../../../../public/assets/images/treeCounterBackround.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    > .text {
        position: absolute;
        font-weight: bold;
        font-size: 24px;
        top: 255px;
        left: 355px;
        @include xsPhoneView {
            font-size: 19px;
            left: 25px
        }

        @include mdTabletView {
            left: 120px;
        }
        @include lgLaptopView {
            left: 355px;
        }
        > .hrLine {
            width: 176px;
            border: 1px  solid #6FCF97;
            margin-left: 93px;
            margin-top: 16px;
            @include xsPhoneView {
                margin-left: 50px;
            }
        }
    }
  }

  .AreaConservedContainer {
    background-image: url('../../../../../public/assets/images/conservedAreaSvg.svg');
    background-repeat: no-repeat;
    background-color:#48AADD1A;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
   
  }

  .mapButtonContainer {
    width: 100%;
    position: absolute;
    top: 510px;
    display : flex;
    gap: 12px;
    overflow: hidden;
    left:10px;
  
    @include xsPhoneView {
        overflow: scroll;
        left: 45px
    };
    @include smTabletView  {
        overflow: scroll;
    }
    @include mdTabletView {
        left: 70px;
        overflow: scroll;
    }
    @include lgLaptopView{
        overflow-x: hidden;
    }
   
  }

  .editButtonContainer {
    position: absolute;
    top: 180px;
    left: 465px;
    font-size: 14px;
    font-weight: bold;
    @include xsPhoneView {
        left: 115px;
    }
    @include smTabletView  {
        left: 225px;
    }
    @include mdTabletView {
        left: 220px;
    }
    @include lgLaptopView {
        left: 470px;
    }
  }

  .donationlistContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 35px;
    margin-top: 340px;
    @include xsPhoneView {
        padding-left: 25px;
        padding-right: 25px;
    }
    @include mdTabletView {
        padding-left: 30px;
        padding-right: 30px;

    }
    @include lgLaptopView {
        padding-left: 100px ;
        padding-right: 100px;
    }
    > .donationDetail {
        display: flex;
        height: 181px;
        width: 100%;
        border-radius: 12px;
        background: #FFFFFF;
        align-items: center;
        gap: 30px;
        @include xsPhoneView {
            height: max-content;
            flex-direction: column;
            gap: 15px
        }
      
        > .image {
            width: 285px;
            height: 141px;
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 12px;
            background: #6FCF97;
            img {
                border-radius: 12px;
            };
            @include mdTabletView {
                margin-top: 0px;
            }
            @include xsPhoneView {
                width: 274px;
                margin-left: 0px;
            }
        }
        
    }
  }

  .donateContainer {
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    @include xsPhoneView {
        margin-left: 16px;
    }
}

  .donate {
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: underline;
    color: #68B030;
    cursor: pointer;
    @include mdTabletView {
        font-size: 14px;
    }
}

.projectDetailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-bottom: 25px;
    @include xsPhoneView {
        gap : 10px
    }
}
  .projectDetail {
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    @include xsPhoneView {
        width: 275px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 18px;
        margin-top: 0px;
    }
  }

  .projectName {
    font-size: 24px;
    font-weight: bold;
    @include xsPhoneView {
        font-size: 16px;
    }
    @include mdTabletView {
        font-size: 16px;
        margin-top: 6px;
    }
    @include lgLaptopView {
        font-size: 24px;
    }
  }

  .AreaConservedMainContainer {
    width: 100%;
    max-width: 1165px;
    height: 804px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-top: 100px;
    border-radius: 12px;
    position: relative;
    > .textContainer {
        background-color: #48AADD1A ;
        width: 100%;
        height: 200px;
        }
  }

  .conservedAreaText {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 65px;
    left: 500px;
    > .hrLine {
        width: 176px;
        border: 1px solid #48AADD;
        margin-top: 16px;
        margin-left: 8px;
    }
  }