
.singleMarkerContainer {
    >.mapboxglPopup {
        box-shadow: none;
        border-radius: 0px;
        overflow:auto;
    }
}

.popUpContainer {
    height: 65px;
    width: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpLabel {
    font-weight: 700;
    font-size: 14px;
}

.popUpDate {
    font-size: 8px;
    margin-left: 5px;
}

.markerContainer {
    height: 26px;
    width: 56px;
    background-color: #68B03033 ;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    >.svgContainer {
        width: 22px;
        height: 22px;
        background-color:#FFFFFF ;
        border-radius: 50%;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >.trees{
         font-weight: 700;
         font-size: 16px; 
    }
}

.clusterMarkerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 25px;
    border: 1px solid;
    border-radius: 40px;
    border-color:#FFFFFF ;
    background-color:#219653;
    padding-left: 1px;
    padding-right: 8px;
    >.svgContainer {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background-color: #FFFFFF;
        padding-top: 3px;
        padding-left: 3px;
    }
    >.totalTreeCount {
        padding-bottom: 2px;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
    }
}
