@import './../../../../theme/theme';


.iconContainer {
    border-radius: 50%;
    position: absolute;
    top: 32px;
    right: 32px;
    height: 37px;
    width: 37px;
    background-color: #c5f097;
    .icon {
        margin-left: 6px;
        margin-top: 6px;
    }
}

.buttonContainer {
    display: flex;
    gap: 12px;
    padding-top: 28px;
}

.userDescription {
    margin-top: 15px;
}


.userInfoContainer {
    position: absolute;
    left: 105px;
    bottom : 155px;
    .userInfo {
        font-size: 45px;
        font-weight: bold;
    }
}
