@import '../../theme/theme';

.carbonCaptureMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carbonCaptureInfoContainer {
  display: flex;
  height: 111px;
  flex-direction: column;
  gap: 12px;
  padding-left: 15.5px;
  padding-right: 15.5px;
}

.carbonCaptureLabelMainContainer {
  font-size: $fontXXSmall;
  display: flex;
  justify-content: space-between;
}

.carbonCaptureLabelContainer {
  display: flex;
  align-items: center;
  > .carbonCapture {
    display: flex;
    font-weight: 700;
    gap: 2px;
    p {
      font-weight: 400;
    }
  }
  .unit {
    margin-left: 1px;
  }
}

.carbonCaptureDetailContainer {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border: 1px solid rgba(111, 207, 151, 0.02);
  background: linear-gradient(
      0deg,
      rgba(33, 150, 83, 0.1) 0%,
      rgba(33, 150, 83, 0.1) 100%
    ),
    $light;

  height: 70px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carbonCaptureIndicator {
  max-width: 274px;
  height: 11px;
  display: flex;
  border-radius: 3px;

  .beforeIntervationIndicator {
    width: 100%;
    height: 100%;
    background: rgba(0, 122, 73, 1);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .byProjectIndicator {
    width: 100%;
    background: rgba(104, 176, 48, 1);
    height: 100%;
  }
  .projectPotential {
    width: 100%;
    background: $light;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.carbonCaptureDataContainerMain {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.carbonCaptureDataContainer {
  display: flex;
  padding-left: 16px;
  padding-top: 4px;
  padding-right: 16px;
}
.beforeIntervationData {
  color: $primaryColorNew;
  font-size: $fontXXXSmallNew;
  font-weight: 700;
}
.beforeIntervationLabel {
  font-size: $fontXXXSmallNew;
  font-weight: 400;
}
.beforeIntervationDate {
  font-size: 6px;
  color: $nonDonatableProjectBackgroundColor;
}
.byProjectData {
  color: $primaryColor;
  font-size: $fontXXXSmallNew;
  font-weight: 700;
}
.byProjectLabel {
  font-size: $fontXXXSmallNew;
  font-weight: 400;
}
.byProjectDate {
  font-size: 6px;
  color: $nonDonatableProjectBackgroundColor;
}
.sitePotentialDataContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  .sitePotentialData {
    color: #333;
    font-size: $fontXXXSmallNew;
    font-weight: bold;
  }
  .sitePotentialLabel {
    font-size: $fontXXXSmallNew;
    font-weight: 400;
  }
}

.carbonCaptureModal {
  max-width: 338px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $light;
}

.infoIconContainer {
  cursor: pointer;
}

.seeMoreButton {
  background: linear-gradient(0deg, $primaryColorNew 0%, $primaryColorNew 100%),
    $light;
  width: 100%;
  height: 27px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seeMoreLabel {
  font-size: $fontXXXSmallNew;
  font-weight: 700;
  color: $light;
}

.downArrow {
  margin-left: 5px;
  margin-bottom: 5px;
}

.horizontalLine {
  position: relative;
  top: -8px;
}

.carbonCaptureValue {
  margin-left: 2px;
  font-weight: 400;
}

.areaCount {
  margin-right: 2px;
  font-weight: 700;
}
