.tooltipContainer {
    min-width: 100px;
    .header {
        padding: 10px 10px 8px 10px;
        .title {
            color: #333;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .subtitle {
            font-size: 8px;
            font-weight: 400;
        }
    }
    .body {
        background-color: rgba(33, 150, 83, 0.10);
        padding: 4px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .yoyValue {
            color: #377E36;
            font-weight: 700;
            font-size: 9px;
        }
        .date {
            font-size: 6px;
            font-weight: 500;
            color: #000;
            opacity: 0.5;
        }
    }
}

.container {
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .graphHeading {
        font-size: 10px;
        color: #2F3336;
        display: flex;
        align-items: center;
        padding:0 15px;
        gap: 2px;
        font-weight: 700;
        p {
            font-weight: 400;
        }
       
    }
    .graphSubheading {
        color: #BDBDBD;
        font-size: 8px;
        text-transform: lowercase;
        padding:0 15px;
    }
}

.titleContainer {
    width: 299px;
}
.newInfoIcon {
    margin-left: auto;
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}