.mapContainer {
  width: 100vw;
  margin-top: 105px;
  height: calc(100vh - 125px);
  border-radius: 16px;
  > div > div > div {
    border-radius: 12px;
  }
  position: relative;
}

.mapNavigationContainer {
  position: absolute;
  bottom: 75px;
  right: 48px;
}
