name: 'ESLint error report'
on:
  pull_request:
    branches:
      - develop
      - tenant/*
      - main
jobs:
  ubuntu-job:
    name: 'ESLint on Ubuntu'
    runs-on: ubuntu-latest # Can be self-hosted runner also
    steps:
      - name: 'Checkout the repository'
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: 'Install Node Modules'
        run: npm install

      - name: 'Running ESLint only showing errors'
        run: npm run lint:errors
